{% load gafc_tags %}
<div class="input-group {% if 'is-invalid' in widget.attrs.class %}is-invalid{% endif %}">
    <input type="text" class="{{ widget.attrs.class }} gafc-typeahead-search rounded-left" typeahead-source="{% url widget.source %}" {% if widget.callback is not None %}typeahead-callback="{{ widget.callback }}"{% endif %} {% include "django/forms/widgets/attrs.html" %}/>
    <div class="input-group-append">
        <span class="btn btn-danger rounded-right pl-0 pr-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
    </div>
<input type="hidden" name="{{ widget.name }}" class="gafc-typeahead-value" {% if widget.value is not None %}value="{{ widget.value }}"{% endif %} />
</div>