{% extends "formation/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Comptes formation {% endblock %}

{% block content %}
<h3> Comptes formation </h3>
<div class="row">
    <div class="card col">
        <h5 class="card-header">
            Comptes formations
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">Adhérent</div>
                <div class="col-md-2 text-md-right">Disponible</div>
                <div class="col-md-2 text-md-right">Alloué</div>
            </div>
            {% for pid, v in vals.items %}
            <div class="row {% cycle 'alert-secondary' '' %}">
                <div class="col-md-8"> <a href="{% url 'valorisation_person' pid %}">{{ v.person.first_name }} {{ v.person.last_name }}</a> </div>
                <div class="col-md-2 col-6 text-md-right"> {{ v.given|add:v.used|floatformat:2 }} </div>
                <div class="col-md-2 col-6 text-md-right"> {{ v.given|floatformat:2 }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}