{% extends "formation/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Fiche valorisation - {{ P.first_name }} {{ P.last_name }} {% endblock %}

{% block content %}
<h3> Fiche valorisation </h3>
<div class="row">
    <div class="col-12 card">
        <h5 class="card-header"><a href="{% url 'person' P.id %}">{{ P.first_name }} {{ P.last_name }}</a></h5>
        <div class="card-body">
        
            <div class="row pb-2 pt-2 alert-primary">
                <h6 class="col-2">Titre</h6> 
                <h6 class="col-2">Saison</h6>
                <h6 class="col-2">Expiration</h6>
                <h6 class="col-2">Payé par</h6>
                <h6 class="col-2">Payable à</h6>
                <h6 class="col-1">Montant</h6>
                <h6 class="col-1">Dépensé</h6>
            </div>
            
            {% for vv in valos %}
            {% with vv.0 as v %}
            <div class="row {% if v.is_expired %}alert-danger{% else %}{% cycle 'bg-light' '' %}{% endif %}">
                <div class="col-2">
                    {% if vv.1 is not None %}<a class="btn btn-light p-1" data-toggle="collapse" href="#form-fin-{{ v.id }}" >{% b_icon 'caret-down-square' 25 %}</a>{% endif %}
                    {{ v.title }}
                </div> 
                <div class="col-2">{{ v.season.name }}</div>
                <div class="col-2">{{ v.expiry|date:'d/m/Y' }}</div>
                <div class="col-2"><a href="{% url 'category' v.category_from.id %}">{{ v.category_from.name }}</a></div>
                <div class="col-2">{% if v.category_to is not None %}<a href="{% url 'category' v.category_to.id %}">{{ v.category_to }}</a>{% if v.fincat_to is not None %} / {{ v.fincat_to }}{% endif %}{% endif %}</div>
                <div class="col-1 text-right">{{ v.amount|floatformat:2 }}</div>
                <div class="col-1 text-right"><a data-toggle="collapse" href="#payments-{{ v.id }}" >{{ v.total_used|floatformat:2 }}</a></div>
                {% if vv.1 is not None %}
                <div class="col-12 collapse {% if vv.1.errors %}show{% endif %}" id="form-fin-{{ v.id }}">
                    {% crispy vv.1 %}
                </div>
                {% endif %}
                <div class="col-12 collapse" id="payments-{{ v.id }}">
                    {% for p in v.valorisationpaymentlink_set.all %}
                    <div class="row">
                        {% if p.payment is not None %}
                        <div class="col-2"><a href="{% url 'payment' p.payment.id %}">P{{ p.payment.id }}</a></div>
                        <div class="col-2">{{ p.payment.season.name }}</div>
                        <div class="col-2">{{ p.date|date:'d/m/Y' }}</div>
                        <div class="col-2">{{ p.payment.category }} / {{ p.payment.financial }}</div>
                        <div class="col-2">{{ p.payment.person }}</div>
                        <div class="col-1">{{ p.payment.method|payMethod }}</div>
                        {% elif p.ipayment is not None %}
                        <div class="col-2"><a href="{% url 'transfer' p.ipayment.id %}">T{{ p.ipayment.id }}</a></div>
                        <div class="col-2">{{ p.ipayment.season.name }}</div>
                        <div class="col-2">{{ p.date|date:'d/m/Y' }}</div>
                        <div class="col-2">{{ p.ipayment.category_d }} / {{ p.ipayment.financial_d }}</div>
                        <div class="col-2">{{ p.ipayment.category_c }} / {{ p.ipayment.financial_c }}</div>
                        <div class="col-1">{{ p.ipayment.method|payMethod }}</div>
                        {% else %}
                        <div class="offset-2"></div>
                        <div class="col-2">{{ p.date|date:'d/m/Y' }}</div>
                        <div class="offset-6"></div>
                        {% endif %}
                        <div class="col-1 text-right">{{ p.amount|floatformat:2 }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
    </div>
            
    <div class="col-12 card">
        <h5 class="card-header"> Diplômes </h5>
        <div class="card-body">
            {% if form_d %}
            <a href="#form-diploma" data-toggle="collapse" class="btn btn-secondary"> Ajouter un diplôme </a>
            <div class="collapse" id="form-diploma">
                {% crispy form_d %}
            </div>
            <div class="row pb-2 pt-2 mt-2 alert-primary">
                <div class="col-md-4">Diplôme</div>
                <div class="col-md-4">Obtention</div>
                <div class="col-md-4">À renouveller avant</div>
            </div>
            {% endif %}
            {% for d in diploma %}
            <div class="row {% cycle 'bg-light' '' %}">
                <div class="col-md-4">{{ d.title }}</div>
                <div class="col-md-4">{{ d.obtain_date|date:'d/m/Y' }}</div>
                <div class="col-md-4">{{ d.renewal_before|date:'d/m/Y' }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
        
{% endblock %}