{% extends "formation/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Règles de valorisations {% endblock %}

{% block content %}
<div class="row">
    {% if 'valorisation_rule_save' in self.forms %}
    <div class="col-12">
        <a class="btn btn-secondary" data-toggle="collapse" href="#formAddRule" role="button" aria-expanded="false" aria-controls="formAddRule">Ajouter une règle</a>
        <div class="row">
            <div class="collapse card col-md-8 {% if self.forms.valorisation_rule_save.errors.len > 0 or self.forms.valorisation_rule_save.instance.pk is not None %}show{% endif %}" id="formAddRule">
                <h5 class="card-header">Ajouter une règle</h5>
                <div class="card-body">
                    {% crispy self.forms.valorisation_rule_save %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-12 card">
        <h5 class="card-header">Règles de valorisations </h5>
        <div class="card-body">
            <div class="row pb-2 pt-2 alert-primary d-none d-md-flex">
                <div class="col-2">Titre</div>
                <div class="col-1 text-right">Exclusion</div>
                <div class="col-1 text-right">Montant</div>
                <div class="col-1 text-right">Validité</div>
                <div class="col-2 text-right">Encadrement</div>
                <div class="col-2">Paiement à</div>
                <div class="col-2">Diplôme nécessaire</div>
                <div class="col-1"></div>
            </div>
            {% for r in rules %}
                <div class="row {% cycle 'bg-light' '' %}">
                    <div class="col-md-2">{{ r.title }}</div>
                    <div class="col-md-1 text-right">{% if r.exclusive_group is not None %}{{ r.exclusive_group }}{% endif %}</div>
                    <div class="col-4 col-md-1 text-right">{{ r.amount }}</div>
                    <div class="col-4 col-md-1 text-right">{{ r.validity }}</div>
                    <div class="col-4 col-md-2 text-right">{% if r.staffing_min is not None %}{{ r.staffing_min }}{% endif %} - {% if r.staffing_max is not None %}{{ r.staffing_max }}{% endif %}</div>
                    <div class="col-8 col-md-2">{% if r.category_to is not None %}{{ r.category_to }} / {{ r.fincat_to }}{% endif %}</div>
                    <div class="col-4 col-md-2">{{ r.valid_diploma|yesno:'Oui,Non' }}</div>
                    <div class="col-md-1">
                        {% if request.user.fullperms.formation.change_valorisationrule %}<a class="btn btn-primary p-1" href="{% url 'valorisation_rules_mod' r.id %}">{% b_icon 'pencil-square' 14 %}</a>{% endif %}
                        {% if request.user.fullperms.formation.delete_valorisationrule %}<a class="btn btn-danger p-0" href="{% url 'valorisation_rules_del' r.id %}">{% b_icon 'x' 24 %}</a>{% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
    
