{% extends "formation/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Valorisations bénévoles {% endblock %}

{% block content %}
<h3> Valorisations bénévoles </h3>
<div class="row">
    <div class="col-12 card">
        <h5 class="card-header">Valorisations {{ season.name }}</h5>
        <div class="card-body">
        
            {% if self.forms.add_valo %}
            <a href="#formAddValo" class="btn btn-secondary" data-toggle="collapse" >Ajouter une valorisation</a>
            <div class="collapse" id="formAddValo">
                  {% crispy self.forms.add_valo %}
            </div>
            {% endif %}
        
            {% for k,s in staffing.items %}
                {% if forloop.first %}
                    <div class="row pb-2 pt-2 alert-primary d-none d-md-flex">
                        <div class="col-2"></div>
                        <div class="col-1 text-right">Journées</div>
                        <div class="col-2">Catégorie principale</div>
                        <div class="col-4">Valorisation potentielle</div>
                        <div class="col-3">Valorisation accordée</div>
                    </div>
                {% endif %}
                
                <div class="row {% cycle 'bg-light' '' %}">
                    <div class="col-md-2"><a href="{% url 'valorisation_person' s.total.person.id %}">{{ s.total.person.first_name }} {{ s.total.person.last_name }}</a> {% if s.total.has_diploma > 0%}{% b_icon 'bookmark-check-fill' %}{% endif %}</div>
                    <div class="col-4 col-md-1 text-right">{{ s.total.time }} </div>
                    <div class="col-8 col-md-2">{% if s.total.category is not None %}<a href="{% url 'category' s.total.category.id %}">{{ s.total.category }}</a>{% endif %}</div>
                    <div class="col-md-4">
                        {% for k,rr in s.total.rules.items %}
                            {% for r in rr %}
                            {% if request.user.fullperms.formation.add_valorisation %}
                                <form method="POST">
                                <div class="row">
                                {% csrf_token %}
                                <input type="hidden" name="whattodo" value="add_valo" />
                                <input type="hidden" name="rule" value="{{ r.id }}" />
                                <input type="hidden" name="person" value="{{ s.total.person.id }}" />
                                <div class="input-group col-12 {% if forloop.last %} mb-2 {% endif %}{% if forloop.first and forloop.parentloop.first %}mt-2{% endif %}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ r.title }}</span>
                                    </div>
                                    <select class="custom-select" name="category">
                                        {% for c in g_categories %}
                                        <option value="{{ c.id }}" {% if c.id == s.total.category.id %}selected{% endif %}>{{ c }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary p-0">{% b_icon 'plus' 32 %}</button>
                                    </div>
                                </div>
                                </div>
                                </form>
                            {% else %}
                                <div class="row">
                                    <div class="col-12">{{ r.title }}</div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        {% for v in s.total.valo %}
                        <div class="row">
                            <div class="col-6">{{ v.title }}</div>
                            <div class="col-6">{{ v.category_from }}</div>
                        </div>
                        {% endfor %}  
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    
        
{% endblock %}