{% extends "formation/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Compte des réunions {% endblock %}

{% block content %}
<h3> Réunions </h3>
<div class="row">
    <div class="col-12 card">
        <h5 class="card-header">Réunions {{ season.name }}</h5>
        <div class="card-body">
        
            {% for k,s in staffing.items %}
                {% if forloop.first %}
                    <div class="row pb-2 pt-2 alert-primary">
                        <div class="col-4">Adhérent</div>
                        <div class="col-4 text-right">Temps total </div>
                        <!--<div class="col-2"> encadrement </div>-->
                        <div class="col-4">Temps par catégorie</div>
                    </div>
                {% endif %}
                
                <div class="row {% cycle 'bg-light' '' %}">
                    <div class="col-4"><a href="{% url 'person' s.total.person.id %}">{{ s.total.person.first_name }} {{ s.total.person.last_name }}</a></div>
                    <div class="col-4 text-right">{{ s.total.time }} </div>
                    <!--<div class="col-2 text-right">{{ s.total.time_sup }} </div>-->
                    <div class="col-4">
                        <div class="row">
                        {% for k, ss in s.items %}{% if ss.category is not None %}
                            {% if ss.time > 0 %}
                            <div class="col-6"><a href="{% url 'category' ss.category.id %}">{{ ss.category.name }}</a></div>
                            <div class="col-6">{{ ss.time }}</div>
                            <!--<div class="col-3">{{ ss.time_sup }}</div>-->
                            {% endif %}
                        {% endif %}{% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    
        
{% endblock %}