{% extends "template.html" %}
{% load gafc_tags %}

{% block title %}GUCEM - {% block pagename %}Inscriptions{% endblock %}{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="navbar-brand">
        GUCEM
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="main_menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'formation_accounts' %}">Comptes formation</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'formation_meetings' %}">Comptes réunions</a></li>
            {% if request.user.fullperms.formation.add_valorisation %}<li class="nav-item"><a class="nav-link" href="{% url 'formation_table' %}">Valorisations</a></li>{% endif %}
            {% if request.user.fullperms.formation.view_valorisationrule %}<li class="nav-item"><a class="nav-link" href="{% url 'valorisation_rules' %}">Règles</a></li>{% endif %}
        </ul>
    </div>


    {% if request.user.is_staff %}
    <form method="POST" action="{% url 'set_season' %}?next={{request.path}}" class="form-inline">
        <input type="hidden" name="whattodo" value="set_season" />
        {% csrf_token %}
        <div class="form-group">
            <label for="season" class="text-light">{{ g_season_form.season.label }} : </label>{{ g_season_form.season }} {{ g_season_form.season.error }}
        </div>
    </form>
    {% endif %}
</nav>
{% endif %}

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="container">
{% block content %}{% endblock %}
</div>

{% endblock %}
