{% extends "vehicles/template.html" %}
{% load gafc_tags %}

{% block pagename %} Calcul des frais de covoiturage {% endblock %}

{% block content %}

<div class="row">
    <div class="offset-lg-2"></div>
    <div class="card col-lg-8">
        <h5 class="card-header">
            Calcul des frais de covoiturage
        </h5>
        
        <div class="card-body">
        
            {% for v in vehicles %}
                <input class="default_vehicle" type="hidden" name="{{ v.name }}" cost="{{ v.cost }}" extracost="{{ v.extra }}" doipay="{{ v.doipay|yesno:'yes,no' }}" />
            {% endfor %}
        
            <div class="row mb-3">
                <div class="col">
                    Ajouter:
                </div>
                {% for v in a_vehicles %}
                <div class="col text-center">
                    <button class="btn btn-primary add-vehicle" name="{{ v.name }}" cost="{{ v.cost_per_km }}" extracost="0.0" doipay="{{ v.default_pay|yesno:'yes,no' }}"> {{ v.name }}</button>
                </div>                
                {% endfor %}
            </div>
        
            <div class="alert alert-secondary d-none vehicle" id="skel-vehicle">
                <div class="row form-group">
                    <h6 class="col-md-4">Nom: </h6>
                    <div class="col-md-8">
                        <input class="form-control" name="vehicle_name" value="Minibus"/>
                    </div>
                </div>
                
                <div class="row form-group">
                    <h6 class="col-md-4">Coût kilométrique: </h6>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" type="number" step="0.05" value="0.45" name="vehicle_cost" required />
                            <div class="input-group-append">
                                <span class="input-group-text"> &euro;/km </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row form-group">
                    <h6 class="col-md-4">Coût supplémentaires (péages, etc.): </h6>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" type="number" step="0.05" value="0." name="vehicle_extracost" required />
                            <div class="input-group-append">
                                <span class="input-group-text"> &euro; </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row form-group">
                    <h6 class="col-md-4">Le propriétaire paie: </h6>
                    <div class="col-md-8">
                        <div class="input-group">
                            <select class="form-control" name="vehicle_doipay">
                                <option value="yes">Oui</option>
                                <option value="no">Non</option>
                            </select>
                            <small class="form-text"> Le propriétaire du véhicule (celui qui reçoit les frais de covoiturage) paie une part du covoiturage (NE PAS cocher pour le minibus) </small>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-danger del-btn"> Supprimer </button>
                    </div>
                </div>
            </div>
            
            <form method="POST" action="#results">
                {% csrf_token %}
                <input type="hidden" name="whattodo" value="calc_fee" />
                
                <div class="row form-group" id="row-km">
                    <h6 class="col-md-4">Nombre de kilomètres: </h6>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" type="number" step="1" value="{{ request.POST.km }}" min="1" name="km" required />
                            <div class="input-group-append">
                                <span class="input-group-text"> km </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row form-group">
                    <h6 class="col-md-4">Nombre de personnes: </h6>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" type="number" step="1" value="{{ request.POST.persons }}" min="1" name="persons" required/>
                        </div>
                    </div>
                </div>
                
                <div class="row form-group">
                    <h6 class="col-md-4">Arrondi: </h6>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" type="number" step="0.1" value="{% if request.POST.rounding %}{{ request.POST.rounding }}{% else %}0.5{% endif %}" min="0" name="rounding" required/>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="offset-md-4"></div>
                    <div class="col-md-8 mb-3">
                        <input class="form-control btn btn-primary" type="submit" value="Calculer!"/>
                    </div>
                </div>
                
            </form>
            
        </div>    
    </div>
</div>

{% if results %}

<div class="row">
    <div class="offset-lg-2"></div>
    <div class="card col-lg-8" id="results">
        <h5 class="card-header">
            Résultats
        </h5>
        <div class="card-body">
            <div class="row">
                <h6 class="col-md-4"> Coût pour chaque participant: </h6>
                <div class="col-md-8 text-right">{{ p_cost|floatformat:2 }} &euro;</div>
            </div>
            
            {% for v in vehicles %}
            <div class="row">
                <h6 class="col-md-4"> {{ v.name }} reçoit: </h6>
                <div class="col-md-8 text-right">{{ v.total_abs|floatformat:2 }} &euro;</div>
            </div>
            {% if v.doipay %}
            <div class="row">
                <div class="col-12 text-right"> en décomptant la part du propriétaire: {{ v.total|floatformat:2 }} &euro;</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}

<script type="text/javascript">

function addVehicle(elm) {
    line = $('#skel-vehicle').clone()
    
    line.removeClass('d-none').prop('id','')
    line.find('[name=vehicle_name]').val(elm.attr('name'))
    line.find('[name=vehicle_cost]').val(elm.attr('cost').replace(',','.'))
    line.find('[name=vehicle_extracost]').val(elm.attr('extracost').replace(',','.'))
    line.find('[name=vehicle_doipay]').val(elm.attr('doipay'))
    
    line.find('.del-btn').click(function() {
        $(this).parents('.vehicle').remove()
    });
    
    $('#row-km').before(line)
}

$(function() {
    $('.add-vehicle').click(function() {
        addVehicle($(this))
    });
    
    $('.default_vehicle').each(function() { addVehicle($(this)) });
});

</script>

{% endblock %}
