{% extends "vehicles/template.html" %}
{% load gafc_tags %}

{% block pagename %} Véhicules - Finances {% endblock %}

{% block content %}
<div class="row">
    <div class="card col-12">
        <h5 class="card-header"> Paiements à encaisser </h5>
        <div class="card-body">
            <div class="row">
                <h6 class="col-1"> ID </h6>
                <h6 class="col-2"> Date </h6>
                <h6 class="col-2"> Contrepartie </h6>
                <h6 class="col-2"> Encodé par </h6>
                <h6 class="col-2"> Événement </h6>
                <h6 class="col-1"> Catégorie </h6>
                <h6 class="col-1"> Méthode </h6>
                <h6 class="col-1 text-right">Montant</h6>
            </div>
            {% for p in payments %}
            <div class="row {% cycle 'bg-light' '' %} pt-1 pb-1">
                <div class="col-1"><a href="{% url 'payment' p.id %}">P{{ p.id }}</a></div>
                <div class="col-2">{{ p.pay_done|date:'d/m/Y' }}</div>
                <div class="col-2"><a href="{% url 'person' p.person.id %}">{{ p.person }}</a></div>
                <div class="col-2"><a href="{% url 'person' p.encoder.id %}">{{ p.encoder }}</a></div>
                <div class="col-2">{% if p.event is not None %}<a href="{% url 'event' p.event.id %}">{{ p.event.title }}</a>{% endif %}</div>
                <div class="col-1"><a href="{% url 'category' p.category.id %}">{{ p.category }}</a></div>
                <div class="col-1">{{ p.method|payMethod }}</div>
                <div class="col-1 text-right {% if p.amount < 0 %}text-danger{% else %}text-success{% endif %}">{{ p.amount }}</div>
                {% if p.comment != '' %}
                    <h6 class="col-2"> Commentaire: </h6>
                    <div class="col-10">{{ p.comment }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card col-12">
        <h5 class="card-header"> Totaux </h5>
        <div class="card-body">
            <div class="row">
                <h6 class="col-2"> Catégorie </h6>
                {% for m in repart.TOTAL.1.items %}
                {% if m.0 != 'TOTAL' %}
                <h6 class="col text-right"> {{ m.0|payMethod }} </h6>
                {% endif %}
                {% endfor %}
                <h6 class="col text-right"> Total </h6>
            </div>
            
            {% for r in repart.items %}
            {% if r.0 != 'TOTAL' %}
            <div class="row">
                <div class="col-2"> <a href="{% url 'category' r.1.0.id %}">{{ r.1.0 }}</a> </div>
                {% for m in r.1.1.items %}
                {% if m.0 != 'TOTAL' %}
                <div class="col text-right"> {{ m.1|floatformat:2 }} </div>
                {% endif %}
                {% endfor %}
                <div class="col text-right"> {{ r.1.1.TOTAL|floatformat:2 }} </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-2"> Total </div>
                {% for m in repart.TOTAL.1.items %}
                {% if m.0 != 'TOTAL' %}
                <div class="col text-right"> {{ m.1|floatformat:2 }} </div>
                {% endif %}
                {% endfor %}
                <div class="col text-right"> {{ repart.TOTAL.1.TOTAL|floatformat:2 }} </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
