{% extends "vehicles/template.html" %}
{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Configuration du module {% endblock %}

{% block content %}

<div class="row">
    <div class="card col-12">
        <h5 class="card-header"> Types de véhicules </h5>
        <div class="card-body">
            <a class="btn btn-secondary" data-toggle="collapse" href="#add_vehicle_form"> Ajouter un type de véhicule </a>
            <div class="collapse {% if form_add_vehicle.errors %}show{% endif %}" id="add_vehicle_form">
                {% crispy self.forms.vehicle_save %}
            </div>
            
            <div class="row d-none d-md-flex">
                <h6 class="col-md-6"> Nom </h6>
                <h6 class="col-4 col-md-2"> Coût </h6>
                <h6 class="col-4 col-md-2"> Paye par défaut </h6>
                <h6 class="col-4 col-md-2"> Afficher </h6>                  
            </div>
            
            {% for v in vehicles %}
            <div class="row pb-1 pt-1 {% cycle 'bg-light' '' %}">
                <div class="col-md-6"> {{ v.name }} </div>
                <div class="col-4 col-md-2"> {{ v.cost_per_km }} </div>
                <div class="col-4 col-md-2"> {% if v.default_pay %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}</div>
                <div class="col-4 col-md-2"> {% if v.display %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %} </div>                  
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="card col-12">
        <h5 class="card-header"> Équipements </h5>
        <div class="card-body">
            <a class="btn btn-secondary" data-toggle="collapse" href="#add_link_form"> Ajouter un lien équipement - véhicule </a>
            <div class="collapse {% if form_add_link.errors %}show{% endif %}" id="add_link_form">
                {% crispy self.forms.vehiclelink_save %}
            </div> 
            
            
            <div class="row d-none d-md-flex">
                <h6 class="col-6 col-md-3"> Équimenent </h6>
                <h6 class="col-6 col-md-3"> Catégorie </h6>
                <h6 class="col-4 col-md-2"> Type </h6>
                <h6 class="col-4 col-md-2"> km départ </h6>
                <h6 class="col-4 col-md-2"> km arrivée </h6>                  
            </div>
            
            {% for l in links %}
            <div class="row pb-1 pt-1 {% cycle 'bg-light' '' %}">
                <div class="col-6 col-md-3"> <a href="{% url 'equipment' l.equipment.id %}">{{ l.equipment.name }}</a> </div>
                <div class="col-6 col-md-3"> <a href="{% url 'category' l.equipment.category.id %}">{{ l.equipment.category }}</a> </div>
                <div class="col-4 col-md-2"> {{ l.vehicle_type.name }} </div>
                <div class="col-4 col-md-2"> {{ l.km_start }}</div>
                <div class="col-4 col-md-2"> {{ l.km_end }} </div>                  
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>


{% endblock %}
