{% extends "vehicles/template.html" %}
{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Véhicules - Statistiques {% endblock %}

{% block content %}

<div class="row">
    <div class="card col-12">
        <h5 class="card-header"> Statistiques </h5>
        <div class="card-body">
            {% crispy self.forms.statistics_calc %}
        </div>
    </div>
</div>

<div class="row">
    <div class="card col-12">
        <h5 class="card-header"> Résultats </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <h6 class="col-md-4"> Km début: </h6>
                        <div class="col-md-8">{{ start.0 }} ({{ start.1|date:'d/m/Y' }})</div>
                        
                        <h6 class="col-md-4"> Km fin: </h6>
                        <div class="col-md-8">{{ finish.0 }} ({{ finish.1|date:'d/m/Y' }})</div>
                        
                        <h6 class="col-md-4"> Parcouru: </h6>
                        <div class="col-md-8">{{ km }}</div>
                    
                        <h6 class="col-md-4"> Km non déclarés: </h6>
                        <div class="col-md-8">{{ km_diff }}</div>
                        
                        <h6 class="col-md-4"> Frais: </h6>
                        <div class="col-md-8">{{ fee|floatformat:2 }}</div>
                        
                        <h6 class="col-md-4"> PAF: </h6>
                        <div class="col-md-8">{{ paf|floatformat:2 }}</div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                    {% for t in tree %}
                        <div class="col-6 font-weight-bold bg-light">{{ '&nbsp;&nbsp;&nbsp;&nbsp;'|repeat:t.level|safe }} {{ t.elm.name }}</div>
                        <div class="col-3 bg-light text-right font-weight-bold"> {{ t.total.0|floatformat:2 }} </div>
                        <div class="col-3 bg-light text-right font-weight-bold"> {{ t.total.1|floatformat:2 }} </div>
                        {% for cid, c in t.cats.items %}
                                {% for aid, a in c.accounts.items %}
                                <div class="col-6">{{'&nbsp;'|repeat:4|safe}}{{ '&nbsp;&nbsp;&nbsp;&nbsp;'|repeat:t.level|safe }}{{ a.account.name }}</div>
                                <div class="col-3 text-right"> {% if a.total.0 != 0 %} {{ a.total.0|floatformat:2 }} {% endif %} </div>
                                <div class="col-3 text-right"> {% if a.total.1 != 0 %} {{ a.total.1|floatformat:2 }} {% endif %} </div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </div>
                </div>
                
                <h6 class="col-md-3"> Catégorie </h6>
                <h6 class="col-md-3 text-right"> Sorties </h6>
                <h6 class="col-md-3 text-right"> Km </h6>
                <h6 class="col-md-3 text-right"> Différence </h6>
                
                {% for k,d in by_eventcat.items %}
                    {% if k != 'total' %}
                    <div class="col-md-3 {% cycle 'bg-light' '' as bgt %}"><a href="{% url 'category' d.category.id %}">{{ d.category }}</a></div>
                    <div class="col-md-3 text-right {{ bgt }}">{{ d.N }}</div>
                    <div class="col-md-3 text-right {{ bgt }}">{{ d.km }}</div>
                    <div class="col-md-3 text-right" style="background-color: {{ d.diff|colorfade:maxdiff }};">{{ d.diff|floatformat:2 }}</div>
                    {% endif %}
                {% endfor %}
                    <div class="col-md-3 alert-primary">Total</div>
                    <div class="col-md-3 text-right alert-primary">{{ by_eventcat.total.N }}</div>
                    <div class="col-md-3 text-right alert-primary">{{ by_eventcat.total.km }}</div>
                    <div class="col-md-3 text-right alert-primary">{{ by_eventcat.total.diff|floatformat:2 }}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
