{% extends "template.html" %}
{% load gafc_tags %}

{% block title %}GUCEM - {% block pagename %}Minibus{% endblock %}{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="navbar-brand">
        GUCEM - Minibus
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="main_menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url "vehicle_home" %}"> Calcul </a></li>
            {% if request.user.fullperms.vehicles.view_vehicle %}<li class="nav-item"><a class="nav-link" href="{% url "vehicle_view" %}"> Tableau </a></li>{% endif %}
            {% if request.user.fullperms.vehicles.financial %}
            <li class="nav-item"><a class="nav-link" href="{% url "vehicle_financial" %}"> Finances </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "vehicle_statistics" %}"> Statistiques </a></li>
            {% endif %}
            {% if request.user.fullperms.vehicles.change_vehicle %}
            <li class="nav-item"><a class="nav-link" href="{% url "vehicle_settings" %}"> Configuration </a></li>
            {% endif %}
        </ul>
    </div>

</nav>
{% endif %}

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}



<div class="container">
{% block content %}{% endblock %}
</div>
{% endblock %}
