{% extends "vehicles/template.html" %}
{% load gafc_tags %}

{% block pagename %} Véhicules {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
    <nav>
        <ul class="pagination justify-content-center flex-wrap">
            {% for y in years %}
            <li class="page-item {% if y == year %}active{% endif %}"><a class="page-link"  href="{% url "vehicle_view_year" year=y %}">{{ y }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    
    </div>
    <div class="card col-12">
        <h5 class="card-header"> Utilisation des véhicules </h5>
        <div class="card-body">
        
        <div class="row d-none d-md-flex">
            <h6 class="col-md-1"> Véhicule </h6>
            <h6 class="col-md-2"> Date </h6>
            <h6 class="col-md-2"> Raison </h6>
            <h6 class="col-md-1 text-right"> Départ </h6>
            <h6 class="col-md-1 text-right"> Arrivée </h6>
            <h6 class="col-md-1 text-right pl-0"> Parcouru</h6>
            <h6 class="col-md-1 text-right"> Coût théorique </h6>
            <h6 class="col-md-1 text-right"> PAF </h6>
            <h6 class="col-md-1 text-right"> Frais </h6>
            <h6 class="col-md-1 text-right"> Perçu </h6>
        </div>
            
        {% for d in data reversed %}
            <div class="row {% cycle 'bg-light' ''%}">
                <div class="col-8 col-md-1 pl-0">
                    <a class="btn btn-secondary p-1" data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}">{% b_icon 'caret-down-square' %}</a>
                    {% if d.vehicle is not None %}
                    <a href="{% url 'equipment' d.vehicle.equipment.id %}">{{ d.vehicle.equipment.name }}</a>
                    {% endif %}
                </div>
                <div class="col-4 col-md-2">
                    {% if request.user.perms.change_equipmenttracking and d.tracking is not None%}
                        <a href="{% url "equipmenttracking" d.tracking.id %}">{{ d.date|date:'d/m/Y' }}</a>
                    {% else %}
                        {{ d.date|date:'d/m/Y' }}
                {% endif %}
                {% if d.checked is not None %}
                    {% if d.checked %}
                        <br /><span class="text-success">{{ d.check.date|date:'d/m/Y' }}</span> <a href="{% url 'vehicle_view_action' 'delcheck' d.tracking.id %}" class="text-danger">{% b_icon 'x-square-fill' 24 %}</a>
                    {% else %}
                        <a href="{% url 'vehicle_view_action' 'addcheck' d.tracking.id %}" class="text-success">{% b_icon 'check-square-fill' 24 %}</a>
                    {% endif %}
                {% endif %}
                </div>
                <div class="col-12 col-md-2">{% if d.tracking.event is not None %}<a href="{% url 'event' d.tracking.event.id %}">{{ d.tracking.event.title }}</a>{% elif d.tracking is None %} <a href="{% url 'category' d.category.id %}">{{ d.category.name }}</a> {% endif %}</div>
                <div class="col-6 col-md-1 text-right">
                    {% if d.km_in is not None %}{{ d.km_in }}{% endif %}<br />
                    {% if d.km_diff != 0 %}<b class="text-danger">{% if d.km_diff > 0 %}+{% endif %}{{ d.km_diff }}</b>{% endif %}
                </div>
                <div class="col-6 col-md-1 text-right">&nbsp;{% if d.km_out is not None %}{{ d.km_out }}{% endif %}
                </div>
                <div class="col-6 col-md-1 text-right">&nbsp;{% if d.km is not None %}{{ d.km }}{% endif %}</div>
                <div class="col-6 col-md-1 text-right">
                    {% if d.th_cost is not None %}{{ d.th_cost|floatformat:2 }}<br />{% endif %}
                    {% if d.diff is not None %}<b class="{% if d.diff >= 0 %}text-success{% elif d.diff < -5 %}text-danger{% else %}text-warning{% endif %}">{% if d.diff > 0 %}+{% endif %}{{ d.diff|floatformat:2 }}</b>{% endif %}
                </div>
                <div class="col-6 col-md-1 text-right text-success">{% if d.payed != 0 %}{{ d.payed|floatformat:2 }}{% endif %}</div>
                <div class="col-6 col-md-1 text-right text-danger"> {% if d.fee != 0 %}{{ d.fee|floatformat:2 }}{% endif %}</div>
                <div class="col-6 col-md-1 text-right font-weight-bold {% if d.eff_payed > 0 %}text-success{% elif d.eff_payed < 0 %}text-danger{% endif %}">{% if d.eff_payed > 0 %}+{% endif %}{{ d.eff_payed|floatformat:2 }}</div>
                {% if d.tracking is not None and d.tracking.comment != '' %}
                <h6 class="col-md-2"> Commentaire: </h6>
                <div class="col-md-10"> {{ d.tracking.comment }} </div>
                {% endif %}
                
                <div class="collapse col-12" id="collapse-{{ forloop.counter }}">
                    <div class="row">
                    {% if d.tracking is not None %}
                        <h6 class="col-md-4"> Encodé par: </h6>
                        <div class="col-md-8"> <a href="{% url 'person' d.tracking.person.id %}">{{ d.tracking.person }}</a> </div>
                        
                        {% for c in d.tracking.vehicletrackingcheck_set.all %}
                        <h6 class="col-md-4"> {% ifchanged %}Vérifié par:{% endifchanged %} </h6>
                        <div class="col-md-4 col-6"><a href="{% url 'person' c.person.id %}">{{ c.person }}</a> </div>
                        <div class="col-md-4 col-6"> {{ c.date|date:'d/m/Y' }} </div>
                        {% endfor %}
                    {% endif %}
                        <div class="col-12">
                            {% if d.payments|length != 0 %}
                            <div class="row d-none d-md-flex">
                                <h6 class="col-1 pl-1 pr-0"></h6>
                                <h6 class="col-2"> Encodé par </h6>
                                <h6 class="col-2"> Contrepartie </h6>
                                <h6 class="col-3"> Raison </h6>
                                <h6 class="col-2"> Encaissé </h6>
                                <h6 class="col-1"> Méthode </h6>
                                <h6 class="col-1 pl-0 pr-1 text-right"> Montant </h6>
                            </div>
                            {% endif %}
                            {% for p in d.payments %}
                            <div class="row">
                                <div class='col-12 d-md-none'><hr /></div>
                                <div class="col-1 pl-1 pr-0">{% if p.external %}<a href="{% url 'payment' p.id %}">P{{p.id}}</a>{% else %}<a href="{% url 'transfer' p.id %}">T{{p.id}}</a>{% endif %}</div>
                                <div class="col-6 col-md-2"><a href="{% url 'person' p.encoder.id %}">{{ p.encoder }}</a></div>
                                <div class="col-6 col-md-2"><a href="{% if p.external %}{% url 'person' p.payee.id %}{% else %}{% url 'category' p.payee.id %}{% endif %}">{{ p.payee }}</a></div>
                                <div class="col-md-3">{{ p.comment }}</div>
                                <div class="col-8 col-md-2">{% if p.cashing is not None %}{{ p.cashing.id }} ({{ p.cashing.date|date:'d/m/Y' }}){% endif %}</div>
                                <div class="col-8 col-md-1">{{ p.method|payMethod }}</div>
                                <div class="col-4 col-md-1 pl-1 pr-1 text-right {% if p.amount > 0 %}text-success{% elif p.amount < 0 %}text-danger{% endif %}">{{ p.amount|floatformat:2 }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        </div>
    </div>
</div>


{% endblock %}
