{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Compte en banque {% endblock %}

{% block content %}

{% if 'account_addfile' in self.forms %}
<a class="btn btn-secondary" data-toggle="collapse" href="#add_account_file"> Importer un fichier CSV </a>
<div class="row">
    <div class="col-md-8 card collapse" id="add_account_file">
        <h5 class="card-header"> Importer fichier CSV </h5>
        <div class="card-body">
        
        {% crispy self.forms.account_addfile %}
        
        </div>
    </div>
</div>
{% endif %}

<nav aria-label="Year navigation">
  <ul class="pagination justify-content-center">
     {% for y in years %}
     <li class="page-item {% if y == year %}active{% endif %}"><a class="page-link" href="{% url 'accountoperations' y %}">{{y}}</a></li>
     {% endfor %}
  </ul>
</nav>


{% if elms %}
<div class="row">
    <div class="col-12 card">
        <h5 class="card-header"> Association des encaissements - compte en banque </h5>
        <div class="card-body">
            <div class="row">
                <h6 class="col-6 text-center">Encaissements</h6>
                <h6 class="col-6 text-center">Compte en banque</h6>
            </div>
            
            {% for k,it in elms.items %}
            <div class="row date_row">
                <div class="col-12 font-weight-bold">{{ it.date|date:'d/m/Y' }}</div>
            
                {% for c in it.cashings %}
                <div class="col-12 alert alert-{% if c.total_op is None %}{% if c.total_p != 0 %}danger{% else %}success{% endif %}{% elif c.total_op == c.total_p %}success{% else %}warning{% endif %} cashing-drop" ondragover="onDragOver(event);" ondrop="onDropIn(event);" id="cashing-{{ c.pk }}" ref="{{ c.pk }}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-6"><a href="{% url 'cashing' c.id %}">Encaissement {{ c.id }}</a></div>
                                <div class="col-6 text-right font-weight-bold {% if c.total > 0 %}text-success{% elif c.total < 0 %}text-danger{% endif %}">{{ c.total_p }}</div>
                                <div class="col-12">{{ c.comment }}</div>
                            </div>
                        </div>
                        <div class="col-md-6 list_operations">
                            {% for o in c.accountoperation_set.all %}
                            <div class="row alert alert-secondary operation_line" draggable="true" id="operation-{{ o.pk }}" ondragstart="onDragStart(event);" ref="{{ o.pk }}">
                                <div class="col-5"><a href="{% url 'operation' o.id %}">{{ o.date|date:'d/m/Y' }}</a></div>
                                <div class="col-2 text-center"><span class="btn btn-warning p-0 pl-1 pr-1 button-oper-out">{% b_icon 'box-arrow-up' %}</span></div>
                                <div class="col-5 text-right font-weight-bold {% if o.amount > 0 %}text-success{% elif o.amount < 0 %}text-danger{% endif %}">{{ o.amount }}</div>
                                <div class="col-12">{{ o.libele }}</div>
                                <div class="col-12">{{ o.detail }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                    
                <div class="col-12">
                    <div class="row">
                        <div class="offset-6"></div>
                        <div class="col-6 list_oper_out">
                            {% for o in it.lonely_opers %}
                            <div class="row alert alert-secondary operation_line" draggable="true" id="operation-{{ o.pk }}" ondragstart="onDragStart(event);" ref="{{ o.pk }}">
                                <div class="col-5"><a href="{% url 'operation' o.id %}">{{ o.date|date:'d/m/Y' }}</a></div>
                                <div class="col-2 text-center"><span class="btn btn-warning p-0 pl-1 pr-1 button-oper-out d-none">{% b_icon 'box-arrow-up' %}</span></div>
                                <div class="col-5 text-right font-weight-bold {% if o.amount > 0 %}text-success{% elif o.amount < 0 %}text-danger{% endif %}">{{ o.amount }}</div>
                                <div class="col-12">{{ o.libele }}</div>
                                <div class="col-12">{{ o.detail }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
            
<script type="text/javascript">

function onDragStart(event) {
    event.dataTransfer.setData('text', event.target.id)
}

function onDragOver(event) {
    event.preventDefault()
}

function onDropIn(event) {
    event.preventDefault()
    const id = event.dataTransfer.getData('text')
    elm = document.getElementById(id)
    lineto = event.target.closest('.cashing-drop')

    opid = elm.getAttribute('ref')
    caid = lineto.getAttribute('ref')
    
    chatSocket.send(JSON.stringify({'type': 'moveIn', 'opid': opid, 'caid': caid }))

   //oplst = event.target.closest('.cashing-drop').querySelectorAll('.list_operations')
   // oplst[0].appendChild(elm)
   // elm.querySelectorAll('.button-oper-out')[0].classList.remove('d-none')
}

function removeOperationFromCashing(event) {
    elm = event.target.closest('.operation_line')
    opid = elm.getAttribute('ref')
   
    chatSocket.send(JSON.stringify({'type': 'moveOut', 'opid': opid }))
   
    //to = event.target.closest('.date_row').querySelectorAll('.list_oper_out')[0]
    //to.appendChild(elm)
    //elm.querySelectorAll('.button-oper-out')[0].classList.add('d-none')
}
    
window.addEventListener("load", function() {
    elms = document.querySelectorAll('.button-oper-out')
        
    for (var i = 0; i < elms.length; i++) {
        elms[i].addEventListener('click', removeOperationFromCashing, false);
    }
});
    
const chatSocket = new WebSocket(
    ((window.location.protocol == 'http:') ? 'ws' : 'wss')+'://'+window.location.host+'/ws/bankaccount/'
);

/***************************************
 * HEARTBEAT
 ***************************************/

var heartbeat_msg = 'heartbeat', heartbeat_interval = null, missed_heartbeats = 0;

chatSocket.onopen = function(evt) {
    if (heartbeat_interval === null) {
        missed_heartbeats = 0;
        heartbeat_interval = setInterval(function() {
            try {
                missed_heartbeats++;
                if (missed_heartbeats >= 10)
                    throw new Error("Too many missed heartbeats.");
                chatSocket.send(JSON.stringify({'type': heartbeat_msg}));
            } catch(e) {
                clearInterval(heartbeat_interval);
                heartbeat_interval = null;
                console.warn("Closing connection. Reason: " + e.message);
                chatSocket.close();
            }
        }, 10000);
    }
}



chatSocket.onmessage = function(e) {
    d = JSON.parse(e.data)
    processJsonMessage(d)
}

function processJsonMessage(d) {
   
    if (d.type === heartbeat_msg) {
        // reset the counter for missed heartbeats
        missed_heartbeats = 0;
        return;
    }

    if (d.type === 'moveIn') {
        elm = document.getElementById('operation-'+d.opid)
        line = document.getElementById('cashing-'+d.caid)
        
        elm.querySelectorAll('.button-oper-out')[0].classList.remove('d-none')        
        line.querySelectorAll('.list_operations')[0].appendChild(elm)
    }
        
    if (d.type === 'moveOut') {
        elm = document.getElementById('operation-'+d.opid)
        elm.querySelectorAll('.button-oper-out')[0].classList.add('d-none')
        elm.closest('.date_row').querySelectorAll('.list_oper_out')[0].appendChild(elm)    
    }
        
    if (d.type === 'cashing_color') {
        elm = document.getElementById('cashing-'+d.cid)
        elm.classList.remove('alert-danger','alert-success','alert-warning')
        elm.classList.add('alert-'+d.color)
    }
}
            
</script>    
    
{% endif %}

{% endblock %}