{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Compte en banque: Soldes {% endblock %}

{% block content %}

<h3> Soldes en banque </h3>

<div class="row">
    <div class="col card">
        <h5 class="card-header"> Soldes </h5>
        <div class="card-body">
        
            <div class="row">
                <h6 class="col"> Date </h6>
                <h6 class="col"> Solde </h6>
                <h6 class="col"> Différence </h6>
                <h6 class="col"> Somme des opérations </h6>
                <h6 class="col"> Nombre d'opérations </h6>
            </div>
            
            {% for b in bals %}
            {% if not forloop.first %}
            <div class="row">
                <div class="col">  </div>
                <div class="col">  </div>
                <div class="col"> {{ b.diff|floatformat:2 }} </div>
                <div class="col"> {{ b.cumop|floatformat:2 }} </div>
                <div class="col"> {{ b.Nops }} </div>
            </div>   
            {% endif %}
            
            <div class="row">
                <div class="col"> {{ b.balance.date|date:'d/m/Y' }} </div>
                <div class="col"> {{ b.balance.amount|floatformat:2 }} </div>
                <div class="col">  </div>
                <div class="col">  </div>
                <div class="col">  </div>
            </div> 
            
            {% endfor %}    
        </div>
    </div>
</div>

{% endblock %}