{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Compte en banque - import {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 card">
        <h5 class="card-header"> Traitement du fichier </h5>
        <div class="card-body">
            <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="whattodo" value="{{ self.forms.import_account_operations.what }}" />
            <input type="submit" class="btn btn-primary" value="Valider" />
            
            {{ self.forms.import_account_operations.file_begin|as_crispy_field }}
            {{ self.forms.import_account_operations.amount_begin|as_crispy_field }}
            {{ self.forms.import_account_operations.file_end|as_crispy_field }}
            {{ self.forms.import_account_operations.amount_end|as_crispy_field }}
            
            <div class="row">
            {% for f in self.forms.import_account_operations %}
            {% if 'col' in f.name %}
                <div class="col pl-0 pr-0">{{ f }}</div>
            {% endif %}
            {% endfor %}
            </div>
            
            {% for ll in self.forms.import_account_operations.filelines %}
            <div class="row">
                {% for l in ll %}
                <div class="col text-truncate pl-0 pr-1">
                    {% if forloop.first %}
                    <input type="checkbox" name="lines" value="{{ forloop.parentloop.counter0 }}" {% if forloop.parentloop.counter0 > 4 and not forloop.parentloop.last %}checked="checked"{% endif %}/>
                    {% endif %}
                    <span title="{{ l }}">{{ l }}</span>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            </form>
        </div>
    </div>
</div>
    
{% endblock %}