{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Bilan financier {% endblock %}

{% block content %}

<div class="row">
    <div class="col card">
        <h5 class="card-header"> Bilan {% if done %} réalisé {% else %} provisoire {% endif %}</h5>
        <div class="card-body">
        {% if done %} <a href="{% url 'fin_balance' %}" class="btn btn-secondary"> Bilan provisoire </a> {% else %} <a href="{% url 'fin_balance_done' %}" class="btn btn-secondary"> Bilan réalisé </a> {% endif %}
            <div class="row mt-3">
                <div class="col-md-4 font-weight-bold">Catégorie</div>
                <div class="col-6 col-md-4 text-center font-weight-bold"> Produits </div>
                <div class="col-6 col-md-4 text-center font-weight-bold"> Charges </div>
                <div class="col-md-4 font-weight-bold"></div>
                <div class="col-3 col-md-2 text-center font-weight-bold"> {% if done %} Réalisé {% else %} Provisoire {% endif %} </div>
                <div class="col-3 col-md-2 text-center font-weight-bold"> Prévisionnel </div>
                <div class="col-3 col-md-2 text-center font-weight-bold"> {% if done %} Réalisé {% else %} Provisoire {% endif %} </div>
                <div class="col-3 col-md-2 text-center font-weight-bold"> Prévisionnel </div>
            {% for t in tree %}
                <div class="col-md-4 font-weight-bold bg-light">{{ '&nbsp;&nbsp;&nbsp;&nbsp;'|repeat:t.level|safe }} {{ t.elm.name }}</div>
                <div class="col-3 col-md-2 bg-light text-right font-weight-bold"> {{ t.total.0|floatformat:2 }} </div>
                <div class="col-3 col-md-2 bg-light text-right font-weight-bold"> {{ t.total.2|floatformat:2 }} </div>
                <div class="col-3 col-md-2 bg-light text-right font-weight-bold"> {{ t.total.1|floatformat:2 }} </div>
                <div class="col-3 col-md-2 bg-light text-right font-weight-bold"> {{ t.total.3|floatformat:2 }} </div>
                {% for cid, c in t.cats.items %}
                    <div class="col-md-4 font-weight-bold">{{'&nbsp;'|repeat:4|safe}}{{ '&nbsp;&nbsp;&nbsp;&nbsp;'|repeat:t.level|safe }} {{ c.category.name }} </div>
                        <div class="col-3 col-md-2 text-right font-weight-bold"> {% if c.total.0 != 0 %} {{ c.total.0|floatformat:2 }} {% endif %} </div>
                        <div class="col-3 col-md-2 text-right font-weight-bold"> {% if c.total.2 != 0 %} {{ c.total.2|floatformat:2 }} {% endif %} </div>
                        <div class="col-3 col-md-2 text-right font-weight-bold"> {% if c.total.1 != 0 %} {{ c.total.1|floatformat:2 }} {% endif %} </div>
                        <div class="col-3 col-md-2 text-right font-weight-bold"> {% if c.total.3 != 0 %} {{ c.total.3|floatformat:2 }} {% endif %} </div>
                        {% for aid, a in c.accounts.items %}
                        <div class="col-md-4">{{'&nbsp;'|repeat:8|safe}}{{ '&nbsp;&nbsp;&nbsp;&nbsp;'|repeat:t.level|safe }}{{ a.account.name }}</div>
                        <div class="col-3 col-md-2 text-right"> {% if a.total.0 != 0 %} {{ a.total.0|floatformat:2 }} {% endif %} </div>
                        <div class="col-3 col-md-2 text-right"> {% if a.total.2 != 0 %} {{ a.total.2|floatformat:2 }} {% endif %} </div>
                        <div class="col-3 col-md-2 text-right"> {% if a.total.1 != 0 %} {{ a.total.1|floatformat:2 }} {% endif %} </div>
                        <div class="col-3 col-md-2 text-right"> {% if a.total.3 != 0 %} {{ a.total.3|floatformat:2 }} {% endif %} </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
                <div class="col-md-4 alert-info font-weight-bold pb-2 pt-2">TOTAL</div>
                <div class="col-3 col-md-2 text-right alert-info font-weight-bold pb-2 pt-2">{{ totaux.0|floatformat:2 }}</div>
                <div class="col-3 col-md-2 text-right alert-info font-weight-bold pb-2 pt-2">{{ totaux.2|floatformat:2 }}</div>
                <div class="col-3 col-md-2 text-right alert-info font-weight-bold pb-2 pt-2">{{ totaux.1|floatformat:2 }}</div>
                <div class="col-3 col-md-2 text-right alert-info font-weight-bold pb-2 pt-2">{{ totaux.3|floatformat:2 }}</div>
                        
                <div class="col-md-4 alert-info font-weight-bold pb-2 pt-2">BALANCE</div>
                <div class="col-12 col-md-8 text-center alert-info font-weight-bold pb-2 pt-2">{{ balance|floatformat:2 }}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
