{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}

{% block pagename %}Calendrier des réservations{% endblock %}

{% block content %}
<h3>Calendrier des réservations</h3>


<div class="row">
    <div class="card col-12">
        <h5 class="card-header"> Calendrier </h5>
        <div class="card-body">
        
            <div class="col-12 p-0">
                <ul class="pagination flex-wrap">
                    {% for m in months %}
                    {% ifchanged m.0.month m.0.year %}
                    <li class="page-item {% if m.0.month == month and m.0.year == year %}active{% endif %}"><a class="page-link" href="{% url 'calendar_equipment' year=m.0.year month=m.0.month %}">{{ m.0.month|stringformat:'02i' }}/{{ m.0.year }}</a></li>
                    {% endifchanged %}
                    {% endfor %}
                </ul>
            </div>
            
            <div class="row d-none d-lg-flex">
                <h5 class="col border">Lundi</h5>
                <h5 class="col border">Mardi</h5>
                <h5 class="col border">Mercredi</h5>
                <h5 class="col border">Jeudi</h5>
                <h5 class="col border">Vendredi</h5>
                <h5 class="col border">Samedi</h5>
                <h5 class="col border">Dimanche</h5>
            </div>
            {% for week in weeks %}
            <div class="row {% if forloop.counter|divisibleby:2 %}alert-secondary{% endif %}" style="min-height: 100px;">
                {% for w in week %}
                {% if w.date is not None %}
                <div class="col-12 col-lg {% if w.events.count == 0 %} d-none d-lg-block {% endif %} border p-0 {% if w.date < today %}alert-dark{% elif w.date == today %}alert-info{% endif %}">
                    {{ w.date }}
                    <div class="list-group">
                    {% for t in w.tracks %}
                    {% ifchanged t.event %}
                    {% if not forloop.first %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                        <div class="p-2 alert mt-1 mb-1 {% if t.event.is_cancelled %}alert-danger{% elif t.event.current_state == 'CR' %}alert-light{% elif t.event.current_state == 'OP' %}alert-primary{% elif t.event.current_state == 'CL' %}alert-warning{% elif t.event.current_state == 'VA' %}alert-success{% endif %}">
                            <div class="row">
                                <div class="col-12">
                                    <small><a href="{% url 'event' t.event.id %}" class="alert-link">{{ t.event.title }}</a></small>
                                    <div>{{ t.equipment.name }}</div>
                    {% else %}
                                    <div>{{ t.equipment.name }}</div>
                    {% endifchanged %}
                    {% if forloop.last %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="col-12 col-lg border p-0 d-none d-lg-block"></div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
                
            
            <div class="row">
                <div class="col-md col-12 alert-light">Créé</div>
                <div class="col-md col-12 alert-primary">Ouvert aux inscriptions</div>
                <div class="col-md col-12 alert-warning">Inscriptions fermées</div>
                <div class="col-md col-12 alert-danger">Annulé</div>
                <div class="col-md col-12 alert-success">Validé</div>
            </div>
                
        </div>
    </div>
</div>

{% endblock %}