{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} {% if request.user.perms.staff_person %} Encaissement {% else %} Note de frais {% endif %} {{ cash.id }} {% endblock %}

{% block content %}

<h3>  {% if request.user.perms.staff_person %} Encaissement {% else %} Note de frais {% endif %} {{ cash.id }} </h3>

<div class="row">
    <div class="col-md-8 card">
        <h5 class="card-header">Informations</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">Créé le:</div>
                <div class="col-md-8">{{ cash.date|date:'d/m/Y' }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Auteur:</div>
                <div class="col-md-8"><a href="{% url 'person' cash.person_ask.id %}">{{ cash.person_ask.first_name }} {{ cash.person_ask.last_name|upper }}</a></div>
            </div>
            {% if 'cashing_comment' in self.forms %}
                {% crispy self.forms.cashing_comment %}
            {% else %}
            <div class="row">
                <div class="col-md-4">Commentaire:</div>
                <div class="col-md-8">{{ cash.comment|linebreaksbr }}</div>
            </div>
                {% if cash.amount is not None %}
                <div class="row">
                    <div class="col-md-4">Montant demandé:</div>
                    <div class="col-md-8">{{ cash.amount|floatformat:2 }}</div>                
                </div>
                {% endif %}
            {% endif %}
            
            {% if 'cashing_validate' in self.forms %}
            <h6 class="font-weight-bold"> Valider l'encaissement </h6>
                {% crispy self.forms.cashing_validate %}
            {% elif cash.date_done is not None %}
            <div class="row">
                <div class="col-md-4">Effectué le:</div>
                <div class="col-md-8">{{ cash.date_done|date:'d/m/Y' }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Effectué par:</div>
                <div class="col-md-8"><a href="{% url 'person' cash.person.id %}">{{ cash.person.first_name }} {{ cash.person.last_name|upper }}</a></div>
            </div>
            <div class="row">
                <div class="col-md-4">Montant validé:</div>
                <div class="col-md-8">{{ cash.total_amount|floatformat:2 }}</div>                
            </div>
            <div class="row">
                <div class="col-md-4">Abandon de frais:</div>
                <div class="col-md-8">{{ cash.abandon|yesno:'Oui, Non' }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Rejeté:</div>
                <div class="col-md-8">{{ cash.rejected|yesno:'Oui, Non' }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Commentaire rejet:</div>
                <div class="col-md-8">{{ cash.rejected_co }}</div>
            </div>
            {% endif %}
            {% if 'cashing_devalidate' in self.forms %}
                {% crispy self.forms.cashing_devalidate %}
            {% endif %}
                
            {% if 'cashing_reject' in self.forms %}
            <h6 class="font-weight-bold"> Rejeter l'encaissement </h6>
                {% crispy self.forms.cashing_reject %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="card col-12">
                <h5 class="card-header">Documents joints</h5>
                <div class="card-body">
                    {% if 'cashing_addfile' in self.forms %}
                        {% crispy self.forms.cashing_addfile %}
                    {% endif %}
                    
                    {% for f in cash.cashingfile_set.all %}
                        <div class="row">
                            <div class="col-11"><a href="{% url 'cashing_file' f.pk %}" target="_blank">{{ f.filename }}</a></div>
                            <div class="col-1">
                                {% if 'cashing_delete_file' in self.forms %}
                                    {% setFieldValue self.forms.cashing_delete_file file=f.id %}
                                    {% crispy self.forms.cashing_delete_file %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            {% if request.user.perms.staff_person %}
            <div class="card col-12">
                <h5 class="card-header">Équipements liés</h5>
                <div class="card-body">
                    {% if 'cashing_add_equipment' in self.forms %}
                    {% crispy self.forms.cashing_add_equipment %}
                    {% endif %}
                    
                    {% for eq in cash.equipment_set.all %}
                    <div class="row">
                        <div class="col-md-10"><a href="{% url 'equipment' eq.id %}">{{ eq.name }}</a></div>
                        <div class="col-md-2">
                            {% if 'delete_cashingequipment' in self.forms %}
                            {% setFieldValue self.forms.delete_cashingequipment equipment=eq.id%}
                            {% crispy self.forms.delete_cashingequipment %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% if request.user.perms.staff_person %}
<div class="row">
    <div class="col-12 card">
        <h5 class="card-header">Opérations bancaires</h5>
        <div class="card-body">
            <div class="row">
                <h6 class="col-lg-3 d-none d-lg-block"> Identifiant opération </h6>
                <h6 class="col-lg-2 d-none d-lg-block"> Date </h6>
                <h6 class="col-lg-1 d-none d-lg-block"> Montant </h6>
                <h6 class="col-lg-2 d-none d-lg-block"> Libellé </h6>
                <h6 class="col-lg-4 d-none d-lg-block"> Détail </h6>
            </div>
            
            {% for op in cash.accountoperation_set.all %}
            <div class="row">
                <div class="col-lg-3 d-none d-lg-block"> <a href="{% url 'operation' op.id %}"> {{ op.opid }}</a> </div>
                <div class="col-lg-2 d-none d-lg-block"> {{ op.date|date:'d/m/Y' }} </div>
                <div class="col-lg-1 d-none d-lg-block"> {{ op.amount }} </div>
                <div class="col-lg-2 d-none d-lg-block"> {{ op.libele }} </div>
                <div class="col-lg-4 d-none d-lg-block"> {{ op.detail }} </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
        
<div class="row">
    <div class="col-12 card">
        <h5 class="card-header">Paiements</h5>
        <div class="card-body">
        
            {% if 'add_payment' in self.forms %}
            
            <div class="row">
                <div class="col-12"><a class="btn btn-secondary" data-toggle="collapse" href="#new_payment">Créer un paiement</a></div>
                <div class="col-md-8 collapse" id="new_payment">
                {% crispy self.forms.add_payment %}
                </div>
            
            </div>
        
            {% endif %}
        
            <div class="row">
                <h6 class="col-12 col-lg-1 pl-1 pr-1"></h6>
                <h6 class="col-lg-2 d-none d-lg-block"> Date           </h6>
                <h6 class="col-lg-2 d-none d-lg-block"> Contrepartie   </h6>
                <h6 class="col-lg-2 d-none d-lg-block"> Catégorie      </h6>
                <h6 class="col-lg-3 d-none d-lg-block"> Motif      </h6>
                <h6 class="col-lg-1 d-none d-lg-block pl-1 pr-1"> Méthode        </h6>
                <h6 class="col-lg-1 d-none d-lg-block text-right pl-1 pr-1"> Montant        </h6>
            </div>
                
            {% if 'cashing_del_payments' in self.forms %}
                <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="whattodo" value="cashing_del_payments" />
            {% endif %}
            
            {% for k,g in c.g_payments.items %}
        
                {% if k is not None %}
                {% for T in g.P_total.items %}
                <div class="row">
                    <div class="alert-primary col-1 col-md-3 col-lg-1 pl-1 pr-1"></div>
                    <div class="alert-primary col-6 col-md-3 col-lg-2">{% ifchanged k %} {{ g.P_event.begin|date:'d/m/Y' }}<br />{{ g.P_event.season.name }} {% endifchanged %}</div>
                    <div class="alert-primary col-12 col-md-6 col-lg-2 text-center">{% if forloop.last %}<a class="btn btn-info" data-toggle="collapse" href="#details-{{ c.id }}-{{ k }}" role="button" aria-expanded="false" aria-controls="details-{{ c.id }}-{{ k }}">Détails</a>{% endif %}</div>
                    <div class="alert-primary col-5 col-md-3 col-lg-2"> {% ifchanged k %} <a href="{% url "category" g.P_category.id %}">{{ g.P_category }}</a> {% endifchanged %} </div>
                    <div class="alert-primary col-6 col-md-6 col-lg-3"> {% ifchanged k %}{% if g.P_event %} <a href="{% url "event" g.P_event.id%}"> {{ g.P_event.title }} </a>{% endif %}{% endifchanged %}</div>
                    <div class="alert-primary col-6 col-md-3 col-lg-1 text-info pl-1 pr-1"> {{ T.0|payMethod }}  </div>
                    <div class="alert-primary col-6 col-md-3 col-lg-1 text-right text-info pl-1 pr-1"> {{ T.1|floatformat:2 }}</div>
                </div>
                {% endfor %}
                <div class="collapse" id="details-{{c.id}}-{{ k }}">
                {% endif %}
                {% for kk,p in g.items %}
                
                    {% if not kk.0 == 'P' %}
                    <div class="row pt-1 pb-1 {% cycle '' 'bg-light' %}">
                        <div class="col-6 col-md-3 col-lg-1 pl-1 pr-1">
                            {% if 'cashing_del_payments' in self.forms %}
                            <input type="checkbox" name="payments" value="{{ p.id }}" />
                            {% endif %}
                            <a href="{% url 'payment' p.id %}"> #P{{ p.id }}</a>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2"> {{ p.pay_done|date:'d/m/Y' }} <br /> {{ p.season.name }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2"> <a href="{% url "person" p.person.id %}"> {{ p.person.first_name }} {{ p.person.last_name|upper }}</a> </div>
                        <div class="col-12 col-md-4 col-lg-2"> {% if k is None %} <a href="{% url "category" p.category.id %}">{{ p.category }}</a> / {{ p.financial }} {% else %} {{ p.financial }} {% endif %} </div>
                        <div class="col-12 col-md-3 col-lg-3"> {% if k is None and p.event %} <a href="{% url "event" p.event.id%}"> {{ p.event.title }} </a>{% else %} {{ p.comment }} {% endif %}</div>
                        <div class="col-6 col-md-3 col-lg-1 pl-1 pr-1"> {{ p.method|payMethod }} </div>
                        <div class="col-6 col-md-2 col-lg-1 text-right pl-1 pr-1"> {{ p.amount }}</div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="row d-md-none"><div class="col-12"><hr /></div></div>
                {% if k is not None %}
                </div>
                {% endif %}
            {% endfor %}
                        
            {% if 'cashing_del_payments' in self.forms %}
                    <div class="row">
                        <div class="col"><button type="submit" class="btn btn-danger">Retirer les paiements</button></div>
                    </div>                   
                </form>
            {% endif %}
        
        
            <div class="row"><div class="col-12"><hr /></div></div>
        
            <div class="row d-none d-md-flex">
                <h6 class="col"></h6>
            {% for k,T in c.totaux.items %}
                {% if not forloop.counter0 %}
                    {% for kk,TT in T.items %}
                        {% if kk != 'total' %}
                            <h6 class="col-12 col-md text-right">{{ kk }}</h6>
                        {% endif %}
                    {% endfor %}
                    <h6 class="col-12 col-md text-right"> Total </h6>
                {% endif %}
            {% endfor %}
            </div>
        
        
            {% for k,T in c.totaux.items %}
            <div class="row">
                {% if k != 'total' %}
                    <h6 class="col-12 col-md text-md-left text-center">{{ k|payMethod }}</h6>
                    {% for kk,TT in T.items %}
                        {% if kk != 'total' %}
                            <div class="col-8 d-md-none {% if not TT %}d-none{% endif %}">{{ kk }}</div>
                            <div class="col-4 col-md text-right {% if not TT %}d-none d-md-block{% endif %}">{{ TT|floatformat:2 }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-8 d-md-none bg-light">Total</div>
                    <div class="col-4 col-md bg-light text-right"> {{T.total|floatformat:2 }} </div>
                {% endif %}
            </div>
            {% endfor %}
        
            <div class="row">
                <h6 class="col-12 col-md text-md-left text-center"> Total </h6>
                {% for kk,TT in c.totaux.total.items %}
                    {% if kk != 'total' %}
                        <div class="col-8 d-md-none">{{ kk }}</div>            
                        <div class="col-4 col-md text-right">{{ TT|floatformat:2 }}</div>
                    {% endif %}
                {% endfor %}
                <div class="col-8 d-md-none bg-light">Total</div>
                <div class="col bg-light text-right"> {{c.totaux.total.total|floatformat:2 }} </div>
            </div>
        </div>
    </div>
</div>


{% if cash.date_done is None  and request.user.perms.change_cashing %}
<div class="row">
    <div class="col-12 card">
        <h5 class="card-header">Ajouter des paiements</h5>
        <div class="card-body">
        <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="whattodo" value="cashing_add_payments" />
        <input type="submit" class="btn btn-primary" value="Ajouter" />
            <div class="row">
                <h6 class="col-12 col-lg-1 pl-1 pr-1"></h6>
                <h6 class="col-lg-2 d-none d-lg-block"> Date           </h6>
                <h6 class="col-lg-2 d-none d-lg-block"> Contrepartie   </h6>
                <h6 class="col-lg-2 d-none d-lg-block"> Catégorie      </h6>
                <h6 class="col-lg-3 d-none d-lg-block"> Motif      </h6>
                <h6 class="col-lg-1 d-none d-lg-block pl-1 pr-1"> Méthode        </h6>
                <h6 class="col-lg-1 d-none d-lg-block text-right pl-1 pr-1"> Montant        </h6>
            </div>
            
            <div class="row">
                <div class="col-12 col-lg-1 pl-1 pr-1">
                        
                    <div id="pay_search" class="twitter-typeahead">
                        <div class="input-group">
                            <input type="text" class="gafc-typeahead-search form-control rounded-left" placeholder="ID"  typeahead-source="{% url 'payments_json' %}" typeahead-callback="onchange();" typeahead-callback-invalid="onchange();">
                            <div class="input-group-append">
                                <span class="btn btn-danger rounded-right p-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
                            </div>
                            <input type="hidden" id="filter_by_id" class="gafc-typeahead-value" />
                        </div>
                    </div>
                </div>
                        
                <div class="col-lg-2 d-none d-lg-block"> 
                    <select class="custom-select" id="filter_by_date">
                        <option value="">---</option>
                        {% for d in f_dates %}
                        <option value="{{ d }}">{{ d }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-2 d-none d-lg-block"> 
                    <!--
                    <select class="custom-select" id="filter_by_person">
                        <option value="">---</option>
                        {% for id,p in f_persons.items %}
                        <option value="{{ id }}">{{ p.first_name }} {{ p.last_name|upper }}</option>
                        {% endfor %}
                    </select>-->
                        
                    <div id="person_search" class="twitter-typeahead">
                        <div class="input-group">
                            <input type="text" class="gafc-typeahead-search form-control rounded-left" placeholder="Adhérent" typeahead-source="{% url 'persons_json' %}" typeahead-callback="onchange();" typeahead-callback-invalid="onchange();">
                            <div class="input-group-append">
                                <span class="btn btn-danger rounded-right p-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
                            </div>
                            <input type="hidden" id="filter_by_person" class="gafc-typeahead-value" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 d-none d-lg-block">
                    <select class="custom-select" id="filter_by_category">
                        <option value="">---</option>
                        {% for id,c in f_cat.items %}
                        <option value="{{ id }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3 d-none d-lg-block"> </div>
                <div class="col-lg-1 d-none d-lg-block pl-1 pr-1">
                    <select class="custom-select" id="filter_by_method">
                        <option value="">---</option>
                        {% for d in f_methods %}
                        <option value="{{ d }}">{{ d|payMethod }}</option>
                        {% endfor %}
                    </select>                
                </div>
                <div class="col-lg-1 d-none d-lg-block text-right pl-1 pr-1">  </div>
            </div>    
            
            {% for k,g in g_payments.items %}
            
                {% if k is not None %}
                {% for T in g.P_total.items %}
                <div class="row event_line {% ifchanged k %}{% cycle 'alert-primary' 'alert-info' as line_theme %}{% else %}{{ line_theme }}{% endifchanged %}" event_id="{{ g.P_category.id }}_{{ g.P_event.id }}">
                    <div class=" col-1 col-md-3 col-lg-1 pl-1 pr-1">{% ifchanged k %}{% if request.user.perms.change_cashing %}<input type="checkbox" class="check_event_class" ref="{{ k }}"/>{% endif %}{% endifchanged %}</div>
                    <div class="col-6 col-md-3 col-lg-2"> {% ifchanged k %}{{ g.P_event.begin|date:'d/m/Y' }}<br />{{ g.P_event.season.name }}{% endifchanged %} </div>
                    <div class="col-12 col-md-6 col-lg-2 text-center">{% if forloop.last %}<a class="btn btn-info" data-toggle="collapse" href="#details-cash-{{ k }}" role="button" aria-expanded="false" aria-controls="details-cash-{{ k }}">Détails</a>{% endif %}</div>
                    <div class="col-5 col-md-3 col-lg-2"> {% ifchanged k %} <a href="{% url "category" g.P_category.id %}">{{ g.P_category }}</a> {% endifchanged %} </div>
                    <div class="col-6 col-md-6 col-lg-3"> {% ifchanged k %}{% if g.P_event %} <a href="{% url "event" g.P_event.id%}"> {{ g.P_event.title }} </a>{% endif %}{% endifchanged %}</div>
                    <div class="col-6 col-md-3 col-lg-1 text-info pl-1 pr-1 method_sum" method="{{ T.0 }}"> {{ T.0|payMethod }}  </div>
                    <div class="col-6 col-md-3 col-lg-1 text-right text-info pl-1 pr-1 method_sum" method="{{ T.0 }}"> {{ T.1|floatformat:2 }}</div>
                </div>
                {% endfor %}
                <div class="collapse" id="details-cash-{{ k }}">
                {% endif %}
                {% for kk,p in g.items %}
                
                    {% if not kk.0 == 'P' %}
                        <div class="row pt-1 pb-1 {% cycle '' 'bg-light' %} payment_line" payment_id="{{ p.id }}" category_id="{{ p.category.id }}"  method="{{ p.method }}" person_id="{{ p.person.id }}" date="{{ p.pay_done|date:'m-Y' }}" event_id="{{ p.category.id }}_{{ g.P_event.id }}">
                            <div class="col-6 col-md-3 col-lg-1 pl-1 pr-1"> {% if request.user.perms.change_cashing %} <input type="checkbox" ref="{{ k }}" class="single_payment" name="payments" value="{{ p.id }}" /> {% endif %} <a href="{% url 'payment' p.id %}">#P{{ p.id }}</a> </div>
                            <div class="col-6 col-md-3 col-lg-2"> {{ p.pay_done|date:'d/m/Y' }} <br />{{ p.season.name }}</div>
                            <div class="col-12 col-md-6 col-lg-2"> <a href="{% url "person" p.person.id %}"> {{ p.person.first_name }} {{ p.person.last_name|upper }}</a> </div>
                            <div class="col-12 col-md-4 col-lg-2"> {% if k is None %} <a href="{% url "category" p.category.id %}">{{ p.category }}</a> / {{ p.financial }} {% else %} {{ p.financial }} {% endif %} </div>
                            <div class="col-12 col-md-3 col-lg-3"> {% if k is None and p.event %} <a href="{% url "event" p.event.id%}"> {{ p.event.title }} </a>{% else %} {{ p.comment }} {% endif %}</div>
                            <div class="col-6 col-md-3 col-lg-1 pl-1 pr-1"> {{ p.method|payMethod }} </div>
                            <div class="col-6 col-md-2 col-lg-1 text-right pl-1 pr-1"> {{ p.amount }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if k is not None %}
                </div>
                {% endif %}
            {% endfor %}
        </form>
        </div>
    </div>
</div>
                            
<script type="text/javascript">
function onchange() {  
                
    selector = '.payment_line'
    $('.payment_line').addClass('d-none')
    $('.event_line').addClass('d-none')
                
    if($('#filter_by_id').val() != '') {
        selector += '[payment_id='+$('#filter_by_id').val()+']'
    }
                            
    if($('#filter_by_category').val() != '') {
        selector += '[category_id='+$('#filter_by_category').val()+']'
    }
                            
    if($('#filter_by_person').val() != '') {
        selector += '[person_id='+$('#filter_by_person').val()+']'
    }
                            
    if($('#filter_by_method').val() != '') {
        selector += '[method='+$('#filter_by_method').val()+']'
        $('.method_sum').addClass('d-none')
        $('.method_sum[method='+$('#filter_by_method').val()+']').removeClass('d-none')
    } else { $('.method_sum').removeClass('d-none') }
                            
    if($('#filter_by_date').val() != '') {
        selector += '[date='+$('#filter_by_date').val()+']'
    }

    $(selector).each(function() {
        $(this).removeClass('d-none')
        if($(this).attr('event_id') != '')
            $('.event_line[event_id='+$(this).attr('event_id')+']').removeClass('d-none')
    })
}

    
$(function() {

    $('#filter_by_category').change(onchange) 
    $('#filter_by_method').change(onchange)
    $('#filter_by_date').change(onchange)
    
    $('.check_event_class').change(function() {
        ischecked = $(this).prop('checked')
        $('[name=payments][ref='+$(this).attr('ref')+']').each(function() {
            if(!$(this).parents('.payment_line').hasClass('d-none')) {
                $(this).prop('checked',ischecked)                
            }
        })
    })
})
</script>                            
                            
                            
{% endif %}
{% endif %}

{% endblock %}