{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %}{{ c.name }} - édition des événements{% endblock %}

{% block content %}
<h3> Édition des évenements </h3>
<div class="row">
    <div class="col-12 card">
        <h5 class="card-header">Évenements {{ c.name }} </h5>
        <div class="card-body">
            <div class="row">               
                <div class="col">
                    <ul class="pagination">
                        {% for m in months %}
                        {% ifchanged m.0.month m.0.year %}
                        <li class="page-item {% if m.0.month == month and m.0.year == year %}active{% endif %}"><a class="page-link" href="{% url 'category_events_edit' category_id=category_id year=m.0.year month=m.0.month %}">{{ m.0.month|stringformat:'02i' }}/{{ m.0.year }}</a></li>
                        {% endifchanged %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        
        <form method="POST" novalidate>
        {% csrf_token %}
        <input type="hidden" name="whattodo" value="save_events" />
        {% for ff in self.forms.save_events %}
        <div class="row {% cycle 'alert-secondary' '' %}" ref="{{ ff.prefix }}" role="row-form-line">
            <input type="hidden" name="form_id" value="{{ ff.prefix }}" />
            <div class="col-2 pl-0 pr-0 mb-2 mt-2 text-center">
                {{ ff.title }}<div class="invalid-feedback">{{ ff.title.errors }}</div>
                {{ ff.eventtype }}<div class="invalid-feedback">{{ ff.eventtype.errors }}</div>
                {{ ff.place }}<div class="invalid-feedback">{{ ff.place.errors }}</div>
            </div>
            <div class="col-1 pl-0 pr-0 mb-2 mt-2 text-center">
                {{ ff.cost }}<div class="invalid-feedback">{{ ff.cost.errors }}</div>
                {{ ff.visibility }}<div class="invalid-feedback">{{ ff.visibility.errors }}</div>
            </div>
            <div class="col-3 pl-0 pr-0 mb-2 mt-2 text-center">{{ ff.description }}<div class="invalid-feedback">{{ ff.description.errors }}</div></div>
            <div class="col-3 mb-2 mt-2 text-center">
                <div class="row">
                    <div class="col-6 pl-0 pr-0">Début <br />{{ ff.begin }}<div class="invalid-feedback">{{ ff.begin.errors }}</div></div>
                    <div class="col-6 pl-0 pr-0">Fin <br />{{ ff.finish }}<div class="invalid-feedback">{{ ff.finish.errors }}</div></div>
                </div>
            </div>
            <div class="col-3 pl-0 pr-0 mb-2 mt-2 text-right">
                <div class="row">
                    <div class="col-12">{{ ff.public_after_va.label_tag }}{{ ff.public_after_va }}<div class="invalid-feedback">{{ ff.public_after_va.errors }}</div></div>
                    <div class="col-12">{{ ff.link.label_tag }}{{ ff.link }}<div class="invalid-feedback">{{ ff.link.errors }}</div></div>
                    <div class="col-12">{{ ff.onlyvalid.label_tag }}{{ ff.onlyvalid }}<div class="invalid-feedback">{{ ff.onlyvalid.errors }}</div></div>
                    <div class="col-12">{{ ff.delete.label_tag }}{{ ff.delete }}<div class="invalid-feedback">{{ ff.delete.errors }}</div></div>
                    <div class="col-12 text-right">
                        <span class="btn btn-secondary" role="duplicate">Dupliquer</span>
                        <a class="btn btn-secondary" data-toggle="collapse" data-target="#recur-{{ ff.prefix }}">Recurrence</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 collapse recur-area" id="recur-{{ ff.prefix }}">
                <div class="row mb-2">
                    <div class="col-md-4"> Récurrence: </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"> Tous les </span></div>
                            <input type="number" step="1" min="1" class="form-control" ref="recurint"/>
                            <select class="form-control custom-select" ref="recurtype">
                                <option value="DAY"> jours </option>
                                <option value="WEEK"> semaines </option>
                                <option value="MONTH"> mois (le 21 du mois) </option>
                                <option value="MONTH-SAME"> mois (1er mardi du mois) </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"> Jusqu'au: </div>
                    <div class="col-md-8">
                        <input type="date" class="form-control" ref="enddate" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="offset-md-4"> </div>
                    <div class="col-md-8">
                        <span class="btn btn-secondary" role="recurrence">Appliquer</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-12 text-center">
                <span class="btn btn-secondary" id="add_new_event" />Ajouter un événement</span>
                <input type="submit" class="btn btn-primary" value="Enregistrer"/>
            </div>
        </div>
        </form>
        </div>
    </div>
</div>

<script type="text/javascript">
        
var vid=0

function clean_form(elm) {
    elm.find('input,textarea').each(function() {
        if($(this).attr('type') == 'checkbox') {
            $(this).prop('checked',false)
        } else {
            if($(this).attr('name') != 'form_id')
                $(this).val('')
        }
    })

    elm.find('select').each(function() {
        $(this).val($(this).find('option:first').val())
    })
}
        
function duplicate(oelm) {
    newpre = 'NEWJS-'+vid
    oldpre = oelm.attr('ref')

    elm = oelm.clone()
        
    elm.find('input,select,textarea').each(function() {
        if($(this).attr('name') !== undefined && $(this).attr('name') != 'form_id') {
            $(this).attr('name',$(this).attr('name').replace(oldpre,newpre))
            $(this).attr('id',$(this).attr('id').replace(oldpre,newpre))
        }
    })
        
    elm.find('a[data-toggle=collapse]').attr('data-target', '#recur-'+newpre)
    elm.find('.recur-area').attr('id', 'recur-'+newpre)
        
    elm.find('label').each(function() {
        $(this).attr('for',$(this).attr('for').replace(oldpre,newpre))
    })
    
    elm.attr('ref',newpre)
    elm.find('input[name=form_id]').val(newpre)
    
    elm.insertAfter(oelm)
    
    vid += 1
    
    return elm
}
    
function addDays (date, days) {
  var result = new Date(date);
  result.setDate(result.getDate() + days);
  return result;
}
  
function addMonth (date, month) {
  var result = new Date(date);
  result.setMonth(result.getMonth() + month);
  return result;
}

function is_valid (d) {
  return (d instanceof Date && isFinite(d))
}

function strdate(d) {
    y = d.getYear()+1900
    M = d.getMonth()+1
    d = d.getDate()

    if(M<10) M = '0'+M
    if(d<10) d = '0'+d
  
    return y+'-'+M+'-'+d
}
    
function make_recurr(elm) {
    prefix = elm.attr('ref')
    begin = new Date(elm.find('[name='+prefix+'-begin_0]').val())
    finish = new Date(elm.find('[name='+prefix+'-finish_0]').val())
    enddate = new Date(elm.find('[ref=enddate]').val())

    type = elm.find('[ref=recurtype]').val()
    inter = parseInt(elm.find('[ref=recurint]').val())
    
    curr = begin
    diff = (finish-begin)/86400000

    if(!is_valid(begin) || !is_valid(finish) || !is_valid(enddate)) {
        console.log("Error")
        return
    }

    oelm = elm
        
    while(curr < enddate) {
        if(type == 'DAY') {
            curr = addDays(curr,inter)
        } else if(type == 'WEEK') {
            curr = addDays(curr,inter*7)
        } else if(type == 'MONTH') {
            curr = addMonth(curr, inter)
        } else if(type == 'MONTH-SAME') {
            nth = Math.ceil(begin.getDate()/7.)
            nth2=0
            for(i=0;i<inter;i++) {
                while(nth != nth2) {
                    curr = addDays(curr, 7)
                    nth2 = Math.ceil(curr.getDate()/7.)
                }
            }
        } else { return }
        elm = duplicate(elm)
        elm.find('.collapse input').each(function() { $(this).val('') })
        elm.find('.collapse').collapse('hide')
        elm.find('[ref=date_begin]:first').val(strdate(curr))
        elm.find('[ref=date_finish]:first').val(strdate(addDays(curr,diff)))
        setEvents()
    }
    
    oelm.find('.collapse').collapse('hide')
}

function setEvents() {
    $('[role=delete_checkbox]').off('click').click(function() {
        if($(this).prop('checked')) {
            $(this).parents('[role=row-form-line]').addClass('alert-danger')
        } else {
            $(this).parents('[role=row-form-line]').removeClass('alert-danger')
        }
    })
        
    $('[role=duplicate]').off('click').click(function() {
        duplicate($(this).parents('[role=row-form-line]'))
        setEvents()
    })
    
    var light = true
            
    $('[role=row-form-line]').each(function() {
        if(light) {
            $(this).addClass('alert-secondary')
        } else {
            $(this).removeClass('alert-secondary')
        }
        light = !light
    })
}

$(function() {
    setEvents();
    $('#add_new_event').click(function() {
        clean_form(duplicate($('[role=row-form-line]:last')))
        setEvents()
    }) 
    
    $('[role=recurrence]').click(function() {
        make_recurr($(this).parents('[role=row-form-line]'))
    })
})
</script>

{% endblock %}