{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %}{{ c.name }}{% endblock %}

{% block content %}
<h3>Catégorie</h3>
<div class="row">

    <div class="card col-12">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-info" >{% b_icon 'caret-down-square' 25 %}</a> Infos &amp; Statistiques
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-info">
            <div class="row">
                <div class="col-lg-7">
                {% if 'save_category' in self.forms %}
                    {% crispy self.forms.save_category %}
                {% else %}
                    <div class="row">
                        <div class="col-sm-4">Nom:</div>
                        <div class="col-sm-8">{{ c.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Global:</div>
                        <div class="col-sm-8">{{ c.is_global|yesno:'Oui,Non' }}</div>
                    </div>
                {% endif %}
                    <div class="row p-1">
                        <div class="col-sm-4 d-none d-sm-flex"> </div>
                        {% for t in stats %}{% if t != 'total' %}
                        <h6 class="col col-sm text-center"> {{ t|eventType|truncatechars:5 }} </h6>
                        {% endif %}{% endfor %}
                        <h6 class="col col-sm text-center"> Total </h6>
                    </div>
                    <div class="row p-1 bg-light">
                        <div class="col-sm-4"> Nombre d'événements: </div>
                        {% for k,s in stats.items %}{% if k != 'total' %}
                        <div class="col-4 col-sm text-right"> {{ s.count }} </div>
                        {% endif %}{% endfor %}
                        <div class="col-4 col-sm text-right"> {{ stats.total.count }} </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-sm-4"> Nombre de jours: </div>
                        {% for k,s in stats.items %}{% if k != 'total' %}
                        <div class="col-4 col-sm text-right"> {{ s.dur|floatformat:1 }} </div>
                        {% endif %}{% endfor %}
                        <div class="col-4 col-sm text-right"> {{ stats.total.dur|floatformat:1 }} </div>
                    </div>
                    <div class="row p-1 bg-light">
                        <div class="col-sm-4"> Participations: </div>
                        {% for k,s in stats.items %}{% if k != 'total' %}
                        <div class="col-4 col-sm text-right"> {{ s.p_count }} </div>
                        {% endif %}{% endfor %}
                        <div class="col-4 col-sm text-right"> {{ stats.total.p_count }} </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-sm-4"> Jours-participants: </div>
                        {% for k,s in stats.items %}{% if k != 'total' %}
                        <div class="col-4 col-sm text-right"> {{ s.dp_sum|floatformat:1 }} </div>
                        {% endif %}{% endfor %}
                        <div class="col-4 col-sm text-right"> {{ stats.total.dp_sum|floatformat:1  }} </div>
                    </div>
                    <div class="row p-1 bg-light">
                        <div class="col-sm-4"> Encadrements: </div>
                        {% for k,s in stats.items %}{% if k != 'total' %}
                        <div class="col-4 col-sm text-right"> {{ s.s_count }} </div>
                        {% endif %}{% endfor %}
                        <div class="col-4 col-sm text-right"> {{ stats.total.s_count }} </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-sm-4"> Jours-encadrant: </div>
                        {% for k,s in stats.items %}{% if k != 'total' %}
                        <div class="col-4 col-sm text-right"> {{ s.ds_sum|floatformat:1 }} </div>
                        {% endif %}{% endfor %}
                        <div class="col-4 col-sm text-right"> {{ stats.total.ds_sum|floatformat:1  }} </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="{% url 'category_p_repartition' c.id %}" width="100%"/>                        
                </div>
            </div>
        </div>
    </div>

    <div class="card col-12">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-events" >{% b_icon 'caret-down-square' 25 %}</a> Événements
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-events">
            <a href="{% url 'category_events_edit' category_id=c.id %}" class="btn btn-secondary mb-3"> Édition des événements </a>
             <a href="{% url 'category_events_export' category_id=c.id %}" class="btn btn-secondary mb-3">Export CSV</a>
        
            <!--
            <a href="#csvImportEvents" data-toggle="collapse" class="btn btn-secondary mb-3">Import CSV des événements</a>
        
            <form method="POST" action="{% url 'category_events_edit' category_id=c.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="whattodo" value="upload_csv" />
            <div class="collapse" id="csvImportEvents">
                <div class="row mb-3">
                    <div class="col-md-4">Fichier CSV:</div>
                    <div class="col-md-8"><input type="file" name="file" class="form-control custom-file" /></div>
                </div>
                <div class="row mb-3">
                    <div class="offset-md-4"></div>
                    <div class="col-md-8"><input type="submit" value="Importer" class="btn btn-primary" /></div>
                </div>
            </div>
            </form>-->

            <div class="row d-none d-md-flex">
                <h6 class="col-md-4"> Événement </h6>
                <h6 class="col-md-3"> Date </h6>
                <h6 class="col-md-2"> Type </h6>
                <h6 class="col-md-2"> État </h6>
                <h6 class="col-md-1 p-1"> Attente, Acceptés, Encadrants </h6>
            </div>
            {% for e in events %}
                <div class="row {% if e.is_cancelled %}alert-danger{% else %}{% cycle 'bg-light' '' %}{% endif %} pb-1 pt-1">
                    <div class="col-md-8 col-lg-4">{{ forloop.counter }}. <a href="{% url 'event' e.id %}">{{ e.title }}</a> {{ e.total }} </div>
                
                    <div class="col-md-4 col-lg-3">{{ e.begin|date:'d/m/Y H:i' }} - {{ e.finish|date:'d/m/Y H:i' }}</div>
                    <div class="col-5 col-md-4 col-lg-2"> {{ e.eventtype|eventType }} </div>
                    <div class="col-7 col-md-4 col-lg-2">
                        {{ e.current_state|eventState }}
                        {% if e.is_cancelled %} (Annulé) {% endif %}
                    </div>
                    <div class="col-md-4 col-lg-1">
                        {% if e.current_state == 'VA' %}
                            <div class="row">
                                <div class="col p-0">{{ e.p_done_count }} / {{ e.p_count }}</div>
                                <div class="col text-right p-0">{{ e.s_done_count }} / {{ e.s_count }}</div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col pl-1 pr-1">
                                    {{ e.p_waiting_count }} / {{ e.p_accepted_count }} / {{ e.s_count }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    

    {% if request.user.perms.financial_category %}

    <div class="card col-12">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-fin" >{% b_icon 'caret-down-square' 25 %}</a> Finances
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-fin">

            <div class="row">
                <div class="col-lg-6">
                    
                    {% if 'add_payment' in self.forms %}
                    <button class="btn btn-secondary" data-toggle="collapse" data-target="#formPaymentContent" aria-expanded="false" aria-controls="formPaymentContent"> Ajouter un paiement </button>
                    
                    <div class="collapse {% if self.forms.add_payment.errors %}show{% endif %}" id="formPaymentContent" aria-labelledby="formPaymentHeader">
                        <div class="card-body">{% crispy self.forms.add_payment %}
                        <div class="alert alert-info small"> Indiquer un montant positif pour un paiement reçu, un montant négatif pour un paiement effectué.</div>
                        </div>       
                    </div>
                    {% endif %}
                    
                </div>

                <div class="col-lg-6">
                    {% if 'add_transfer' in self.forms %}
                    <button class="btn btn-secondary" data-toggle="collapse" data-target="#formTransferContent" aria-expanded="false" aria-controls="formTransferContent"> Ajouter un transfert </button>

                    <div class="collapse {% if self.forms.add_internalpayment.errors %}show{% endif %}" id="formTransferContent" aria-labelledby="formTransferHeader">
                        <div class="card-body">{% crispy self.forms.add_transfer %}</div>    
                    </div>
                    {% endif %}
                    
                </div>
            </div> <!-- row -->


            <div class="row d-none d-md-flex">
                <h6 class="col-lg-1 col-md-2 text-nowrap pl-1 pr-1"> Id             </h6>
                <h6 class="col-lg-2 col-md-2"> Date           </h6>
                <h6 class="col-lg-2 col-md-4"> Contrepartie   </h6>
                <h6 class="col-lg-3 col-md-4"> Motif         </h6>
                <h6 class="col-lg-2 col-md-4"> Imputation         </h6>
                <h6 class="col-lg-1 col-md-4"> Moyen </h6>
                <h6 class="col-lg-1 col-md-4 text-right text-nowrap pl-1 pr-1"> Montant        </h6>
            </div>

            {% for k,g in g_payments.items %}

                {% if k is not None %}
                <div class="row">
                    <div class="col-md-2 alert-primary pl-1 pr-1">{{ g.event.begin|date:'d/m/Y' }}</div>
                    <div class="col-md-2 d-none d-md-block alert-primary"></div>
                    <div class="col-md-4 alert-primary"><a href="{% url 'event' g.event.id %}" class="">{{ g.event.title }}</a></div>
                    <div class="col-8 col-md-2 order-md-first alert-primary"><a href="#fin-{{ k }}" class="btn btn-info" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="fin-{{ k }}"> Détails </a></div>
                    <div class="col-4 col-md-2 alert-primary pl-1 pr-1 text-right {% if g.total > 0 %}text-success{% else %}text-danger{% endif %}">{{ g.total|floatformat:2 }}</div>
                </div>
                <div class="collapse" id="fin-{{ k }}">
                    
                {% endif %}

                {% for kk,p in g.items %}
                {% if kk != 'total' and kk != 'event' %}
                    <div class="row {% if p.refunded %}strike{% endif %} {% cycle '' 'bg-light' %}">
                        <div class="col-lg-1 col-md-2 col-6 text-nowrap pl-1 pr-1"> {% if p.type == 'ext' %}<a href="{% url 'payment' p.id %}">#P{{ p.id }}</a> {% else %} <a href="{% url 'transfer' p.id %}">#T{{ p.id }}</a> {% endif %}</div>
                        <div class="col-lg-2 col-md-2 col-6 text-nowrap text-md-left text-right pl-1 pr-1">{{ p.date|date:'d/m/Y' }}</div>
                        <div class="col-lg-2 col-md-4 col-12"> {% if p.type == 'ext' %}<a href="{% url 'person' p.payee.id %}">{{ p.payee }}</a>{% else %}<a href="{% url 'category' p.payee.id %}">{{ p.payee }}</a> / {{ p.account_p.name }}{% endif %}</div>
                        <div class="col-lg-3 col-md-4 col-12"> {{ p.reason|linebreaksbr }} </div>
                        <div class="col-lg-2 col-md-4 col-6"> {{ p.account.name }} </div>
                        <div class="col-lg-1 col-md-4 col-6"> {{ p.method|payMethod }} </div>
                        <div class="col-lg-1 col-md-4 col-12 text-right text-nowrap pl-1 pr-1 {% if p.amount > 0 %}text-success{% else %}text-danger{% endif %}"> {{ p.amount|floatformat:2 }} </div>
                    </div>
                {% endif %}
                {% endfor %}
                
                {% if k is not None %}
                </div>
                {% endif %}

            {%endfor%}
            
            <div class="row">
                <div class="col-md-6 mt-3">
                    <div class="row">
                    {% for t in tree %}
                        <div class="col-lg-6 font-weight-bold alert-primary">{{ '&nbsp;&nbsp;&nbsp;&nbsp;'|repeat:t.level|safe }} {{ t.elm.name }}</div>
                        <div class="col-6 col-lg-3 alert-primary text-right font-weight-bold"> {{ t.total.0|floatformat:2 }} </div>
                        <div class="col-6 col-lg-3 alert-primary text-right font-weight-bold"> {{ t.total.1|floatformat:2 }} </div>
                        {% for cid, c in t.cats.items %}
                                {% for aid, a in c.accounts.items %}
                                <div class="col-lg-6 {% cycle '' 'bg-light' as bg %}">{{'&nbsp;'|repeat:4|safe}}{{ '&nbsp;&nbsp;&nbsp;&nbsp;'|repeat:t.level|safe }}{{ a.account.name }}</div>
                                <div class="col-6 col-lg-3 text-right {{ bg }}"> {% if a.total.0 != 0 %} {{ a.total.0|floatformat:2 }} {% endif %} </div>
                                <div class="col-6 col-lg-3 text-right {{ bg }}"> {% if a.total.1 != 0 %} {{ a.total.1|floatformat:2 }} {% endif %} </div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </div>
                </div>
                <div class="offset-lg-2"></div>
                
                <div class="col-lg-4 col-md-6 mt-3">
                    {% for m,p in g_total_by_methods.items %}
                    <div class="row {% cycle '' 'bg-light' %}">
                        <div class="col-8 font-weight-bold">{{ m|payMethod }}</div>
                        <div class="col-4 font-weight-bold text-right pl-1 pr-1">{{ p|floatformat:2 }}</div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col-8 font-weight-bold {% if g_total > 0 %}bg-success{% else %}bg-danger text-white{% endif %}">Total</div>
                        <div class="col-4 font-weight-bold text-right pl-1 pr-1 {% if g_total > 0 %}bg-success{% else %}bg-danger text-white{% endif %}">{{ g_total|floatformat:2 }}</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div><!-- card -->
    {% endif %}
    
    
    <div class="card col-lg-6"><h5 class="card-header">
        <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-staff" >{% b_icon 'caret-down-square' 25 %}</a> Encadrants
    </h5>
    <div class="card-body collapse dont-collapse-sm" id="card-body-staff">
        <div class="row">
            <h6 class="col-md-6 d-none d-md-block"> Nom </h6>
            <h6 class="col-4 col-md-2 text-center"> Pro. </h6>
            <h6 class="col-4 col-md-2 text-center"> Enc. </h6>
            <h6 class="col-4 col-md-2 text-center"> Co. </h6>
        </div>
        {% for k,s in staffing.items %}
        <div class="row {% cycle 'bg-light' '' %} pb-1 pt-1">
            <div class="col-md-6"> <a href="{% url 'person' k %}">{{s.person}}</a> </div>
            <div class="col-4 col-md-2 text-center"> {% if s.pr_count != 0 %}{{s.pr_time}} ({{s.pr_count}}){% endif %} </div>
            <div class="col-4 col-md-2 text-center"> {% if s.su_count != 0 %}{{s.su_time}} ({{s.su_count}}){% endif %} </div>
            <div class="col-4 col-md-2 text-center"> {% if s.co_count != 0 %}{{s.co_time}} ({{s.co_count}}){% endif %} </div>
        </div>
        {% endfor %}

        <div class="alert alert-info small"> Sont comptabilisés les événements validés, non annulés, dont les personnes sont marquées présentes sur l'événement. La valeur entre parenthèses indique le nombre d'événements effectués. </div>

        </div>
    </div><!-- card -->
    
    <div class="card col-lg-6"><h5 class="card-header">
        <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-validstaff" >{% b_icon 'caret-down-square' 25 %}</a> Encadrants validés
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-validstaff">
        {% if 'add_category_staff' in self.forms %}
            <form method='POST'>
                <input type='hidden' name='whattodo' value='add_category_staff' />
                {% csrf_token %}

                <div class="input-group">
                    <input type="text" class="form-control gafc-typeahead-search rounded-left" typeahead-source="{% url 'persons_json' %}" placeholder="Adhérent"/>
                    <select class="form-control" name="level" required>
                        <option value="">---</option>
                        <option value="1CO">Co-encadrant</option>
                        <option value="2SU">Encadrant</option>
                        <option value="3PR">Professionnel</option>
                    </select>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary rounded-right" value="Ajouter" />
                    </div>
                    <input type="hidden" name="person" class="gafc-typeahead-value"/>
                </div>
            </form>
            
        {% endif %}
        
            {% for s in staffs %}
            <div class="row">
                <div class="col-5"><a href="{% url 'person' s.person.id %}">{{ s.person }}</a> <span class="badge badge-{% if s.valid_validations|length == 0 %}danger{% else %}success{% endif %}">{{ s.valid_validations|length }}</span></div>
                <div class="col-5"><a class="btn btn-info" data-toggle="collapse" href="#validators-staff-{{ s.id }}" role="button" aria-expanded="false" aria-controls="validators-staff-{{ s.id }}">{{ s.level|eventRole }}</a></div>
                <div class="col-1 text-right">
                {% if 'add_staff_validation' in self.forms %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="staff" value="{{ s.pk }}" />
                    <input type="hidden" name="whattodo" value="add_staff_validation" />
                    <button type="submit" class="badge badge-success p-0">{% b_icon 'check' 22 %}</button>
                </form>
                </div>
                <div class="col-1 text-right">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="staff_obj" value="{{ s.pk }}" />
                    <input type="hidden" name="whattodo" value="del_staff_validation" />
                    <button type="submit" class="badge badge-danger p-0">{% b_icon 'x' 22 %}</button>
                </form>
                {% endif %}
                </div>
            </div>
            <div class="collapse" id="validators-staff-{{ s.id }}">
            <div class="row">
                <div class="col-12">Validé par:</div>
            </div>
            {% for v in s.validation_set.all %}
            <div class="row">
                <div class="col-5">{% if v.date_end %}<s>{% endif %}<a href="{% url 'person' v.validator.id %}">{{ v.validator }}</a>{% if v.date_end %}</s>{% endif %}</div>
                <div class="col-3 text-success">{% if v.date_end %}<s>{% endif %}{{ v.date|date:'d/m/Y' }}{% if v.date_end %}</s>{% endif %}</div>
                <div class="col-3 text-danger">{{ v.date_end|date:'d/m/Y' }}</div>
            </div>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

</div><!-- row -->

{% endblock %}
