{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Tableau de bord {% endblock %}

{% block content %}
<h3> Tableau de bord ({{ today|date:'d/m/Y' }}) </h3>
<div class="row">

    <div class="col-md-6 card">
        <h5 class="card-header"><a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-adherents" >{% b_icon 'caret-down-square' 25 %}</a> Adhérents </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-adherents">
        
            <form method="POST">
            <div class="row">
                {% csrf_token %}
                <div class="col-md-4">Afficher à date:</div>
                <div class="col-md-4"><input type="date" name="date_today" class="form-control" /></div>
                <div class="col-md-4"><input type="submit" value="Afficher" class="btn btn-primary"/></div>
            </div>
            </form>
        
            <div class="row">
                <div class="col-8 col-md-4"> Hommes: </div>
                <div class="col-4 col-md-2 text-right"> {{ males.count }} </div>
                <div class="col-8 col-md-4"> Femmes: </div>
                <div class="col-4 col-md-2 text-right"> {{ females.count }} </div>
            </div>
            <div class="row">
                <div class="col-8"> Date fin des licences: </div>
                <div class="col-4 text-right">{{ end_date|date:'d/m/Y' }}</div>
            </div>
            <div class="row">
                <div class="col-8"> Age moyen: </div>
                <div class="col-4 text-right">{{ avg_ages|floatformat:1 }} &#177; {{ std_ages|floatformat:1 }}</div>
            </div>
            <div class="row">
                <div class="col-8"> Age médian: </div>
                <div class="col-4 text-right">{{ med_ages|floatformat:1 }}</div>
            </div>
            <div class="row">
                <div class="col-8"> Age Q10-Q90: </div>
                <div class="col-4 text-right">{{ percent_10|floatformat:1 }} - {{ percent_90|floatformat:1 }}</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img width="100%" src="{% url 'dashboard_adhesions_timeline' today %}" />
                </div>
                <div class="col-12">
                    <img width="100%" src="{% url 'dashboard_members_firstyear' today %}" />
                </div>
                <div class="col-12">
                    <img width="100%" src="{% url 'dashboard_members_ages' today %}" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 card">
        <h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-nextevents" >{% b_icon 'caret-down-square' 25 %}</a> Événements à venir </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-nextevents">        
            <div class="row">
            {% for e in events %}
                <div class="col-12 p-2 alert mt-1 mb-1 {% if e.is_cancelled %}alert-danger{% elif e.current_state == 'CR' %}alert-secondary{% elif e.current_state == 'OP' %}alert-primary{% elif e.current_state == 'CL' %}alert-warning{% elif e.current_state == 'VA' %}alert-success{% endif %}">
                    <div class="row">
                        <div class="col-12 justify-content-between d-flex">
                            <a href="{% url 'event' e.id %}">{{ e.title }}</a>
                            <small>{{ e.current_state|eventState }}</small>
                        </div>
                        <div class="col-12 justify-content-between d-flex">
                            <a href="{% url 'category' e.category.id %}">{{ e.category.name }}</a>
                            <span>{{ e.begin|date:'d/m/Y' }}</span>
                        </div>
                        <div class="col-12 justify-content-between d-flex">
                            <span>{{ e.p_waiting_count }} en attente</span>
                            <span>{{ e.p_accepted_count }} acceptés</span>
                            <span>{{ e.s_count }} encadrants</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        
        </div>
    </div>
    
    <div class="col-12 card">
        <h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-nextevents" >{% b_icon 'caret-down-square' 25 %}</a> Mixité </h5>
            <div class="card-body collapse dont-collapse-sm" id="card-body-nextevents">        
                <div class="row">
                    <img class="col-md-6" src="{% url 'mixityPlot' request.session.season_id %}" alt="Mixité globale">
                    {% for c in g_categories %}
                    <img class="col-md-6" src="{% url 'mixityPlot' request.session.season_id c.id %}" alt="Mixité{{ c.name }}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}