{% extends "gafc/template.html" %}
{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} {{ e.name }} {% endblock %}

{% block content %}
<h3> Équipement </h3>

<div class="row">

    <div class="card col-md-6">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-ident" >{% b_icon 'caret-down-square' 25 %}</a> Identification
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-ident">
    
            {% if 'save_equipment' in self.forms %}
                {% crispy self.forms.save_equipment %}    
            {% else %}
                    
            <div class="row">
                <h6 class="col-6"> Nom: </h6>
                <div class="col-6"> {{ e.name }} </div>
            </div>
            <div class="row">
                <h6 class="col-6"> Référence: </h6>
                <div class="col-6"> {{ e.reference }} </div>
            </div>
            <div class="row">
                <h6 class="col-6"> Date d'achat: </h6>
                <div class="col-6"> {{ e.date_buy }} </div>
            </div>
            <div class="row">
                <h6 class="col-6"> Description: </h6>
                <div class="col-6"> {{ e.description }} </div>
            </div>
            <div class="row">
                <h6 class="col-6"> Catégorie: </h6>
                <div class="col-6"> {{ e.category.name }} </div>
            </div>
            <div class="row">
                <h6 class="col-6"> Groupe: </h6>
                <div class="col-6"> {{ e.group.name }} </div>
            </div>
            <div class="row">
                <h6 class="col-6"> Mise en service: </h6>
                <div class="col-6"> {{ e.date_service }} </div>
            </div>
            <div class="row">
                <h6 class="col-6"> Fin de vie: </h6>
                <div class="col-6"> {{ e.date_eol }} </div>
            </div>
            <div class="row">
                <h6 class="col-6"> Mise au rebus: </h6>
                <div class="col-6"> {{ e.date_scrap }} </div>
            </div>
                    
            
            {% endif %}
            
            {% if 'scrap_equipment' in self.forms %}
            <div class="row">
                <div class="alert alert-warning col-12"> Attention: la mise au rebus est irréversible et verrouille l'équipement </div>
            </div>
            {% crispy self.forms.scrap_equipment %}
            {% endif %}
            
            
            {% if e.parent is not None %}
            <div class="row">
                <h6 class="col-md-4"> Parent: </h6>
                <div class="col-md-8"><a href="{% url 'equipment' e.parent.id %}">{{ e.parent.name }}</a> </div>
            </div>
            {% endif %}
            
            
            {% if e.cashing is not None %}
            <div class="row">
                <h6 class="col-md-4"> Encaissement: </h6>
                <div class="col-md-8"><a href="{% url 'cashing' e.cashing.id %}">Encaissement {{ e.cashing.id }}</a> </div>
            </div>
            {% endif %}
    
        </div>
    </div>

    <div class="col-lg-6 p-0">
    
        <div class="card">
            <h5 class="card-header">
                    <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-meta" >{% b_icon 'caret-down-square' 25 %}</a> Métadonnées
            </h5>
            <div class="card-body collapse dont-collapse-sm" id="card-body-meta">
                {% if 'add_meta' in self.forms %}
                <a class="btn btn-secondary" data-toggle="collapse" href="#formAddMetaField" role="button" aria-expanded="false" aria-controls="formAddMetaField"> Ajouter un champ </a>
                
                <div class="collapse row {% if form_add_meta.errors %}show{% endif %} " id="formAddMetaField">
                    <div class="col-12">
                        {% crispy self.forms.add_meta %}
                    </div>
                </div>
                {% endif %}
            
                {% if 'update_meta' in self.forms %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="whattodo" value="update_meta" />
            
                    <div class="row d-none d-md-flex">
                        <h6 class="col-md-5"> Nom        </h6>
                        <h6 class="col-md-3"> Type       </h6>
                        <h6 class="col-md-2"> Oblig. </h6>
                        <h6 class="col-md-2"> Suppr. </h6>
                    </div>
                    {% for f in self.forms.update_meta.forms %}
                    <div class="row">
                        <div class="col-12 d-md-none">Nom: </div>
                        <div class="col-md-5">{{ f.name }}</div>
                        
                        <div class="col-6 d-md-none">Type: </div>
                        <div class="col-6 col-md-3">{{ f.instance.datatype|datatype }}</div>
                        
                        <div class="col-6 d-md-none">Obligatoire: </div>
                        <div class="col-6 col-md-2">{{ f.mandatory }}</div>
                        
                        <div class="col-6 d-md-none">Supprimer: </div>
                        <div class="col-6 col-md-2">{{ f.delete }}</div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col text-center">
                            <input class="btn btn-primary" type="submit" value="Enregistrer" />
                        </div>
                    </div>
                </form>
                <div class="alert alert-warning">Attention: supprimer une colonne supprime également tout le contenu.</div>
                {% endif %}
            </div>
        </div>
        
        <div class="card"><h5 class="card-header">
                <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-img" >{% b_icon 'caret-down-square' 25 %}</a> Images
            </h5>
            <div class="card-body collapse dont-collapse-sm" id="card-body-img">
                {% if 'equipment_addfile' in self.forms %}
                {% crispy self.forms.equipment_addfile %}
                {% endif %}
                
                <div class="row">
                {% for ep in e.equipmentpicture_set.all %}
                    <div class="col-10">
                        <a href="{% url 'equipment_picture' ep.id %}"><img class="col" src="{% url 'equipment_picture' ep.id %}"/></a>
                    </div>
                    <div class="col-2">
                        {% if 'delete_equipment_picture' in self.forms %}
                        {% setFieldValue self.forms.delete_equipment_picture pic=ep.id %}
                        {% crispy self.forms.delete_equipment_picture %}
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> <!-- row -->

<div class="row">
    <div class="card col-12">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-follow" >{% b_icon 'caret-down-square' 25 %}</a> Suivi
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-follow">

        {% if 'add_tracking' in self.forms %}
        <a class="btn btn-secondary" data-toggle="collapse" href="#formAddTracking" role="button" aria-expanded="false" aria-controls="formAddTracking"> Ajouter un suivi </a>
        <div class="row collapse {% if trackingForm.errors %}show{% endif %}" id="formAddTracking">
            <div class="col-md-8 col-lg-6">
                {% crispy self.forms.add_tracking %}
            </div>
        </div>
        {% endif %}
        
        <div class="row d-none d-md-flex">
            <h6 class="col-lg-1 d-none d-lg-block col-md-3 pr-lg-1 pl-lg-1 text-nowrap">Date</h6>
            <h6 class="col-lg-2 d-none d-lg-block col-md-4">Utilisateur</h6>
            <h6 class="col-lg-2 d-none d-lg-block col-md-5">Événement</h6>
            <h6 class="col-lg-2 col-md-4">Commentaire</h6>
            <h6 class="col">Type</h6>
        {% for m in metas %}
            <h6 class="col">{{ m.name }}</h6>
        {% endfor %}
        </div>
        
        {% for t in tracks %}
        <div class="row pb-1 pt-1 {% cycle 'bg-light' '' %}">
            <div class="col-4 col-lg-1 col-md-3 pr-lg-1 pl-lg-1 text-nowrap"><a href="{% url 'equipmenttracking' t.id %}">{{ t.date|date:'d/m/Y' }}</a></div>
            <div class="col-8 col-lg-2 col-md-4"><a href="{% url 'person' t.person.id %}">{{ t.person.first_name|capfirst }} {{t.person.last_name|upper}}</a></div>
            <div class="col-6 col-lg-2 col-md-5">{% if t.event %}<a href="{% url 'event' t.event.id %}">{{ t.event.title }}</a>{% endif %}</div>
            <div class="col-6 col-lg-2 col-md-4">{{ t.comment }}</div>
            
            <div class="col-6 d-md-none">Type:</div>
            <div class="col-6 col-md">{{ t.trackingtype|trackingtype }}</div>
            
            {% for m in t.equipmentmetadata_set.all %}
            <div class="col-6 d-md-none">{{ m.meta.name }}:</div>
                <div class="col-6 col-md">{{ m.data }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        
        </div>
    </div>
</div><!-- row -->
    
{% if e.date_scrap is not None %}
<div class="row">
    <div class="col card">
        <h5 class="card-header"> Équipements dérivés </h5>
        <div class="card-body">
        {% if 'new_derived_equipment' in self.forms %}
        
        <a class="btn btn-secondary" data-toggle="collapse" href="#formAddEquipment" role="button" aria-expanded="false" aria-controls="formAddAdherent"> Ajouter un équipement dérivé </a>
        <div id="formAddEquipment" class="collapse">
        {% crispy self.forms.new_derived_equipment %}
        </div>
        {% endif %}
        
        {% for eq in e.equipment_set.all  %}
        <div class="row">
            <div class="col"><a href="{% url 'equipment' eq.id %}">{{ eq.name }}</a></div>
        </div>
        {% endfor %}
        </div>
    </div>
</div><!-- row -->
{% endif %}

{% endblock %}
