{% extends "gafc/template.html" %}
{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Groupe d'équipements {% endblock %}

{% block content %}
<h3>Groupe d'équipements</h3>

<div class="row">
    <div class="card col-12">
        <h5 class="card-header"> Infos </h5>
        <div class="card-body">
            <div class="row">
                {% if 'save_eqGroup' in self.forms %}
                <div class="offset-md-3"></div>
                <div class="col-md-6">
                    {% crispy self.forms.save_eqGroup %}
                </div>
                {% endif %}

                {% if 'delete_equipment_group' in self.forms %}
                <div class="col-12 text-center">
                    {% crispy self.forms.delete_equipment_group %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card col-12"><h5 class="card-header"> Liste des équipements </h5>
        <div class="card-body">
            
            {% include 'gafc/equipment_tree.html' %}

        </div>
    </div>

    {% if 'add_equipment_tracking_check' in self.forms %}
    <div class="card col-12"><h5 class="card-header"> Suivi groupé </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    Equipement
                </div>
                <div class="col-md-4">
                    Commentaire
                </div>
                <div class="col-md-5">
                    Métadonnées
                </div>
            </div>
            <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="whattodo" value="add_equipment_tracking_check" />
            {% for eid, f in self.forms.add_equipment_tracking_check.forms.items %}
            <div class="row {% cycle '' 'alert-secondary'%}">
                <div class="col-md-3">
                    {{ f.equipment }}
                    <small class="form-text">{{ f.equipment.reference }}</small>
                    <small class="form-text text-muted">{{ f.equipment.description }}</small>
                </div>
                <div class="col-md-4">
                    {{ f.comment }}
                    Suivi pour cet équipement: <input type="checkbox" name="equipment_id" value="{{ f.equipment.id }}" />
                </div>
                <div class="col-md-5">
                    {% for mf in f %}
                    {% if forloop.counter > 1 %}
                    
                    <div class="row">
                        <div class="col-lg-6">
                            {{ mf.label }}
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                {{ mf }}
                            </div>
                            <small class="form-text text-muted">{{ mf.help_text }}</small>
                            <div class="invalid-feedback">{{ mf.error }}</div>
                        </div>
                    </div>
                    
                    {% endif %}
                    {% endfor %}
                </div>                
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-3">
                    Type de suivi:
                </div>
                <div class="col-md-4">
                    <select name="trackingtype" class="form-control rounded-left select form-control custom-select" id="id_trackingtype">
                        <option value="US">Utilisation</option>
                        <option value="PE">Contrôle périodique</option>
                        <option value="EX">Contrôle exceptionnel</option>
                        <option value="CO">Commentaire</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Ajouter" class="btn btn-primary" />
                </div>
            </div>
            </form>
            </div>

        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
