
<ul class="list-group">
    <li class="list-group-item list-group-item-secondary"><h5><a href="{% url 'equipment_grp' tree.obj.id %}">{{ tree.obj.name }}</a></h5>
    
        <ul class="list-group">
            {% for e in tree.obj.equipments %}
            <li class="list-group-item {% if e.date_scrap is None %}list-group-item-info{% else %}list-group-item-danger{% endif %}">
                <div class="row">
                    <div class="col-md-4"><a href="{% url 'equipment' e.id %}">{{ e.name }}</a></div>
                    <div class="col-md-4 col-6">{{ e.reference }}</div>
                    <div class="col-md-4 col-6">{{ e.date_buy|date:'d/m/Y' }}</div>
                </div>    
            </li>
                
            {% endfor %}
        </ul>
        
        {% for t in tree.sub %}
        {% with t as tree %}
        {% include 'gafc/equipment_tree.html' %}
        {% endwith %}
        {% endfor %}
    </li>
</ul>
