{% extends "gafc/template.html" %}
{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} {{ t.equipment.name }} {% endblock %}

{% block content %}
<h3> Suivi de l'équipement {{ t.equipment.name }} </h3>

<div class="row">
    <div class="card col-12 col-lg-8">
        <h5 class="card-header">Modification</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">Équipement: </div>
                <div class="col-sm-8">{{ t.equipment.name }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Description de l'équipement: </div>
                <div class="col-sm-8">{{ t.equipment.description|linebreaks }}</div>
            </div>
        
            {% crispy self.forms.add_tracking %}
            
        </div>
    </div>
</div>


{% endblock %}
