{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title> ERREUR </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="HandheldFriendly" content="true" />
        
        <!-- CSS only -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- JS, Popper.js, and jQuery -->
        <!--
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        
        <!-- SPECIFIC CSS RULES -->
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        
        <!-- SPECIFIC JS -->
        <script type="text/javascript" src="{% static "js/typeahead.bundle.js" %}"></script>
        
    </head>
    <body>
        <main class="container" role="main">
        
            <nav class="site-header">
                <div class="container">
                    <header class="page-header">
                    <a class="btn btn-light" href="{% url 'home' %}">Intranet</a>
                    <a class="btn btn-light" href="{% url 'vehicle_home' %}">Minibus</a>
                    </header>
                </div>
            </nav>
    
            {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
    
            <div class="container">
            
                <div class="row">
                    <div class="offset-2"></div>
                    <div class="col-md-8 card">
                        <h5 class="card-header">Une erreur s'est produite....</h5>
                        <div class="card-body">
                            Cliquez <a href="{% url 'login' %}">ici</a> pour aller à la page de connection, et <a href="{% url 'home' %}">là</a> pour aller à la page d'accueil. Le site publique, <a href="http://www.gucem.fr/"> lui, c'est par là!</a>
                        </div>
                    </div>                
                </div>
            
            </div>

        
        </main>
    
        <footer class="footer font-small">
            <div class="container text-center">
                <span class="text-center py-3">© 2020 - 2022 Copyright:
                    <a href="https://www.gucem.fr/"> GUCEM</a> - <a href="https://www.williamchevremont.be/">William Chèvremont</a> - Licence GPLv3
                </span>
            </div>
        </footer>
    </body>
</html>

