{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} {{ request.event.title }} {% endblock %}

{% block content %}

<h3> Événement </h3>
<div class="row">
<div class="card col-md-6"><h5 class="card-header"> Informations </h5>
<div class="card-body">
    <div class="row">
        <h6 class="col-sm-4"> Titre: </h6>
        <div class="col-sm-8"> {{ request.event.title }} </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Catégorie: </h6>
        <div class="col-sm-8"> {{ request.event.category }} </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Type: </h6>
        <div class="col-sm-8"> {{ request.event.eventtype|eventType }} </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Description: </h6>
        <div class="col-sm-8"> {{ request.event.description|parse_markdown }} </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Début: </h6>
        <div class="col-sm-8"> {{ request.event.begin|date:'d F Y H:i' }} </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Fin: </h6>
        <div class="col-sm-8"> {{ request.event.finish|date:'d F Y H:i' }} </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Coût: </h6>
        <div class="col-sm-8"> {{ request.event.cost|floatformat:2 }}&euro; </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Saison: </h6>
        <div class="col-sm-8"> {{ request.event.season.name }} </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> État: </h6>
        <div class="col-sm-8"> {{ request.event.current_state|eventState }} {{ request.event.is_cancelled|yesno:'(Annulé),' }}</div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Participants acceptés: </h6>
        <div class="col-sm-8"> {{ request.event.p_accepted_count }} </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Participants présents: </h6>
        <div class="col-sm-8"> {{ request.event.p_done_count }} </div>
    </div>
    <div class="row">
        <h6 class="col-sm-4"> Encadrants: </h6>
        <div class="col-sm-8"> {{ request.event.s_count }} </div>
    </div>
</div>
</div>

<div class="card col-md-6"><h5 class="card-header"> Participation </h5>
    <div class="card-body">
        {% if 'delete_participation' in self.forms %}
        Votre demande d'inscription est en attente d'acceptation par le responsable. Vous pouvez modifier et/ou annuler votre demande.
        {% crispy self.forms.delete_participation %}
        {% endif %}
        
        {% if request.participation is None and 'request_event' in self.forms %}
            Vous n'êtes actuellement pas inscrit sur cet événement. Remplissez le formulaire ci-dessous pour vous inscrire.
        {% elif request.participation is not None %}
        <div class="row">
            <div class="col-sm-4"> Rôle :</div>
            <div class="col-sm-8"> {{ request.participation.role|eventRole }} {% if request.participation.role != '0PA' or request.user.global_perms.view_event %}<a href="{% url 'event' request.participation.event.id %}" class="btn btn-primary">Page d'événement</a>{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-sm-4"> Liste d'attente :</div>
            <div class="col-sm-8"> {% if request.participation.waiting %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %} </div>
        </div>
        <div class="row">
            <div class="col-sm-4"> Participation annulée :</div>
            <div class="col-sm-8"> {% if request.participation.cancelled %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %} </div>
        </div>
        <div class="row">
            <div class="col-sm-4"> Participation validée :</div>
            <div class="col-sm-8"> {% if request.participation.event_done %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %} </div>
        </div>
        {% endif %}
        
        {% if 'request_participation' in self.forms %}

        {% crispy self.forms.request_participation %}

        {% elif request.participation is not None%}
        {% for m in request.participation.metadata_txt %}
        <div class="row">
            <div class="col-sm-4">{{ m.0 }}{% if m.3 != 0 %}  ({{ m.3 }} &euro;){% endif %}</div>
            <div class="col-sm-8">{% if m.1 == 'BO' %}
                    {% if m.2 == 'OUI' %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}
                {% else %}
                    {{ m.2 }}
                {% endif %}</div>
        </div>
        {% endfor %}

        <div class="row">
            <h6 class="col-sm-4"> Coût total </h6>
            <div class="col-sm-8"> {{ request.participation.total_cost|floatformat:2 }} &euro; </div>
        </div>

        {% elif not request.event.link %}
        
        <div class="row">
            <div class="col-12 alert alert-info"> Cet événement n'est pas ouvert aux inscriptions en ligne. </div>
        </div>
            
        {% elif request.event.current_state != 'OP' %}
        
        <div class="row">
            <div class="col-12 alert alert-info"> Les inscriptions ne sont pas ouvertes. </div>
        </div>
            
        
        
        {% endif %}
        
    </div>
</div>
        
</div> <!-- row -->

{% endblock %}
