{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} {{ e.title }} {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 card">
        <h5 class="card-header"> Modifier l'événement </h5>
        <div class="card-body">
            {% crispy form_event %}
        </div>
    </div>
</div> <!-- row -->

{% endblock %}
