{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %}{{ c.name }} - Import CSV{% endblock %}

{% block content %}
<h3> Import CSV des événements </h3>
<div class="row">
    <div class="col-12 card">
        <form action="{% url 'category_events_edit' category_id=category_id %}" method="post">
        <input type="hidden" name="whattodo" value="set_columns" />
        <input type="hidden" name="filename" value="{{ filename }}" />

        {% csrf_token %}
        <div class="row">
            <div class="col-12"><input class="btn btn-primary" type="submit" value="Suivant" /></div>
        
        {% for f in form_fields %}
            <div class="col-lg-2 font-weight-bold {% cycle '' 'bg-light' as bg %}">{{ f.label }}</div>
            <div class="col-lg-3 {{ bg }}">{{ f }}</div>
            {% for e in f.field.examples %}
                <div class="col-md {{ bg }} {% if forloop.counter > 2 %}d-none d-md-block{% endif %}">{{ e|linebreaksbr }}</div>
            {% endfor %}
            <div class="w-100"></div>
        {% endfor %}

        </div>
    </form>
    </div>
</div>
{% endblock %}