{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Création des licences découvertes {% endblock %}

{% block content %}

<h3> {{ request.event.title }} : création des licences découvertes </h3>

<div class="row">
    <div class="col">
        <a href="{% url 'event' request.event.pk %}" class="btn btn-secondary"> Retour à la page d'événement </a>
    </div>
</div>

<div class="row">
    <div class="card col">
        <h5 class="card-header"> Licences </h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="whattodo" value="create_event_discovery_license" />
        
                <div class="row">
                    <div class="col-md-4"> Date de début de licence découverte: </div>
                    <div class="col-md-8"> {{ self.forms.create_event_discovery_license.date_in|date:'d/m/Y' }} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Nombre de jours: </div>
                    <div class="col-md-8"> {{ self.forms.create_event_discovery_license.category }} </div>
                </div>
        
                {{ self.forms.create_event_discovery_license.federation|as_crispy_field }}
                
                <div class="row">
                    <div class="col-2 col-md-1"></div>
                    <div class="col-10 col-md-3">Prénom NOM</div>
                    <div class="col-6 col-md-2"> État </div>
                    <div class="col-6 col-md-2"> Adresse </div>
                    <div class="col-6 col-md-2"> Date de naissance </div>
                    <div class="col-6 col-md-2"> Contact en cas d'urgence </div>
                </div>
                
                {% for p in self.forms.create_event_discovery_license.participation_set %}
                
                <div class="row">
                    <div class="col-2 col-md-1"><input type="checkbox" name="persons" value="{{ p.person.pk }}" /></div>
                    <div class="col-10 col-md-3">{{ p.person.first_name }} {{ p.person.last_name|upper }}</div>
                    <div class="col-6 col-md-2">
                        {% if p.waiting %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %} Liste d'attente <br />
                        {% if p.cancelled %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}Annulé
                    </div>
                    <div class="col-6 col-md-2">
                        {{ p.person.address }}
                    </div>
                    <div class="col-6 col-md-2">
                        {{ p.person.birthdate }}
                    </div>
                    <div class="col-6 col-md-2">
                        {{ p.person.emg_contact }}<br />
                        {{ p.person.emg_phone }}
                    </div>
                    
                </div>
                
                {% endfor %}
                
                {{ self.forms.create_event_discovery_license.extranet_login|as_crispy_field }}
                {{ self.forms.create_event_discovery_license.extranet_passwd|as_crispy_field }}
                
                {% comment %}
                    {% crispy self.forms.create_event_discovery_license %}
                {% endcomment %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8"><input type="submit" value="Créer les licences découvertes" class="btn btn-primary"/></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}