{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}
{% load static %}

{% block pagename %} {{ e.title }} {% endblock %}

{% block content %}
<h3>Événement</h3>

<div class="row">
    <div class="card col-lg-6">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-event" >{% b_icon 'caret-down-square' 25 %}</a> Détail
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-event">
            {% include 'gafc/event/informations.html' %}
        </div>
    </div>

    <div class="card col-lg-6">
        <h5 class="card-header">
        <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-state" >{% b_icon 'caret-down-square' 25 %}</a>
        Historique
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-state">
            {% include 'gafc/event/state.html' %}
        </div>
    </div> <!-- card -->
</div> <!-- row -->

<div class="row">
    <div class="card col-12">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-part" >{% b_icon 'caret-down-square' 25 %}</a>
            Participants
        </h5>
            
            {% if e.current_state == 'VA' %}
                {% include 'gafc/event/participation_table_static.html' %}
            {% else %}
                {% if is_async %}
                    {% include 'gafc/event/participation_table_async.html' %}
                {% else %}
                    Erreur: Le serveur tourne en WSGI. Cette vue requière ASGI.           
                {% endif %}
            {% endif %}
        </div>
    </div><!-- card -->
</div><!-- row -->

{% if request.user.perms.view_staffemail %}
<div class="row">
    <div class="card col-12">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-email" >{% b_icon 'caret-down-square' 25 %}</a>
            E-mail
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-email">
            {% include 'gafc/event/email.html' %}
        </div>
    </div>
</div> <!-- row -->
{% endif %}

{% if request.user.perms.view_payment or request.user.perms.view_internalpayment %}
<div class="row">

    <div class="card col-12" id="financial-anchor">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-fin" >{% b_icon 'caret-down-square' 25 %}</a>
            Finances
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-fin">

        {% include 'gafc/event/financial.html' %}
        
        </div>
    </div> <!-- card -->
</div> <!-- row -->
{% endif %}


{% if request.user.perms.view_equipment %}
<div class="row">

<div class="card col-12">
    <h5 class="card-header">
        <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-equipment" >{% b_icon 'caret-down-square' 25 %}</a>
        Équipements
    </h5>
    <div class="card-body collapse dont-collapse-sm" id="card-body-equipment">

{% if 'event_add_equipment' in self.forms %}

<div class="row">
    <div class="col-md-6">
        <form action="{% url 'event' e.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="whattodo" value="{{ self.forms.event_add_equipment.what }}" />
            <div class="input-group">
                {{ self.forms.event_add_equipment.equipment }}
                <div class="input-group-append">
                    <input class="btn btn-primary rounded-right" type="submit" value="Ajouter" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form action="{% url 'event' e.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="whattodo" value="{{ self.forms.event_add_equipment_group.what }}" />
            <div class="input-group">
                {{ self.forms.event_add_equipment_group.groups }}
                <div class="input-group-append">
                    <input class="btn btn-primary rounded-right" type="submit" value="Ajouter" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
<div class="col-12">
            
    {% if 'delete_event_equipment' in self.forms %}
    <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#formRemoveEquipment" aria-expanded="false" aria-controls="formRemoveEquipment"> Supprimer un équipement </button>
        
    <div class="collapse" id="formRemoveEquipment" aria-labelledby="formRemoveEquipment">
        {% for eq in self.forms.add_tracking_formset.forms %}
            {% setFieldValue self.forms.delete_event_equipment equipment_tracking=eq.instance.pk %}
            <div class="row">
                <div class="col-md-4">{{ eq.equipment.name }}:</div>
                <div class="col-md-8">{% crispy self.forms.delete_event_equipment %}</div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    

<form method="POST">
{% csrf_token %}
<input type="hidden" name="whattodo" value="{{ self.forms.add_tracking_formset.what }}" />
<div class="row d-lg-flex d-none">

    <h6 class="col-md-3"> Équipement  </h6>
    <h6 class="col-md-2"> Référence   </h6>
    <h6 class="col-md-3"> Commentaire </h6>
    <h6 class="col-md-4"> Métadonnées </h6>

</div>

{% for eq in self.forms.add_tracking_formset.forms %}
    {% ifchanged %}
    {% if eq.equipment.belong_to %}
    <div class="row">
    <h5 class="col-12 text-center">{{ eq.equipment.belong_to.name }}</h5>
    </div>
    {% endif %}
    {% endifchanged %}
    
    <div class="row d-lg-none"><div class="col-12"><hr /></div></div>

    <div class="row">
        <div class="col-lg-3 col-md-6"><a href="{% url 'equipment' eq.equipment.id %}">{{ eq.equipment.name }}</a></div>
        <div class="col-lg-2 col-md-6"><td>{{ eq.equipment.reference }}</div>
        {% for mf in eq %}
            {% if forloop.counter <= 1 %}
                <div class="col-lg-3 col-md-6"><span class="d-lg-none">Commentaire</span>{{mf}}</div>
                {% if forloop.last %}
                    <div class="offset-lg-3 offset-md-6"></div>
                {% endif %}
            {% else %}
                {% if forloop.counter == 2 %}
                    <div class="col-lg-3 col-md-6">
                {% endif %}
                    <div class="row">
                        <div class="col-lg-6">
                            {{ mf.label }}
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                {{ mf }}
                            </div>
                            <small class="form-text text-muted">{{ mf.help_text }}</small>
                            <div class="invalid-feedback">{{ mf.error }}</div>
                        </div>
                    </div>
                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endif %}
            {% if forloop.counter == 1 and forloop.last %} <td></td> {% endif %}
        {% endfor %}
        <div class="col-lg-1 text-center">
            {% comment %}
            {% if 'delete_event_equipment' in self.forms %}
            {% setFieldValue self.forms.delete_event_equipment equipment_tracking=eq.instance.pk %}
            {% crispy self.forms.delete_event_equipment %}
            {% endif %}
            {% endcomment %}
        </div>
    </div>
{% endfor %}
<div class="row d-lg-none"><div class="col-12"><hr /></div></div>

<div class="row"><div class="col-12 text-center">
<input class="btn btn-primary" type="submit" value="Enregistrer" />
</div></div>

</form>
</div> <!-- col-12 -->
</div> <!-- row -->

{% else %}


<div class="row d-lg-flex d-none">

    <h6 class="col-md-3"> Équipement  </h6>
    <h6 class="col-md-2"> Référence   </h6>
    <h6 class="col-md-3"> Commentaire </h6>
    <h6 class="col-md-4"> Métadonnées </h6>

</div>

{% for e in equipments %}
    <div class="row d-md-none"><div class="col-12"><hr /></div></div>
    <div class="row">

    <div class="col-md-3 col-7"> <a href="{% url 'equipment' e.equipment.id %}">{{ e.equipment.name }}</a>  </div>
    <div class="col-md-2 col-5"> {{ e.equipment.reference }}   </div>
    <div class="col-md-3 col-12"> {{ e.comment }} </div>
    <div class="col-md-4 col-12">
    {% for m in e.equipmentmetadata_set.all %}
    <div class="row">
        <div class="col-5">{{ m.meta.name }}</div>
        <div class="col-7">{{ m.data }}</div>
    </div>
    {% endfor %}
    </div>

</div>
{% endfor %}
<div class="row d-lg-none"><div class="col-12"><hr /></div></div>


{% endif %}

</div>
</div> <!-- card -->

</div><!-- row -->
{% endif %}

</div><!-- container -->

{% endblock %}

