{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Événements {% endblock %}

{% block content %}
<h3> Événements </h3>

<div class="row">
    {% if 'save_event' in self.forms %} 
    <div class="col-12">
        <a class="btn btn-secondary" data-toggle="collapse" href="#formAddEvent" role="button" aria-expanded="false" aria-controls="formAddEvent"> Ajouter un événement </a>
        <div class="collapse {% if form.errors %}show{% endif %} row" id="formAddEvent">
            <div class="card col-md-8">
                <h5 class="card-header">Ajouter un événement</h5>
                <div class="card-body">
                    {% crispy self.forms.save_event %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="card col-12">
        <h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-calendar" >{% b_icon 'caret-down-square' 25 %}</a> Calendrier </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-calendar">
        
            <div class="col-12 p-0">
                <ul class="pagination flex-wrap">
                    {% for m in months %}
                    {% ifchanged m.0.month m.0.year %}
                    <li class="page-item {% if m.0.month == month and m.0.year == year %}active{% endif %}"><a class="page-link" href="{% url 'list_events' year=m.0.year month=m.0.month %}">{{ m.0.month|stringformat:'02i' }}/{{ m.0.year }}</a></li>
                    {% endifchanged %}
                    {% endfor %}
                </ul>
            </div>
            
            <div class="row d-none d-lg-flex">
                <h5 class="col border">Lundi</h5>
                <h5 class="col border">Mardi</h5>
                <h5 class="col border">Mercredi</h5>
                <h5 class="col border">Jeudi</h5>
                <h5 class="col border">Vendredi</h5>
                <h5 class="col border">Samedi</h5>
                <h5 class="col border">Dimanche</h5>
            </div>
            {% for week in weeks %}
            <div class="row {% if forloop.counter|divisibleby:2 %}alert-secondary{% endif %}" style="min-height: 100px;">
                {% for w in week %}
                {% if w.date is not None %}
                <div class="col-12 col-lg {% if w.events.count == 0 %} d-none d-lg-block {% endif %} border p-0 {% if w.date < today %}alert-dark{% elif w.date == today %}alert-info{% endif %}">
                    {{ w.date }}
                    <div class="list-group">
                    {% for e in w.events %}
                        <small class="p-2 alert mt-1 mb-1 {% if e.is_cancelled %}alert-danger{% elif e.current_state == 'CR' %}alert-light{% elif e.current_state == 'OP' %}alert-primary{% elif e.current_state == 'CL' %}alert-warning{% elif e.current_state == 'VA' %}alert-success{% endif %}">
                            <div class="row">
                                <div class="col-12"><a href="{% url 'event' e.id %}" class="alert-link">{{ e.title }}</a></div>
                                <div class="col-12 justify-content-between d-flex">
                                    <span>{{ e.category.name }}</span>
                                    {% if request.user.is_staff %}
                                    {% if e.current_state == 'VA' %}
                                        <span>{{ e.p_done_count }} / {{ e.p_count }}</span>
                                        <span>{{ e.s_done_count }} / {{ e.s_count }}</span>
                                    {% else %}
                                        <span>{{ e.p_waiting_count }} / {{ e.p_accepted_count }} / {{ e.s_count }}</span>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </small>
                    {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="col-12 col-lg border p-0 d-none d-lg-block"></div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
                
            
            <div class="row">
                <div class="col-md col-12 alert-light">Créé</div>
                <div class="col-md col-12 alert-primary">Ouvert aux inscriptions</div>
                <div class="col-md col-12 alert-warning">Inscriptions fermées</div>
                <div class="col-md col-12 alert-danger">Annulé</div>
                <div class="col-md col-12 alert-success">Validé</div>
            </div>
        </div>
    </div>
</div>
                

<div class="row">
    <div class="card col-12">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-part" >{% b_icon 'caret-down-square' 25 %}</a> Participations
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-part">
            
            <ul class="nav nav-tabs" id="participationTab" role="tablist">
            
            {% for p in participations %}
                {% ifchanged p.event.season.id %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if p.event.season.is_default %}active{% endif %}"
                            id="tab-participation-{{ p.event.season.id }}"
                            data-toggle="tab"
                            href="#participation-{{ p.event.season.id }}"
                            role="tab"
                            aria-controls="participation-{{ p.event.season.id }}"
                            arial-selected="{% if p.event.season.is_default %}true{% else %}false{% endif %}">{{ p.event.season.name }}</a>
                    </li>
                {% endifchanged %}
                {% endfor %}
            </ul>
            
            <div class="tab-content" id="ParticipationTabContent">
            {% for p in participations %}
                {% ifchanged p.event.season.id %}
                    {% if forloop.counter != 1 %} </div> {% endif %}
                    <div class="tab-pane {% if p.event.season.is_default %} show active{% endif %}" id="participation-{{ p.event.season.id }}" role="tabpanel" aria-labelledby="tab-participation-{{ p.event.season.id }}">
                        <div class="row d-none d-lg-flex">
                            <h6 class="col-2"> Date </h6>
                            <h6 class="col-5"> Événement </h6>
                            <h6 class="col-2"> Catégorie </h6>
                            <h6 class="col-2"> Rôle </h6>
                            <h6 class="col-1 text-md-center"> Attente, Annulé, Présent </h6>
                        </div>
                {% endifchanged %}
                        <div class="row pb-1 pt-1 {% cycle 'bg-light' '' %}">
                            <div class="col-md-5 col-lg-2">{{ p.event.begin|date:'d/m/Y' }}</div>
                            <div class="col-md-7 col-lg-5"><a href="{% url 'event_participation' p.event.id %}">{{ p.event.title }} {% if p.event.is_cancelled %} (annulé) {% endif %}</a></div>
                            <div class="col-md-5 col-lg-2 d-none d-md-block"> {{p.event.category.name}} </div>
                            <div class="col-md-5 col-lg-2">{{ p.role|eventRole }}</div>
                            <div class="col-md-2 col-lg-1 text-right d-none d-md-block">
                                {% if p.waiting %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}
                                {% if p.cancelled %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}
                                {% if p.event_done %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}
                            </div>
                        </div>
            {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}