{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Notes de frais {% endblock %}

{% block content %}

<h3> Notes de frais </h3>

<div class="row">
    <div class="col">
        <a class="btn btn-secondary" data-toggle="collapse" href="#formAddCashing" role="button" aria-expanded="false" aria-controls="formAddCashing"> Créer une note de frais </a>
        <div class="collapse {% if form_cashing.errors %}show{% endif %} row" id="formAddCashing">
            <div class="card col-md-8">
                <h5 class="card-header">Nouvelle note de frais</h5>
                <div class="card-body">
                    <div class="alert alert-info">
                        <p>Merci de grouper tous les frais qui doivent vous être versé dans une même note de frais. Vous pouvez ajouter des dépenses dans les notes de frais existantes jusqu'à leur validation.</p>
                        <p>Les frais doivent être justifiés par une facture ou un ticket de caisse détaillant les dits frais, qui doivent être au bénéfice du club. Un reçu de carte bancaire ne fait pas office de justificatif.</p>
                        <p>En cas d'erreur dans la validation de la note de frais, merci d'envoyer tous les éléments (un petit mot d'explication, IBAN et code BIC en mode texte et les pièces jointes) à tresorier@gucem.fr. Si des paiements ont déjà été créés et liés à des évènements, merci de noter également leur numéro (PXXXX) dans le corps du message.</p>
                    </div>
                    {% crispy self.forms.create_cashing %}
                </div>
            </div>
        </div>
    </div>
</div><!-- row -->

<div class="row">
    <div class="col-12 card">
        <h5 class="card-header"> Mes notes de frais</h5>
        <div class="card-body">
            <div class="row d-none d-md-flex">
                <h6 class="col-md-2"></h6>
                <h6 class="col-md-2">Abandon frais</h6>
                <h6 class="col-md-2">Date demande</h6>
                <h6 class="col-md-2">Montant demandé</h6>
                <h6 class="col-md-2">Date validation</h6>
                <h6 class="col-md-2">Montant validé</h6>
            </div>
            {% for c in cashs %}
            <div class="row {% cycle 'bg-light' '' %}">
                <div class="col-6 col-md-2"><a href="{% url "cashing" c.id %}">Note de frais {{ c.id }}</a></div>
                <div class="col-6 col-md-2"><span class="d-md-none">Abandon: </span>{{ c.abandon|yesno:'Oui, Non' }}</div>
                <div class="col-6 d-md-none">Demande: </div>
                <div class="col-6 col-md-2">{{ c.date|date:'d/m/Y' }}</div>
                <div class="col-6 d-md-none">Montant: </div>
                <div class="col-6 col-md-2">{{ c.amount }}</div>
                {% if c.date_done is not None %}
                <div class="col-6 d-md-none">Validation: </div>
                <div class="col-6 col-md-2">{{ c.date_done|date:'d/m/Y' }}</div>
                <div class="col-6 d-md-none">Total validé: </div>
                <div class="col-6 col-md-2">{{ c.total_amount }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}


