{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Encaissements {% endblock %}

{% block content %}

<h3> Encaissements </h3>

<div class="row">
<form method="POST">
    <input type="hidden" name="whattodo" value="create_cashing" />
    {% csrf_token %}
    <input type="submit" value="Nouvel encaissement" class="btn btn-primary"/>
</form>
</div><!-- row -->


<nav aria-label="Year navigation">
  <ul class="pagination justify-content-center">
     {% for y in years %}
     <li class="page-item {% if y.date__year == year %}active{% endif %}"><a class="page-link" href="{% url 'financial' y.date__year %}">{{y.date__year}}</a></li>
     {% endfor %}
  </ul>
</nav>

<div class="row">

<div class="card col-12"><h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-waiting-cashing" >{% b_icon 'caret-down-square' 25 %}</a> Encaissements en attente </h5>
<div class="card-body collapse dont-collapse-sm" id="card-body-waiting-cashing">

<div class="row d-none d-md-flex">

    <div class="col-md-2"></div>
    <div class="col-md-4 text-center">Demande</div>
    <div class="col-md-4 text-center"></div>
    <div class="col-md-2 text-right">Montant</div>
</div>

<form method="POST">
{% csrf_token %}
<input type="hidden" name="whattodo" value="merge_cashing" />    

{% for c in cash_pending %}

<div class="row {% if c.rejected %}alert-danger{% else %}{% cycle '' 'alert-secondary' %}{% endif %}">

    <div class="col-md-2">
        <a class="btn btn-secondary p-1" data-toggle="collapse" href="#cashing-{{ c.id }}" role="button" aria-expanded="false" aria-controls="cashing-{{ c.id }}">{% b_icon 'arrow-down-square-fill' 16 %}</a>&nbsp;
        <a class="btn btn-secondary p-1" href="{% url 'cashing' c.id %}">Voir</a>
        &nbsp;&nbsp;&nbsp;#{{ c.id }}
        {% if request.user.perms.validate_cashing %}
        <input type="checkbox" name="cash_ids" value="{{ c.id }}" />
        {% endif %}
    </div>
    <div class="col-5 col-md-2 text-right">{{ c.date|date:'d/m/Y' }}</div>
    <div class="col-7 col-md-2">
        <a href="{% url 'person' c.person_ask__id %}">{{ c.person_ask__first_name }} {{ c.person_ask__last_name }}</a>
    </div>
    <div class="col-md-6 text-right">{{ c.totaux.total.total|floatformat:2 }} &euro;</div>
</div>

<div class="collapse pt-2 pb-2" id="cashing-{{ c.id }}">

    <div class="row">
        <div class="col-12">
            {{ c.comment|linebreaks }}
        </div>
    </div>

    <div class="row">
        <h6 class="col-12 col-lg-1 pl-1 pr-1"></h6>
        <h6 class="col-lg-2 d-none d-lg-block"> Date           </h6>
        <h6 class="col-lg-2 d-none d-lg-block"> Contrepartie   </h6>
        <h6 class="col-lg-2 d-none d-lg-block"> Catégorie      </h6>
        <h6 class="col-lg-3 d-none d-lg-block"> Motif      </h6>
        <h6 class="col-lg-1 d-none d-lg-block pl-1 pr-1"> Méthode        </h6>
        <h6 class="col-lg-1 d-none d-lg-block text-right pl-1 pr-1"> Montant        </h6>
    </div>
    {% for k,g in c.g_payments.items %}

        {% if k is not None %}
        {% for T in g.P_total.items %}
        <div class="row">
            <div class="alert-primary col-1 col-md-3 col-lg-1 pl-1 pr-1"></div>
            <div class="alert-primary col-6 col-md-3 col-lg-2">{% ifchanged k %} {{ g.P_event.begin|date:'d/m/Y' }} {% endifchanged %}</div>
            <div class="alert-primary col-12 col-md-6 col-lg-2 text-center">{% if forloop.last %}<a class="btn btn-info" data-toggle="collapse" href="#details-{{ c.id }}-{{ k }}" role="button" aria-expanded="false" aria-controls="details-{{ c.id }}-{{ k }}">Détails</a>{% endif %}</div>
            <div class="alert-primary col-5 col-md-3 col-lg-2"> {% ifchanged k %} <a href="{% url "category" g.P_category.id %}">{{ g.P_category }}</a> {% endifchanged %} </div>
            <div class="alert-primary col-6 col-md-6 col-lg-3"> {% ifchanged k %}{% if g.P_event %} <a href="{% url "event" g.P_event.id%}"> {{ g.P_event.title }} </a>{% endif %}{% endifchanged %}</div>
            <div class="alert-primary col-6 col-md-3 col-lg-1 text-info pl-1 pr-1"> {{ T.0|payMethod }}  </div>
            <div class="alert-primary col-6 col-md-3 col-lg-1 text-right text-info pl-1 pr-1"> {{ T.1|floatformat:2 }}</div>
        </div>
        {% endfor %}
        <div class="collapse" id="details-{{c.id}}-{{ k }}">
        {% endif %}
        {% for kk,p in g.items %}
        
            {% if not kk.0 == 'P' %}
            <div class="row pt-1 pb-1 {% cycle '' 'bg-light' %}">
                <div class="col-6 col-md-3 col-lg-1 pl-1 pr-1"><a href="{% url 'payment' p.id %}">#P{{ p.id }}</a> </div>
                <div class="col-6 col-md-3 col-lg-2"> {{ p.pay_done|date:'d/m/Y' }} </div>
                <div class="col-12 col-md-6 col-lg-2"> <a href="{% url "person" p.person.id %}"> {{ p.person.first_name }} {{ p.person.last_name|upper }}</a> </div>
                <div class="col-12 col-md-4 col-lg-2"> {% if k is None %} <a href="{% url "category" p.category.id %}">{{ p.category }}</a> / {{ p.financial }} {% else %} {{ p.financial }} {% endif %} </div>
                <div class="col-12 col-md-3 col-lg-3"> {% if k is None and p.event %} <a href="{% url "event" p.event.id%}"> {{ p.event.title }} </a>{% else %} {{ p.comment }} {% endif %}</div>
                <div class="col-6 col-md-3 col-lg-1 pl-1 pr-1"> {{ p.method|payMethod }} </div>
                <div class="col-6 col-md-2 col-lg-1 text-right pl-1 pr-1"> {{ p.amount }}</div>
            </div>
            {% endif %}
        {% endfor %}
        <div class="row d-md-none"><div class="col-12"><hr /></div></div>
        {% if k is not None %}
        </div>
        {% endif %}
    {% endfor %}


    <div class="row"><div class="col-12"><hr /></div></div>

    <div class="row d-none d-md-flex">
        <h6 class="col"></h6>
    {% for k,T in c.totaux.items %}
        {% if not forloop.counter0 %}
            {% for kk,TT in T.items %}
                {% if kk != 'total' %}
                    <h6 class="col-12 col-md text-right">{{ kk }}</h6>
                {% endif %}
            {% endfor %}
            <h6 class="col-12 col-md text-right"> Total </h6>
        {% endif %}
    {% endfor %}
    </div>


    {% for k,T in c.totaux.items %}
    <div class="row">
        {% if k != 'total' %}
            <h6 class="col-12 col-md text-md-left text-center">{{ k|payMethod }}</h6>
            {% for kk,TT in T.items %}
                {% if kk != 'total' %}
                    <div class="col-8 d-md-none {% if not TT %}d-none{% endif %}">{{ kk }}</div>
                    <div class="col-4 col-md text-right {% if not TT %}d-none d-md-block{% endif %}">{{ TT|floatformat:2 }}</div>
                {% endif %}
            {% endfor %}
            <div class="col-8 d-md-none bg-light">Total</div>
            <div class="col-4 col-md bg-light text-right"> {{T.total|floatformat:2 }} </div>
        {% endif %}
    </div>
    {% endfor %}

    <div class="row">
        <h6 class="col-12 col-md text-md-left text-center"> Total </h6>
        {% for kk,TT in c.totaux.total.items %}
            {% if kk != 'total' %}
                <div class="col-8 d-md-none">{{ kk }}</div>            
                <div class="col-4 col-md text-right">{{ TT|floatformat:2 }}</div>
            {% endif %}
        {% endfor %}
        <div class="col-8 d-md-none bg-light">Total</div>
        <div class="col bg-light text-right"> {{c.totaux.total.total|floatformat:2 }} </div>
    </div>
    <div class="row"><div class="col-12"><hr /></div></div>

</div>
{% endfor %}
        
{% if request.user.perms.validate_cashing %}
<input type="submit" class="btn btn-danger" value="Fusionner" />     
{% endif %}
                 
</form>


</div>
</div>
</div>

<div class="row">

<div class="card col-12"><h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-cashing" >{% b_icon 'caret-down-square' 25 %}</a> Encaissements Validés </h5>
<div class="card-body collapse dont-collapse-sm" id="card-body-cashing">

<div class="row d-none d-md-flex">

    <div class="col-md-2"></div>
    <div class="col-md-4 text-center">Demande</div>
    <div class="col-md-4 text-center">Validation</div>
    <div class="col-md-2 text-right">Montant</div>
</div>

{% for c in cash_done %}
<div class="row {% if c.rejected %}alert-danger{% else %}{% cycle '' 'alert-secondary' %}{% endif %}">
    <div class="col-md-2">
        <a class="btn btn-secondary p-1" data-toggle="collapse" href="#cashing-{{ c.id }}" role="button" aria-expanded="false" aria-controls="cashing-{{ c.id }}">{% b_icon 'arrow-down-square-fill' 16 %}</a>&nbsp;
        <a class="btn btn-secondary p-1" href="{% url 'cashing' c.id %}">Voir</a>
&nbsp;&nbsp;&nbsp;#{{ c.id }}
    </div>
    <div class="col-5 col-md-2 text-right">{{ c.date|date:'d/m/Y' }}</div>
    <div class="col-7 col-md-2">
        <a href="{% url 'person' c.person_ask__id %}">{{ c.person_ask__first_name }} {{ c.person_ask__last_name }}</a>
    </div>
    <div class="col-5 col-md-2 text-right">{{ c.date_done|date:'d/m/Y' }}</div>
    <div class="col-7 col-md-2">
        <a href="{% url 'person' c.person__id %}">{{ c.person__first_name }} {{ c.person__last_name }}</a>
    </div>
    <div class="col-12 col-md-2 text-right">{{ c.totaux.total.total|floatformat:2 }} &euro;</div>
</div>

<div class="collapse pt-2 pb-2" id="cashing-{{ c.id }}">

    <div class="row">
        <div class="col-12">
            {{ c.comment|linebreaks }}
        </div>
    </div>

    <div class="row">
        <h6 class="col-12 col-lg-1 pl-1 pr-1"></h6>
        <h6 class="col-lg-2 d-none d-lg-block"> Date           </h6>
        <h6 class="col-lg-2 d-none d-lg-block"> Contrepartie   </h6>
        <h6 class="col-lg-2 d-none d-lg-block"> Catégorie      </h6>
        <h6 class="col-lg-3 d-none d-lg-block"> Motif      </h6>
        <h6 class="col-lg-1 d-none d-lg-block pl-1 pr-1"> Méthode        </h6>
        <h6 class="col-lg-1 d-none d-lg-block text-right pl-1 pr-1"> Montant        </h6>
    </div>
    {% for k,g in c.g_payments.items %}

        {% if k is not None %}
        {% for T in g.P_total.items %}
        <div class="row">
            <div class="alert-primary col-1 col-md-3 col-lg-1 pl-1 pr-1"></div>
            <div class="alert-primary col-6 col-md-3 col-lg-2">{% ifchanged k %} {{ g.P_event.begin|date:'d/m/Y' }} {% endifchanged %}</div>
            <div class="alert-primary col-12 col-md-6 col-lg-2 text-center">{% if forloop.last %}<a class="btn btn-info" data-toggle="collapse" href="#details-{{ c.id }}-{{ k }}" role="button" aria-expanded="false" aria-controls="details-{{ c.id }}-{{ k }}">Détails</a>{% endif %}</div>
            <div class="alert-primary col-5 col-md-3 col-lg-2"> {% ifchanged k %} <a href="{% url "category" g.P_category.id %}">{{ g.P_category }}</a> {% endifchanged %} </div>
            <div class="alert-primary col-6 col-md-6 col-lg-3"> {% ifchanged k %}{% if g.P_event %} <a href="{% url "event" g.P_event.id%}"> {{ g.P_event.title }} </a>{% endif %}{% endifchanged %}</div>
            <div class="alert-primary col-6 col-md-3 col-lg-1 text-info pl-1 pr-1"> {{ T.0|payMethod }}  </div>
            <div class="alert-primary col-6 col-md-3 col-lg-1 text-right text-info pl-1 pr-1"> {{ T.1|floatformat:2 }}</div>
        </div>
        {% endfor %}
        <div class="collapse" id="details-{{c.id}}-{{ k }}">
        {% endif %}
        {% for kk,p in g.items %}
        
            {% if not kk.0 == 'P' %}
            <div class="row pt-1 pb-1 {% cycle '' 'bg-light' %}">
                <div class="col-6 col-md-3 col-lg-1 pl-1 pr-1"><a href="{% url 'payment' p.id %}">#P{{ p.id }}</a> </div>
                <div class="col-6 col-md-3 col-lg-2"> {{ p.pay_done|date:'d/m/Y' }} </div>
                <div class="col-12 col-md-6 col-lg-2"> <a href="{% url "person" p.person.id %}"> {{ p.person.first_name }} {{ p.person.last_name|upper }}</a> </div>
                <div class="col-12 col-md-4 col-lg-2"> {% if k is None %} <a href="{% url "category" p.category.id %}">{{ p.category }}</a> / {{ p.financial }} {% else %} {{ p.financial }} {% endif %} </div>
                <div class="col-12 col-md-3 col-lg-3"> {% if k is None and p.event %} <a href="{% url "event" p.event.id%}"> {{ p.event.title }} </a>{% else %} {{ p.comment }} {% endif %}</div>
                <div class="col-6 col-md-3 col-lg-1 pl-1 pr-1"> {{ p.method|payMethod }} </div>
                <div class="col-6 col-md-2 col-lg-1 text-right pl-1 pr-1"> {{ p.amount }}</div>
            </div>
            {% endif %}
        {% endfor %}
        <div class="row d-md-none"><div class="col-12"><hr /></div></div>
        {% if k is not None %}
        </div>
        {% endif %}
    {% endfor %}


    <div class="row"><div class="col-12"><hr /></div></div>

    <div class="row d-none d-md-flex">
        <h6 class="col"></h6>
    {% for k,T in c.totaux.items %}
        {% if not forloop.counter0 %}
            {% for kk,TT in T.items %}
                {% if kk != 'total' %}
                    <h6 class="col-12 col-md text-right">{{ kk }}</h6>
                {% endif %}
            {% endfor %}
            <h6 class="col-12 col-md text-right"> Total </h6>
        {% endif %}
    {% endfor %}
    </div>


    {% for k,T in c.totaux.items %}
    <div class="row">
        {% if k != 'total' %}
            <h6 class="col-12 col-md text-md-left text-center">{{ k|payMethod }}</h6>
            {% for kk,TT in T.items %}
                {% if kk != 'total' %}
                    <div class="col-8 d-md-none {% if not TT %}d-none{% endif %}">{{ kk }}</div>
                    <div class="col-4 col-md text-right {% if not TT %}d-none d-md-block{% endif %}">{{ TT|floatformat:2 }}</div>
                {% endif %}
            {% endfor %}
            <div class="col-8 d-md-none bg-light">Total</div>
            <div class="col-4 col-md bg-light text-right"> {{T.total|floatformat:2 }} </div>
        {% endif %}
    </div>
    {% endfor %}

    <div class="row">
        <h6 class="col-12 col-md text-md-left text-center"> Total </h6>
        {% for kk,TT in c.totaux.total.items %}
            {% if kk != 'total' %}
                <div class="col-8 d-md-none">{{ kk }}</div>            
                <div class="col-4 col-md text-right">{{ TT|floatformat:2 }}</div>
            {% endif %}
        {% endfor %}
        <div class="col-8 d-md-none bg-light">Total</div>
        <div class="col bg-light text-right"> {{c.totaux.total.total|floatformat:2 }} </div>
    </div>
    <div class="row"><div class="col-12"><hr /></div></div>

</div>
{% endfor %}


</div>
</div>
</div>

{% endblock %}
