{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Catégories financières {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <button class="btn btn-secondary" data-toggle="collapse" data-target="#form-add-category">Ajouter une imputation</button>
        <button class="btn btn-secondary" data-toggle="collapse" data-target="#form-add-category-tree">Ajouter une catégorie d'imputation</button>
    </div>
    {% if 'add_fincat' in self.forms %}
    <div class="col-md-6 card collapse" id="form-add-category">
        <h5 class="card-header"> Ajouter une imputation </h5>
        <div class="card-body">
            {% crispy self.forms.add_fincat %}
        </div>
    </div>
    {% endif %}
    {% if 'add_fincattree' in self.forms %}
    <div class="col-md-6 card collapse" id="form-add-category-tree">
        <h5 class="card-header"> Ajouter une catégorie d'imputation </h5>
        <div class="card-body">
            {% crispy self.forms.add_fincattree %}
        </div>
    </div>
    {% endif %}
    
    {% if 'change_allowedcategories' in self.forms %}
    <div class="col-12 card">
        <h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-fincat" >{% b_icon 'caret-down-square' 25 %}</a> Imputations </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-fincat">
            <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="whattodo" value="change_allowedcategories" />
            <div class="row d-none d-md-flex">
                <div class="offset-lg-3"></div>
                {% for c in g_categories %}
                <h6 class="col text-center pl-0 pr-0">{{ c.name }}</h6>
                {% endfor %}
            </div>            
            {% for st in tree %}
                <div class="row">
                    <div class="col-12 font-weight-bold">{{ st.0|safe }}</div>
                </div>
                {% for t in st.1 %}
                    <div class="row">
                        <div class="col-lg-3"> {{ t.1|safe }} </div>
                        {% for c in g_categories %}
                        <div class="offset-3 d-md-none"></div>
                        <div class="col-9 col-md text-md-center"><input type="checkbox" name="allowed" value="{{t.0}}-{{c.id}}" id="allowed-{{t.0}}-{{c.id}}" {% if t.0 in c.finids %}checked{% endif %}/> <label for="allowed-{{t.0}}-{{c.id}}" class="d-md-none">{{ c.name }}</label></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
                <div class="row">
                    <div class="offset-3"></div>
                    <div class="col"><button class="btn btn-primary" type="submit">Enregistrer</button></div>
                </div>  
            </form>
        </div>
    </div>
    {% endif %}
    
    {% if 'set_default_fincat' in self.forms %}
    <div class="card col-12">
        <h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-d-fincat" >{% b_icon 'caret-down-square' 25 %}</a> Imputations par défaut</h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-d-fincat">
            {% crispy self.forms.set_default_fincat %}
        </div>
    </div>
    {% endif %}
        
    {% if 'delete_financialcategory' in self.forms %}
    <div class="card col-md-6">
        <h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-del-fincat" >{% b_icon 'caret-down-square' 25 %}</a> Supprimer une imputation</h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-del-fincat">
            {% crispy self.forms.delete_financialcategory %}
        </div>
    </div>
    {% endif %} 
        
    {% if 'delete_financialcategorytree' in self.forms %}
    <div class="card col-md-6">
        <h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-del-fincatt" >{% b_icon 'caret-down-square' 25 %}</a> Supprimer une catégorie d'imputation</h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-del-fincatt">
            {% crispy self.forms.delete_financialcategorytree %}
        </div>
    </div>
    {% endif %}   
        
</div>

{% endblock %}
