{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Budgets prévisionnels {% endblock %}


{% block content %}

<div class="row">
    <div class="col-12">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="whattodo" value="add_forseenbalance" />
            <input type="submit" class="btn btn-primary" value="Ajouter un budget prévisionnel" />
        </form>
    </div>

    <div class="col-12 card">
        <h5 class="card-header"> Budgets prévisionnels </h5>
        <div class="card-body">
            <div class="row d-none d-md-flex">
               <div class="col-2"></div>
               <div class="col-3"> Validation </div>
               <div class="col-3"> Date validation </div>
               <div class="col-4"> Commentaire </div>
           </div>
        
           {% for b in bals %}
           <div class="row {% cycle 'bg-light' '' %}">
               <div class="col-12 col-md-2"><a href="{% url 'fin_forseenbalance' b.id %}">#{{ b.id }}</a></div>
               <div class="col-7 col-md-3">{% if b.person_valid is not None %} <a href="{% url 'person' b.person_valid_id %}">{{ b.person_valid }}</a> {% endif %} </div>
               <div class="col-5 col-md-3">{% if b.date_valid is not None %} {{ b.date_valid|date:'d/m/Y' }} {% endif %} </div>
               <div class="col-md-4 col-12">{{ b.comment }}</div>
           </div>
           {% endfor %}
        </div>
    </div>
</div>

{% endblock %}