{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Budget prévisionnel {% endblock %}


{% block content %}

<div class="row">
    <div class="offset-md-2 card"></div>
    <div class="col-md-8 card">
        <h5 class="card-header"> Budget prévisionnel </h5>
        <div class="card-body">
        
        {% if 'forseen_validate' in self.forms %}
            <div class="row">
                <div class="col-12">Valider le budget prévisionnel</div>
                <div class="col-12">
                    {% crispy self.forms.forseen_validate %}
                </div>
            </div>
        {% endif %}
        {% if 'forseen_save' in self.forms %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">Produits</div>
                <div class="col-md-4">Charges</div>
            </div>
           {% crispy self.forms.forseen_save %}
        {% else %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-right">Produits</div>
                <div class="col-md-4 text-right">Charges</div>
            </div>
            
            {% for k,l in treelst.items %}
            <div class="row {% if l.tree %}bg-light font-weight-bold{% endif %}">
                <div class="col-md-4">{{ l.label }}</div>
                <div class="col-md-4 text-right">{% if l.income != 0 %}{{ l.income|floatformat:2 }}{% endif %}</div>
                <div class="col-md-4 text-right">{% if l.outcome != 0 %}{{ l.outcome|floatformat:2 }}{% endif %}</div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
        
        
</div>
<div class="row">        
    {% if 'forseen_copy' in self.forms %}
    <div class="offset-md-2 card"></div>
    <div class="col-md-8 card">
        <h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-copy" >{% b_icon 'caret-down-square' 25 %}</a> Copier </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-copy">
            {% crispy self.forms.forseen_copy %}
        </div>
    </div>
    {% endif %}
    
</div>



<script type="text/javascript" language="javascript">

function UpDownCalculate(elm) {

    if(!elm.prop('disabled')) {
        v = parseFloat(elm.val())
        if(isNaN(v)) return 0.
        else return parseFloat(v)
    }

    total=0.
    
    $('[uplevel='+elm.attr('name')+']').each(function() {
        total += UpDownCalculate($(this))
    });    
    
    elm.val(total)
    return total
}

function updateTotals() {
    UpDownCalculate($('[name=tree_1]'))
    UpDownCalculate($('[name=tree_0]'))
}


$(function() {
    updateTotals();
});

</script>    


{% endblock %}