{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Paiements Helloasso {% endblock %}

{% block content %}
<h3> Paiements Helloasso </h3>

<div class="row">
    <div class="col-12 card">
        <h5 class="card-header"> Paiements en attente de validation </h5>
        <div class="card-body">
            <div class="alert alert-info">Sélectionner un adhérent et une catégorie pour chaque paiement. L'association automatique se fait sur base de l'adresse e-mail et du formSlug. L'association d'un événement est facultatif.</div>
            
            <form method='POST' id="mainForm" onsubmit="return checksubmit();"></form>
                <input type="hidden" name="whattodo" value="convert_payments"  form="mainForm"/>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"  form="mainForm"/>
            
                {% for p in hello_payments %}
                <div class="row {% cycle '' 'bg-light' %} pt-2 pb-2">
                    <div class='col-md-4'>
                        <div class='row'>
                            <div class="col-8"> {{ p.name }} </div>
                            <div class="col-4 text-right"> {{ p.amount }} &euro; </div>
                            <div class="col-12"> {{ p.date|date:'d/m/Y h:i' }} </div>
                            <div class="col-12"> {{ p.formSlug }} </div>
                            <div class="col-12"> 
                            {% if 'delete_helloassopayment' in self.forms %}
                                {% setFieldValue self.forms.delete_helloassopayment hpayment=p.id %}
                                {% crispy self.forms.delete_helloassopayment %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row form-group">
                            <div class="col-md-4"> Inclure ce paiement </div>
                            <div class="col-md-8">
                                <input type="checkbox" value="{{ p.id }}" ref="{{ p.id }}" name="payment"  form="mainForm"/>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-md-4"> Adhérent* </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control gafc-typeahead-search rounded-left person_search" typeahead-source="{% url 'persons_json' %}" ref="{{ p.id }}"  form="mainForm"/>
                                    <div class="input-group-append">
                                        <span class="btn btn-danger rounded-right pl-0 pr-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
                                    </div>
                                    <input type="hidden" name="person-{{p.id}}" class="gafc-typeahead-value" value="{% if p.default_person is not None %}{{ p.default_person.id }}{% endif %}"  form="mainForm"/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-md-4"> Événement </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control gafc-typeahead-search rounded-left" typeahead-source="{% url 'events_json' %}" typeahead-callback="$('[name=category-{{ p.id }}]').val(obj.category)" form="mainForm"/>
                                    <div class="input-group-append">
                                        <span class="btn btn-danger rounded-right pl-0 pr-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
                                    </div>
                                    <input type="hidden" name="event-{{p.id}}" class="gafc-typeahead-value" value="{% if p.default_event is not None %}{{ p.default_event.id }}{% endif %}"  form="mainForm"/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-md-4"> Catégorie* </div>
                            <div class="col-md-8">
                                <select ref="{{ p.id }}" class="custom-select category_list" name="category-{{ p.id }}" data-linked-account='account-{{ p.id }}' form="mainForm">
                                    <option value="">---</option>
                                    {% with eventcat=p.default_event.category %}
                                    {% for c in g_categories %}
                                    <option value="{{ c.id }}" {% if eventcat == c %}selected{% endif %}>{{ c.name }}</option>
                                    {% endfor %}
                                    {% endwith %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-md-4"> Imputation* </div>
                            <div class="col-md-8">
                                <select ref="{{ p.id }}" class="custom-select account_list" name="account-{{ p.id }}" form="mainForm">
                                    <option value="" selected>---</option>
                                    {% for v in treeval %}
                                        <optgroup label="{{v.0}}">
                                        {% for o in v.1 %}
                                            <option value="{{ o.0 }}">{{ o.1 }}</option>
                                        {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-md-4"> Commentaire </div>
                            <div class="col-md-8">
                                <textarea name="comment-{{ p.id }}" class="form-control" rows="2" form="mainForm"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12"><span class="btn btn-secondary" data-toggle="collapse" data-target="#details-{{ p.id }}"> Détails </span></div>
                    <pre class="col-12 collapse" id="details-{{ p.id }}">{{ p.raw|jsonify }}</pre>
                </div>
                {% endfor %}
                
                <div class="row">
                    <div class='offset-md-6'></div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" form="mainForm"/>
                    </div>
                </div>
        </div>
    </div>
</div>


<script type="text/javascript" language="javascript">

function checksubmit() {

    valid=true

    $('[name=payment]:checked').each(function() {
        r = $(this).attr('ref')
        
        if($('[name=person-'+r+']').val() == '') {
            $('.person_search[ref='+r+']').addClass('is-invalid')
            valid= false
        }
        
        if($('.category_list[ref='+r+']').val() == '') {        
            $('.category_list[ref='+r+']').addClass('is-invalid')
            valid= false
        }
    })

    return valid
}

</script>

{% endblock %}

