{% extends "gafc/template.html" %}
{% load gafc_tags %}
{% load crispy_forms_tags %}


{% block content %}
<h3>Mon profil</h3>
<div class="row">
    <div class="card col-lg-6"><h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-info" >{% b_icon 'caret-down-square' 25 %}</a> Mes infos
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-info">
        {% crispy self.forms.person_save %}
        <div class="row">
            <div class="col-md-4">Année certificat médical</div>
            <div class="col-md-8 {% if not request.user.is_caci_valid %}text-danger{% endif %}">{{ request.user.caci }}</div>
        </div>
    </div>
    </div>

    <div class="col-lg-6 p-0">
        <div class="card col-lg-12">
            <h5 class="card-header">
                <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-password" >{% b_icon 'caret-down-square' 25 %}</a> Mot de passe
            </h5>
            <div class="card-body collapse dont-collapse-sm" id="card-body-password">
                {% crispy self.forms.update_pwd %}
            </div>
        </div>

        <div class="card col-lg-12">
            <h5 class="card-header">    
                <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-license" >{% b_icon 'caret-down-square' 25 %}</a> Licenses
            </h5>
            <div class="card-body collapse dont-collapse-sm" id="card-body-license">
                <div class="row d-none d-md-flex">
                    <h6 class="col-md-2 pr-md-1 pl-md-1">Fédération</h6>
                    <h6 class="col-md-4 text-md-center">Numéro de licence</h6>
                    <h6 class="col-md-3">Début</h6>
                    <h6 class="col-md-3">Fin</h6>
                </div>
                {% for l in licences %}
                <div class="row {% cycle 'bg-light' '' %} pb-1 pt-1">
                    <div class="col-6 col-md-2 pr-md-1 pl-md-1">{{ l.federation.acronym }}</div>
                    <div class="col-6 col-md-4 text-md-center">{{ l.number }}</div>
                    <div class="col-6 col-md-3">{{ l.date_in|date:'d/m/Y' }}</div>
                    <div class="col-6 col-md-3">{{ l.date_end|date:'d/m/Y' }}</div>
                </div>
                {% endfor %}
                <div class="row d-md-none"><div class="col-12"><hr /></div></div>
                    
                <div class="alert alert-info small">
                    Pour ajouter la licence d'un autre club, envoyez une copie de votre carte de licence avec
                    photo au responsable de l'activité où vous souhaitez vous inscrire.
                </div>
                <div class="alert alert-info small">
                    Pour <a href="https://www.ffcam.fr/telechargez-votre-licence.html">télécharger votre licence dématérialisée</a>, suivez la procédure suivante :  
                    <ol>
                        <li>Se connecter (via smartphone ou ordinateur) à <a href="https://extranet-clubalpin.com/monespace/?section=monespa">votre espace licencié FFCAM (ici)</a></li>
                        <li>Saisir votre numéro de licence et votre code internet (si vous avez perdu votre code suivre la procédure "Code internet perdu / renvoi de code internet") </li>
                        <li>Cliquer sur Mes infos pour ajouter ou modifier votre photo d'identité </li>
                        <li>Cliquer sur Ma licence/mes options pour télécharger votre licence sur votre smartphone ou ordinateur  </li>
                    </ol>
                    Nous conseillons d'avoir toujours sur vous une impression papier de votre licence en cas de perte ou panne de votre smartphone pour : 
                    <ul>
                        <li>accéder aux numéros d'assistance en cas d'accident</li>
                        <li>bénéficier du tarif préférentiel réservé aux licenciés dans les refuges FFCAM</li> 
                    </ul>
                </div>
            </div>
        </div>
                    
        <div class="card col">
            <h5 class="card-header">
                <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-mailing" >{% b_icon 'caret-down-square' 25 %}</a> Mailing list
            </h5>
            <div class="card-body collapse dont-collapse-sm" id="card-body-mailing">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="whattodo" value="{{ self.forms.save_user_mailing.what }}" />
                    <div class="row">
                    {% for ml in self.forms.save_user_mailing.mls %}
                        <div class="col-md-2 col-4"><input type="checkbox" name="mailings" value="{{ ml.name }}"  {% if ml.name in current_mailings %}checked{% endif %}/></div>
                        <div class="col-md-10 col-8">{{ ml.name }}</div>
                        <div class="col-12 small text-muted">{{ ml.description }}</div>
                    {% endfor %}
                        <div class="col-12"><input type="submit" class="btn btn-primary" value="Enregistrer"/></div>
                    </div>
                    {{ form_mailings.errors }}
                </form>
                        
                <div class="alert alert-info small">
                    Vous recevrez un email de confirmation. Il peut y avoir un délai jusqu'à 24h pour l'exécution de la commande sur le serveur de liste de diffusions.
                </div>                        
            </div>
        </div>

        <div class="card col">
            <h5 class="card-header">
                <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-advantage" >{% b_icon 'caret-down-square' 25 %}</a>Avantages
            </h5>
            <div class="card-body collapse dont-collapse-sm" id="card-body-advantage">
                <a href="https://www.gucem.fr/wp-content/uploads/2023/05/ekosport.pdf" >Carte réduction ekosport-sport 2000</a> Utilisation à voir <a href="https://www.gucem.fr/avantages/reductions/">ici</a>
            </div>
            <div class="card-body collapse dont-collapse-sm" id="card-body-advantage">Code de réduction <a href="https://skitruck.fr/">Ski Truck</a> : GUCEM23
            </div>
            <div class="card-body collapse dont-collapse-sm" id="card-body-advantage">
                Autres partenariats : <a href="https://www.laboiteaski.fr/">La Boite à Skis</a>, le vieux campeur, espace vertical, <a href="https://www.gucem.fr/avantages/reductions/">etc</a>... Sur présentation de votre licence avec photo.
            </div>
        </div>
    </div>
</div>

{% endblock %}
 
