{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %}Import des licences découverte{% endblock %}

{% block content %}

<h3> Licences découverte </h3>

<div class="row">

    <div class="card col-12"><h5 class="card-header"> Importer depuis l'extranet </h5>
    <div class="card-body">

    <!--<div class="alert alert-info">
        Pour faciliter l'association automatique des licences aux non-adhérents, veuillez indiquer l'adresse e-mail lors de la création de la licence découverte.
    </div>-->

        {% crispy form_extranet %}

    {% if filedate %}
        <div class="row">
            <div class="col-sm-4"> Date du fichier actuel: </div>
            <h6 class="col-sm-8">{{ filedate|date:'d/m/Y' }}</h6>
        </div>
    <form action="{% url "import_licenses" %}" method="post">
        <input type="hidden" name="whattodo" value="delete_file" />
        {% csrf_token %}
        <div class="row">
        <div class="offset-sm-4"></div><div class="col-sm-8"><input class="btn btn-danger" type="submit" value="Supprimer le fichier" /></div>
        </div>
    </form>
    {% endif %}
    </div>
    </div>

    {% if filedate %}

    <div class="card col-12"><h5 class="card-header"> Licences à associer </h5>
        <div class="card-body">
            <div class="alert alert-info">
                Associez les adhérents aux licences découvertes, et cochez les cases pour valider l'association. L'association automatique se fait sur base des adresses email.
            </div>
        
            <form method="POST">
                <input type="hidden" name="whattodo" value="import_licenses" />
                {% csrf_token %}
                {% for k,l in new_licenses.items %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h6 class="col-lg-8">{{ l.gender }} {{ l.first_name }} {{ l.last_name }}</h6>
                            <div class="col-lg-4 text-right">{{ l.birthdate }}</div>
                        </div>
                        <div class="row"><div class="col-12">{{ l.email }}</div></div>
                        <div class="row"><div class="col-12">{{ l.address }}</div></div>
                        <div class="row">
                            <div class="col-5">{{ l.licnum }}</div>
                            <div class="col-7 text-right">{{ l.date_in|date:'d/m' }} - {{ l.date_end|date:'d/m/Y' }}</div>
                        </div>
                    </div><!-- col-md-6 -->
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class='col-lg-8'>
                                <div class="input-group mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control gafc-typeahead-search rounded-left" typeahead-source="{% url 'persons_json' %}" typeahead-callback="$('[ref={{ l.licnum }}]').prop('checked',true)"/>
                                        <div class="input-group-append">
                                            <span class="btn btn-danger pl-0 pr-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
                                            <div class="input-group-text">
                                            <input type="checkbox" class="f-license" value="" ref="{{ l.licnum }}" name="license-{{ l.licnum }}" />
                                        </div>
                                        </div>
                                        <input type="hidden" name="asso-id" class="gafc-typeahead-value"/>
                                    </div>
                                </div>
                                <input type="hidden" class="f-number" name="asso-number" value="{{ l.licnum }}" />
                            </div>
                            <div class="col-lg-4 text-right f-birthdate" ref="{{ l.licnum }}"></div>
                            <div class="col-12 f-email" ref="{{ l.licnum }}"></div>
                            <div class="col-12 f-address" ref="{{ l.licnum }}"></div>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                <div class="row"><div class="col-12"><hr /></div></div>
                {% endif %}
                {% endfor %}
                <div class="row">
                    <div class="col-md-6">
                        <select name="federation" class="form-control">
                            {% for f in federations %}
                            <option value="{{ f.id }}">{{ f.acronym }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Importer" />
                     </div>
                </div>
            </form>
        </div>
    </div>

    {% endif %}

</div>

{% endblock %}
