{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %}Importer des adhérents{% endblock %}

{% block content %}

<h3> Importer des adhérents </h3>

<div class="row">

    <div class="card col-12"><h5 class="card-header"> Importer un fichier d'adhérents </h5>
    <div class="card-body">
    <i>Depuis un fichier: </i>
        {% crispy form_upload %}

    <i>Depuis l'extranet FFCAM:</i>

        {% crispy form_extranet %}

    {% if filedate %}
        <div class="row">
            <div class="col-sm-4"> Date du fichier actuel: </div>
            <h6 class="col-sm-8">{{ filedate|date:'d/m/Y' }}</h6>
        </div>
    <form action="{% url "import_members" %}" method="post">
        <input type="hidden" name="whattodo" value="delete_file" />
        {% csrf_token %}
        <div class="row">
        <div class="offset-sm-4"></div><div class="col-sm-8"><input class="btn btn-danger" type="submit" value="Supprimer le fichier" /></div>
        </div>
    </form>
    {% endif %}
    </div>
    </div>

    {% if form_fields %}
    <div class="card col-12"><h5 class="card-header">Attribution des colonnes</h5>
    <div class="card-body">

    <p class="alert alert-info"> Attribuez les colonnes du fichier avec les attributs de la base de données. Il est obligatoire d'attribuer le numéro de licence, l'adresse mail et la date de licence (Date à laquelle la licence a été renouvellée!). Plusieurs colonnes peuvent être attribuées au même champ. Les 3 colonnes sont présentes dans le fichier, à des lignes aléatoires, pour exemple.</p>
    <form action="{% url "import_members" %}" method="post">
        <input type="hidden" name="whattodo" value="set_columns" />

        {% csrf_token %}
        <div class="row">
            <div class="col-12"><input class="btn btn-primary" type="submit" value="Suivant" /></div>
        
        {% for f in form_fields %}
            <div class="col-lg-2 font-weight-bold {% cycle '' 'bg-light' as bg %}">{{ f.label }}</div>
            <div class="col-lg-3 {{ bg }}">{{ f }}<input type="checkbox" name="force" value="{{ f.name }}" /></div>
            {% for e in f.field.examples %}
                <div class="col-md {{ bg }} {% if forloop.counter > 2 %}d-none d-md-block{% endif %}">{{ e }}</div>
            {% endfor %}
            <div class="w-100"></div>
        {% endfor %}

        </div>
    </form>
    </div></div>


    {% elif bulk_form %}
    <div class="card"><h5 class="card-header">Vérification</h5>
    <div class="card-body">
    <p class="alert alert-info"> Vérifiez les données, puis validez le formulaire ci-dessous </p>

    <form action="{% url "import_members" %}" method="POST">
    {% for k,v in request.POST.items %}
    {% if k != 'whattodo' and k != 'csrfmiddlewaretoken' and k != 'season' and k != 'delete_file' and k != 'force'%}
    <input type="hidden" name="{{ k }}" value="{{ v }}" />
    {% endif %}

    {% endfor %}
    
    {% for f in lst_force%}
    <input type="hidden" name="force" value="{{ f }}" />
    {% endfor %}
    
    {% crispy bulk_form %}
    </form>

    <div class="row">
    {% for i in infos %}
    <div class="card col-lg-4 col-md-6 col-12 {% if i.licence_date %}bg-success{% else %}bg-danger{% endif %}">
    <div class="card-body">
    <div class="row">
        <h6 class="col-12 card-title">{{ i.lastname|upper }} {{ i.firstname }}</h6>
        <h6 class="col-md-4">Genre:</h6><div class="col-md-8">{{ i.gender }}</div>
        <h6 class="col-md-4">Email:</h6><div class="col-md-8">{{ i.email }}</div>
        <h6 class="col-md-4">Date de naissance:</h6><div class="col-md-8">{{ i.datenaiss|date:'d/m/Y' }}</div>
        <h6 class="col-md-4">Adresse:</h6><div class="col-md-8">{{ i.numrue }}<br />{{ i.cp }} {{ i.city }}<br />{{i.country}}</div>
        <h6 class="col-md-4">Téléphone:</h6><div class="col-md-8">{{ i.tel }}</div>
        <h6 class="col-md-4">En cas d'urgence:</h6><div class="col-md-8">{{ i.emg_contact }} {{ i.emg_phone }}</div>
        <h6 class="col-md-4">Licence:</h6><div class="col-md-8">{{ i.licence }}</div>
        <h6 class="col-md-4">Date de licence:</h6><div class="col-md-8">{{ i.licence_date|date:'d/m/Y' }}</div>
        <h6 class="col-md-4">Année certificat:</h6><div class="col-md-8">{{ i.caci }}</div>
    </div>
    </div>
    </div>
    {% endfor %}
    </div>

    </div>
    </div>
    {% endif %}
</div>

{% endblock %}
