{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %}Liste des adhérents{% endblock %}

{% block content %}
<h3>Adhérents</h3>

{% if 'person_save' in self.forms %}

<a class="btn btn-secondary" data-toggle="collapse" href="#formAddAdherent" role="button" aria-expanded="false" aria-controls="formAddAdherent"> Ajouter un adhérent </a>


<div class="collapse row {% if form.errors %}show{% endif %}" id="formAddAdherent">
    <div class="card col-md-8">
        <h5 class="card-header">Ajouter un adhérent</h5>
        <div class="card-body">
            {% crispy self.forms.person_save %}
        </div>
    </div>
</div>

{% endif %}

<div class="row">
    <div class="col-12 card">
        <h5 class="card-header"> Liste des adhérents</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control gafc-typeahead-search rounded-left" typeahead-source="{% url 'persons_json' %}" typeahead-callback="window.location.replace('{% url 'person' 0 %}'+obj.value);" placeholder="Recherche adhérent"/>
                <div class="input-group-append">
                    <span class="btn btn-danger pl-0 pr-0 gafc-typeahead-clean rounded-right">{% b_icon 'x' 18 %}</span>
                </div>
                <input type="hidden" name="add_adherent_id" class="gafc-typeahead-value"/>
            </div>

            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li class="page-item {% if not name_first_letter %}active{% endif %}"><a class="page-link" href="{% url "list_persons" %}">*</a></li>
                    {% for l in letters %}
                    <li class="page-item {% if name_first_letter == l.first_letter %}active{% endif %}"><a class="page-link"  href="{% url "list_persons" l.first_letter %}">{{ l.first_letter|upper }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="pagination justify-content-center flex-wrap">
                    {% for p in paginate.page_range %}
                    {% if name_first_letter is not None %}
                    <li class="page-item {% if page == p %}active{% endif %}"><a class="page-link"  href="{% url "list_persons" name_first_letter=name_first_letter page=p %}">{{ p }}</a></li>
                    {% else %}
                    <li class="page-item {% if page == p %}active{% endif %}"><a class="page-link"  href="{% url "list_persons" p %}">{{ p }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>

            {% for person in persons %}
            <div class="row {% cycle 'bg-light' '' %} p-1">
                <div class="col-1 text-center d-none d-md-block">{{ person.gender|genderItem }}</div>
                <div class="col-md-5"><a href="{% url "person" person.id %}">{{ person.first_name|capfirst }} {{ person.last_name|upper }}</a></div>
                <div class="col-md-6">{{ person.email }}</div>
            </div>
            {% endfor %}

            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li class="page-item {% if not name_first_letter %}active{% endif %}"><a class="page-link" href="{% url "list_persons" %}">*</a></li>
                    {% for l in letters %}
                    <li class="page-item {% if name_first_letter == l.first_letter %}active{% endif %}"><a class="page-link"  href="{% url "list_persons" l.first_letter %}">{{ l.first_letter|upper }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="pagination justify-content-center flex-wrap">
                    {% for p in paginate.page_range %}
                    {% if name_first_letter is not None %}
                    <li class="page-item {% if page == p %}active{% endif %}"><a class="page-link"  href="{% url "list_persons" name_first_letter=name_first_letter page=p %}">{{ p }}</a></li>
                    {% else %}
                    <li class="page-item {% if page == p %}active{% endif %}"><a class="page-link"  href="{% url "list_persons" p %}">{{ p }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}
