{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}

{% block pagename %}Liste des équipements{% endblock %}

{% block content %}
<h3>Liste des équipements</h3>
<div class="row">
    <div class="col-12">
        {% if 'save_equipment' in self.forms %}
        <a class="btn btn-secondary" data-toggle="collapse" href="#formAddEquipment" role="button" aria-expanded="false" aria-controls="formAddAdherent"> Ajouter un équipement </a>
        {% endif %}
        {% if 'save_eqGroup' in self.forms %}
        <a class="btn btn-secondary" data-toggle="collapse" href="#formAddGroup" role="button" aria-expanded="false" aria-controls="formAddAdherent"> Ajouter un groupe </a>
        {% endif %}
    </div>

    {% if 'save_equipment' in self.forms %}
    <div class="col-md-6 collapse card {% if form.errors %}show{% endif %}" id="formAddEquipment">
        <h5 class="card-header"> Ajout d'un équipement </h5>
        <div class="card-body">

            {% crispy self.forms.save_equipment %}

        </div>
    </div><!-- card -->
    {% endif %}

    {% if 'save_eqGroup' in self.forms %}
    <div class="col-md-6 collapse card {% if form_grp.errors %}show{% endif %}" id="formAddGroup">
        <h5 class="card-header"> Ajout d'un groupe </h5>
        <div class="card-body">

            {% crispy self.forms.save_eqGroup %}

        </div>
    </div><!-- card -->
    {% endif %}

    <div class="card col-12"><h5 class="card-header"> Liste des équipements </h5>
    <div class="card-body">
        {% for t in tree.sub %}
        {% with t as tree %}
        {% include 'gafc/equipment_tree.html' %}
        {% endwith %}
        {% endfor %}
    </div>
    </div><!-- card -->

    </div><!-- row -->

{% endblock %}
