{% extends "gafc/template.html" %}

{% block pagename %} Liste des catégories {% endblock %}

{% block content %}

<h3> Catégories </h3>

<fieldset><legend> Liste des catégories </legend>

<table width="100%">
<tr>
    <th> Nom </th><th>Global</th>
</tr>

{% for c in categories %}
<tr>
    <td> <a href="{% url "category" c.id %}">{{ c.name }}</a> </td>
    <td> {% if c.is_global %} Oui {% else %} Non {% endif %}</td>
</tr>
{% endfor %}
</table>
</fieldset>

{% endblock %}
