{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}

{% block pagename %} Login {% endblock %}

{% block content %}


<div class="jumbotron d-flex align-items-center" style="min-height:80vh;">
    <div class="container text-center">
        <div class="row">
            <div class="offset-lg-3"></div>
            <div class="card col-lg-6">
                <h5 class="card-header"> Login </h5>
                <div class='card-body'>
                    <h6 class="card-subtitle text-muted"> Système de gestion des sorties club </h6>
                    {% crispy self.forms.login %}
                    <div class="row">
                        <div class="col-md-6"><a class="btn btn-outline-primary" href="{% url 'new_account' %}"> Créer un compte </a></div>
                        <div class="col-md-6"><a class="btn btn-outline-primary" href="{% url 'lost_password' %}"> Mot de passe oublié </a></div>
                    </div>
                    <div class="row mt-3">
                        <div class="alert alert-info col-12">
                            L'intranet est ouvert à tous, adhérents et non adhérents. Pour vous inscrire aux sorties du club, il est nécessaire de créer un compte.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
