
{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}

{% block pagename %} Récupération du mot de passe {% endblock %}

{% block content %}
<div class="jumbotron d-flex align-items-center" style="min-height:80vh;">
<div class="container text-center">
<div class="row">

<div class="offset-lg-3"></div>

<div class="col-lg-6 card">
<h5 class="card-header">Récupération du mot de passe</h5>

<div class="card-body">

<div class="alert alert-secondary"> Indiquez l'adresse e-mail de votre inscription sur le site de la FFCAM ou votre numéro de licence afin de recevoir un lien permettant de changer votre mot de passe.</div>

{% crispy self.forms.password_recovery %}
</div>

</div><!-- card -->


</div><!-- row -->
</div><!-- container -->
</div><!-- jumbotron -->

{% endblock %}
