{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Mailing list Sympa {% endblock %}

{% block content %}

<h3> Mailing list Sympa </h3>

<div class="row">
    
    {% if 'save_mailinglist' in self.forms %}
    <div class="col-12">
        <a class="btn btn-secondary" data-toggle="collapse" href="#form-add-mailinglist" > Ajouter mailing list </a> 
    </div>
    
    <div class="card col-12 col-md-8 collapse" id="form-add-mailinglist"">
        <h5 class="card-header">
            Ajout mailing list
        </h5>
        <div class="card-body">
            {% crispy self.forms.save_mailinglist %}
        </div>
    </div>
    {% endif %}

    <div class="card col-12">
        <h5 class="card-header">
            Mailing list Sympa
        </h5>
        <div class="card-body">
            {% for ml in mls %}
            <div class="row">
                <div class="col-12"><a href="{% url 'mailing' ml.name %}">{{ ml.name }}</a></div>
            </div>
            {% endfor %}
        </div>    
    </div>

</div>
{% endblock %}