{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Mailing list Sympa {{ ml.name }} {% endblock %}

{% block content %}

<h3> Mailing list Sympa {{ ml.name }} </h3>

<div class="row">
    
    <div class="card col-md-8">
        <h5 class="card-header">
            Mailing list
        </h5>
        <div class="card-body">
            {% crispy self.forms.save_mailinglist %}
        </div>
    </div>
    
    <div class="card col-md-4">
        <h5 class="card-header">
            Utilisateurs
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% crispy self.forms.sync_ml %}
                </div>
                <div class="col-md-8">Nombre d'abonnés dans l'intranet:</div>
                <div class="col-md-4">{{ ml.subscribers.all.count }}</div>
            </div>
        </div>
    </div>
    
</div>


{% endblock %}