
{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}

{% block pagename %} Nouveau mot de passe {% endblock %}

{% block content %}

<div class="jumbotron d-flex align-items-center" style="min-height:80vh;">
    <div class="container text-center">
        <div class="row">
            
            <div class="offset-lg-3"></div>
            
            <div class="col-lg-6 card">
                <h5 class="card-header">Nouveau mot de passe</h5>
                
                <div class="card-body">
                
                    {% crispy self.forms.set_password %}
                </div>
            
            </div><!-- card -->
        
        
        </div><!-- row -->
    </div><!-- container -->
</div><!-- jumbotron -->

{% endblock %}
