
{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}

{% block pagename %} Nouveau compte {% endblock %}

{% block content %}

<div class="jumbotron d-flex align-items-center" style="min-height:80vh;">
    <div class="container text-center">
        <div class="row">
            
            <div class="offset-lg-2"></div>
            
            <div class="col-lg-8 card">
                <h5 class="card-header"> Créer un compte </h5>
                
                <div class="card-body">
                
                    <div class="alert alert-info">
                    
                        Pour les membres du club, un compte est automatiquement créé à l'inscription. Utilisez la page de <a href="{% url "lost_password" %}">récupération du mot de passe</a> avec l'adresse e-mail utilisée lors de votre inscription sur le site de la FFCAM.
                    
                    </div>
                    
                    {% crispy self.forms.new_person %}
                
                </div>
            
            </div><!-- card -->
            
        
        </div><!-- row -->
    </div><!-- container -->
</div><!-- jumbotron -->

{% endblock %}
