{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Gestion des accès {% endblock %}

{% block content %}
<h3> Gestion des accès </h3>

<div class="row">
    <div class="card col-lg-6">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-superusers" >{% b_icon 'caret-down-square' 25 %}</a> Superutilisateurs
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-superusers">
        
            <div class="alert alert-info">
                Ces utilisateurs ont toutes les permissions sans avoir besoin de les définir explicitement. Seul ces utilisateurs peuvent définir les permissions.
            </div>

            {% for p in superusers %}
            <div class="row">
                <div class="col-10">
                    <a href="{% url 'person' p.id %}">{{ p.first_name}} {{ p.last_name|upper }}</a>
                </div>
                <div class="col-2">
                    {% if 'del_superuser' in self.forms %}
                        {% setFieldValue self.forms.del_superuser person_obj=p.id %}                    
                        {% crispy self.forms.del_superuser %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            
            
            {% if 'add_superuser' in self.forms %}
            <form method='POST' action='{% url 'permissions' %}' id="form_add_user">
                <input type='hidden' name='whattodo' value="add_superuser" />
                {% csrf_token %}

                <div class="input-group">
                    <input type="text" class="form-control gafc-typeahead-search rounded-left" typeahead-source="{% url 'persons_json' %}" placeholder="Adhérent" typeahead-callback="
        $('#form_add_user').submit()"/>
                    <div class="input-group-append">
                        <span class="btn btn-danger pl-0 pr-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
                        <input type="submit" class="btn btn-primary rounded-right" value="Ajouter" />
                    </div>
                    <input type="hidden" name="person_obj" class="gafc-typeahead-value"/>
                </div>
            </form>
            {% endif %}

        </div><!-- card-body -->
    </div><!-- card -->
    
    <div class="card col-lg-6">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-staffs" >{% b_icon 'caret-down-square' 25 %}</a> Permissions des encadrants
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-staffs">
        
            <div class="alert alert-info">
                Ces permissions sont données aux encadrants (professionnel, encadrant, co-encadrant), uniquement sur l'événement où ils sont notés comme encadrant.
            </div>
            {% if 'change_event_staff_permissions' in self.forms %}
            
                {% crispy self.forms.change_event_staff_permissions %}
            
            {% else %}
                <ul>
                {% for p in perms_ev_staff %}
                    <li>{{ p.perm|GafcPermission }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
        </div><!-- card-body -->
    </div><!-- card -->
    
    <div class="card col-12">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-groups" >{% b_icon 'caret-down-square' 25 %}</a> Groupes de permissions
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-groups">
            {% if form_addgroup %}
                <a class="btn btn-secondary" data-toggle="collapse" href="#formAddGroup" role="button" aria-expanded="false" aria-controls="formAddGroup"> Ajouter un groupe </a>
                <div class="collapse {% if form_addgroup.errors %} show {% endif %}" id="formAddGroup">
                    {% crispy form_addgroup %}
                </div>
            {% endif %}
            
            {% for g in groups %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if request.user.is_superuser %}
                                <a href="{% url 'permission_group' g.id %}">{{ g.name }}</a>
                            {% else %}
                                {{ g.name }}
                            {% endif %}
                            </h5>
                        <div class="row">
                            <div class="col-md-6">
                                Permissions:
                                <ul>
                                {% for p in g.permissions.all %}
                                    <li>{{ p|GafcPermission }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                Membres:
                                <ul>
                                {% for p in g.user_set.all %}
                                    <li><a href="{% url 'person' p.id %}">{{ p }}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock %}
