{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Groupe d'utilisateurs {% endblock %}

{% block content %}
<h3> Groupe d'utilisateurs </h3>

<div class="row">
    <div class="card col-lg-7"><h5 class="card-header"> {{ grp.name }} </h5>
        <div class="card-body">
        
            {% crispy self.forms.change_group %}
            {% crispy self.forms.del_group %}
        </div>
    </div>
    
    <div class="card col-lg-5"><h5 class="card-header"> Adhérents dans le groupe </h5>
        <div class="card-body">
            
            {% for p in grp.user_set.all %}
                <div class="row">
                    <div class="col-10"><a href="{% url 'person' p.id %}">{{ p }}</a></div>
                    <div class="col-2">
                        {% setFieldValue self.forms.del_groupuser person_obj=p.id %}
                        {% crispy self.forms.del_groupuser %}
                    </div>
                </div>
            {% endfor %}
            
            <form method='POST' action='{% url 'permission_group' grp.id %}' id="form_add_user">
                <input type='hidden' name='whattodo' value='add_groupuser' />
                {% csrf_token %}

                <div class="input-group">
                    <input type="text" class="form-control gafc-typeahead-search rounded-left" typeahead-source="{% url 'persons_json' %}" placeholder="Adhérent" typeahead-callback="
        $('#form_add_user').submit()"/>
                    <div class="input-group-append">
                        <span class="btn btn-danger pl-0 pr-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
                        <input type="submit" class="btn btn-primary rounded-right" value="Ajouter" />
                    </div>
                    <input type="hidden" name="person_obj" class="gafc-typeahead-value"/>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}
