{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %}Adhérent{% endblock %}

{% block content %}
<h3>Adhérent</h3>

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="card col-12">
                <h5 class="card-header">
                    <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-info" >{% b_icon 'caret-down-square' 25 %}</a> Informations
                </h5>
                <div class="card-body collapse dont-collapse-sm" id="card-body-info">
                    {% if 'person_save' in self.forms %}
                    {% crispy self.forms.person_save %}
                    {% else %}
                    
                    <div class="row">
                        <div class="col-sm-4"> Prénom </div>
                        <div class="col-sm-8"> {{ p.first_name }} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"> Nom </div>
                        <div class="col-sm-8"> {{ p.last_name }} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"> Genre </div>
                        <div class="col-sm-8"> {{ p.gender|gender }} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"> Date de naissance </div>
                        <div class="col-sm-8"> {{ p.birthdate|date:'d/m/Y' }} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"> Adresse </div>
                        <div class="col-sm-8"> {{ p.address|linebreaksbr }} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"> Email </div>
                        <div class="col-sm-8"> {{ p.email }} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"> Téléphone </div>
                        <div class="col-sm-8"> {{ p.phone }} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"> Personne à contacter en cas d'urgence </div>
                        <div class="col-sm-8"> {{ p.emg_contact }} : {{ p.emg_phone }} </div>
                    </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-sm-4"> Année du cerficat médical </div>
                        <div class="col-sm-8 {% if is_caci_invalid %}alert-danger{% else %}alert-success{% endif %}">{% if p.caci is None %}Aucun certificat médical fourni!{% else %}{{ p.caci }}{% endif %} </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">

            <div class="col-12 card">
                <h5 class="card-header">
                    <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-licenses" >{% b_icon 'caret-down-square' 25 %}</a> Licences
                </h5>
                <div class="card-body collapse dont-collapse-sm" id="card-body-licenses">
                    <div class="row d-none d-md-flex">
                        <h6 class="col-6 col-md-2 pr-md-1 pl-md-1"> Fédération </h6>
                        <h6 class="col-6 col-md-4 text-md-center"> Numéro de licence </h6>
                        <h6 class="col-md-3"> Début </h6>
                        <h6 class="col-md-3"> Fin </h6>
                    </div>

                    {% for l in licenses %}
                    <div class="row pt-1 pb-1 {% cycle 'bg-light' '' %}">
                        <div class="col-1">
                            {% if 'delete_license' in self.forms %}
                            {% setFieldValue self.forms.delete_license license_obj=l.id %}
                            {% crispy self.forms.delete_license %}
                            {% endif %}
                        </div>
                        <div class="col-md-2 pr-md-1 pl-md-1"> {{ l.federation.acronym }} </div>
                        <div class="col-md-3"> {{ l.number }} </div>
                        <div class="col-6 col-md-3"> {{ l.date_in|date:'d/m/Y' }} </div>
                        <div class="col-6 col-md-3"> {{ l.date_end|date:'d/m/Y' }} </div>
                    </div>

                    {% endfor %}
                    
                    <div class="row">
                        <div class="col-12">
                        {% if 'add_license' in self.forms %}
                            <a class="btn btn-secondary" data-toggle="collapse" href="#formAddLicense" role="button" aria-expanded="false" aria-controls="formAddLicense"> Ajouter une licence </a>
                        {% endif %}
                        
                        
                        {% if 'create_discovery_license' in self.forms %}
                            <a class="btn btn-secondary" data-toggle="collapse" href="#formAddDiscovery" role="button" aria-expanded="false" aria-controls="formAddDiscovery"> Créer une licence découverte</a>
                        {% endif %}
                        </div>
                    </div>

                    {% if 'add_license' in self.forms %}
                    <div class="row">
                        <div class="col-12">
                            <div class="collapse {% if form_l.errors %}show{% endif %}" id="formAddLicense">
                                {% crispy self.forms.add_license %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if 'create_discovery_license' in self.forms %}
                    <div class="row">
                        <div class="col-12">
                            <div class="collapse {% if discovery_form.errors %}show{% endif %}" id="formAddDiscovery">
                                {% crispy self.forms.create_discovery_license %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>            
            
            {% if 'set_password' in self.forms or 'delete_password' in self.forms %}
            <div class="col-12 card">
                <h5 class="card-header">
                    <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-password" >{% b_icon 'caret-down-square' 25 %}</a> Mot de passe
                </h5>
                <div class="card-body collapse dont-collapse-sm" id="card-body-password">
                    <div class="row">
                        <div class="col-sm-4">Mot de passe:</div>
                        <div class="col-sm-8">{{ p.has_usable_password|yesno:"Oui,Non" }}</div>
                    </div>
                    {% crispy self.forms.set_password %}
                    {% crispy self.forms.delete_password %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
                    
    {% if 'save_user_mailing' in self.forms %}
    
    <div class="card col">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-mailing" >{% b_icon 'caret-down-square' 25 %}</a> Mailing list
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-mailing">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="whattodo" value="save_user_mailing" />
                <div class="row">
                {% for ml in self.forms.save_user_mailing.mls %}
                    <div class="col-md-2 col-4"><input type="checkbox" name="mailings" value="{{ ml.name }}"  {% if ml.name in self.forms.save_user_mailing.fields.mailings.initial %}checked{% endif %}/></div>
                    <div class="col-md-10 col-8">{{ ml.name }}</div>
                    <div class="col-12 small text-muted">{{ ml.description }}</div>
                {% endfor %}
                    <div class="col-12"><input type="submit" class="btn btn-primary" value="Enregistrer"/></div>
                </div>
                {{ self.forms.save_user_mailing.errors }}
            </form>
                    
            <div class="alert alert-info small">
                Vous recevrez un email de confirmation. Il peut y avoir un délai jusqu'à 24h pour l'exécution de la commande sur le serveur de liste de diffusions.
            </div>                        
        </div>
    </div>
                
    {% endif %}
            
    {% if 'merge_accounts' in self.forms %}    
    <div class="col-md-6 card">
        <h5 class="card-header"><a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-merge" >{% b_icon 'caret-down-square' 25 %}</a>Fusion du compte</h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-merge">
            <div class="alert alert-danger">
                Fusion du compte avec celui dont l'adresse email est donnée ci-dessous.<br />
                Ce compte sera supprimé et tous les événements/licences/paiements/droits liés à ce compte seront réattribués à l'autre compte.
            </div>
            
            {% crispy self.forms.merge_accounts %}
    
            <h4 class="alert alert-danger text-center">
                Cette opération est irréversible!
            </h4>                      
        </div>
    </div>
    {% endif %}

    <div class="col-12 card">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-parts" >{% b_icon 'caret-down-square' 25 %}</a> Participations
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-parts">
            <div class="row d-none d-lg-flex">
                <h6 class="col-2"> Date </h6>
                <h6 class="col-5"> Événement </h6>
                <h6 class="col-2"> Catégorie </h6>
                <h6 class="col-2"> Rôle </h6>
                <h6 class="col-1 text-md-center"> Attente, Annulé, Présent </h6>
            </div>
        {% for p in particip %}
            <div class="row pb-1 pt-1 {% cycle 'bg-light' '' %}">
                <div class="col-md-5 col-lg-2">{{ p.event.begin|date:'d/m/Y' }}</div>
                <div class="col-md-7 col-lg-5">
                    <a href="{% url 'event' p.event.id %}">{{ p.event.title }} {% if p.event.is_cancelled %} (annulé) {% endif %}</a>
                </div>
                <div class="col-md-5 col-lg-2 d-none d-md-block">
                    <a href="{% url 'category' p.event.category.id %}"> {{p.event.category.name}}</a>
                </div>
                <div class="col-6 col-md-5 col-lg-2">{{ p.role|eventRole }}</div>
                <div class="col-6 col-md-2 col-lg-1 text-md-center text-right">
                    {% if p.waiting %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}
                    {% if p.cancelled %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}
                    {% if p.event_done %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}
                </div>
            </div>
        {% endfor %}
            <div class="row"><div class="col d-md-none"><hr /></div></div>

        </div>
    </div>
    
    <div class="col-12 card">
        <h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-comments" >{% b_icon 'caret-down-square' 25 %}</a> Commentaires
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-comments">
            <div class="row">
            {% for c in comments %}
                <div class="col-md-6 alert {% if c.level == "IM" %} alert-danger {% elif c.level == "WA" %} alert-warning {% else %} alert-info {% endif %}">
                    <div class="row">
                        <div class="col-6"><a href="{% url 'person' c.who.id %}">{{ c.who }}</a></div>
                        <div class="col-6 text-right">{{ c.date|date:'d/m/Y' }}</div>
                        <div class="col-12">{{ c.text|linebreaksbr }}</div>
                        {% if 'delete_person_comment' in self.forms %}
                        {% if request.user == c.who or request.user.perms.delete_personcomment %}
                        <div class="col-12">
                           {% setFieldValue self.forms.delete_person_comment comment_obj=c.id %}
                           {% crispy self.forms.delete_person_comment %}
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
            
            {% if 'comment_save' in self.forms %}
            <div class="row">
                <div class="col-12">
                        <a class="btn btn-secondary" data-toggle="collapse" href="#formAddComment" role="button" aria-expanded="false" aria-controls="formAddComment"> Ajouter un commentaire </a>

                    <div class="collapse {% if form_add_comment.errors %}show{% endif %}" id="formAddComment">
                        {% crispy self.forms.comment_save %}
                    </div>
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
    
</div>

{% endblock %}
