{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Configuration {% endblock %}

{% block content %}

<h3> Configuration </h3>

<div class="row">

    <div class="card col-md-6"><h5 class="card-header"> 
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-info" >{% b_icon 'caret-down-square' 25 %}</a> Informations
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-info">
            <table>
                <tr>
                    <th> Version :</th>
                    <td>{{ version }}</td>
                </tr>
                <tr>
                    <th> Date : </th>
                    <td> {{ version_date|date:'d F Y' }} </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="col-md-6 card"><h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-fede" >{% b_icon 'caret-down-square' 25 %}</a> Fédérations
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-fede">
            {% if 'add_federation' in self.forms %}
            <a class="btn btn-secondary" data-toggle="collapse" href="#formAddFederation" role="button" aria-expanded="false" aria-controls="formAddFederation"> Ajouter une fédération </a>

            <div class="collapse {% if form_f.errors %}show{% endif %}" id="formAddFederation">
                {% crispy self.forms.add_federation %}
            </div>
            {% endif %}

            <div class="row">
                <h6 class="col-8">Fédération</h6>
                <h6 class="col-4">Acronyme</h6>
            </div>
            
            {% for f in feds %}
            <div class="row pb-1 pt-1 {% cycle 'bg-light' '' %}">
                <div class="col-8">{{ f.name }}</div>
                <div class="col-4">{{ f.acronym }}</div>
            </div>
            {% endfor %}

        </div>
    </div>

    {% if request.user.perms.view_category %}
    <div class="col-md-6 card"><h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-categories" >{% b_icon 'caret-down-square' 25 %}</a> Catégories
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-categories">
            {% if  'save_category' in self.forms %}
            <a class="btn btn-secondary" data-toggle="collapse" href="#formAddCategory" role="button" aria-expanded="false" aria-controls="formAddCategory"> Ajouter une catégorie </a>

            <div class="collapse {% if form_c.errors %}show{% endif %}" id="formAddCategory">
            {% crispy self.forms.save_category %}
            </div>
            {% endif %}

            <div class="row">
                <h6 class="col-10">Nom</h6>
                <h6 class="col-2 text-nowrap">Global</h6>
            </div>
            {% for c in cats %}
            <div class="row pb-1 pt-1 {% cycle 'bg-light' '' %}">
                <div class="col-10"><a href="{% url "category" c.id %}">{{ c.name }}</a></div>
                <div class="col-2 text-center">{% if c.is_global %}{% b_icon 'check-square-fill' %}{% else %}{% b_icon 'square' %}{% endif %}</div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% endif %}

    {% if form_s or form_s_default or request.user.perms.view_season %}
    <div class="card col-md-6"><h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-seasons" >{% b_icon 'caret-down-square' 25 %}</a> Saisons
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-seasons">
        
            {% if 'add_season' in self.forms %}
            {% crispy self.forms.add_season %}
            {% endif %}

            {% if 'set_season' in self.forms %}
            {% crispy self.forms.set_season %}
            {% endif %}
            
            {% if request.user.perms.view_season %}
            <h5> Archives </h5>

            {% for s in seasons %}
            <div class="row">
                <a class="col-12" href="{% url 'season_archive' s.id %}"> {{ s.name }} </a>
            </div>
            {% endfor %}
            {% endif %}
            
            {% if request.user.perms.view_staff %}
            <h5> Liste des encadrants </h5>

            {% for s in seasons %}
            <div class="row">
                <a class="col-12" href="{% url 'staff_list' s.id %}"> {{ s.name }} </a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    
    {% if request.user.perms.view_staffemail %}
    <div class="col-md-6 card"><h5 class="card-header">
            <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-emails" >{% b_icon 'caret-down-square' 25 %}</a> Emails
        </h5>
        <div class="card-body collapse dont-collapse-sm" id="card-body-emails">
            {% if 'save_staffemail' in self.forms %}
            <div class="row">
                <a href="#formAddStaffEmail" data-toggle="collapse" class="btn btn-secondary">Ajouter une adresse d'envoi</a>
                <div class="col-12 collapse" id="formAddStaffEmail">
                    {% crispy self.forms.save_staffemail %}
                </div>
            </div>
            {% endif %}
        
            {% if 'save_staffemailalias' in self.forms %}
            <div class="row">
                <a href="#formAddStaffEmailAlias" data-toggle="collapse" class="btn btn-secondary">Ajouter un alias</a>
                <div class="col-12 collapse" id="formAddStaffEmailAlias">
                    {% crispy self.forms.save_staffemailalias %}
                </div>
            </div>
            {% endif %}
        
            {% if 'save_staffemailsender' in self.forms %}
            <div class="row">
                <a href="#formAddStaffEmailSender" data-toggle="collapse" class="btn btn-secondary">Ajouter un compte autorisé</a>
                <div class="col-12 collapse" id="formAddStaffEmailSender">
                    {% crispy self.forms.save_staffemailsender %}
                </div>
            </div>
            {% endif %}
        
            {% for e in staffmail %}
                <div class="row">
                    <span class="col-12 btn btn-secondary" data-toggle="collapse" href="#formChangeEmail{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="formChangeEmail{{ forloop.counter }}">{{ e.email }}</span>
            
                    <div class="collapse col-12" id="formChangeEmail{{ forloop.counter }}">
                        <div class="row">
                            <b class="col-12">Alias</b>
                        </div>
                        {% for a in e.staffemailalias_set.all %}
                        <div class="row">
                            <div class="col-md-8">{{ a.email }}</div>
                            <div class="col-md-4">
                            {% if 'delete_staffemailalias' in self.forms %}
                            {% setFieldValue self.forms.delete_staffemailalias inst=a.pk %}
                            {% crispy self.forms.delete_staffemailalias %}
                            {% endif %}
                            </div>
                        </div>           
                        {% endfor %}
                        <div class="row">
                            <b class="col-12">Adhérents autorisées</b>
                        </div>
                        {% for a in e.authorized.all %}
                        <div class="row">
                            <div class="col-md-8"><a href="{% url 'person' a.id %}">{{ a }}</a></div>
                            <div class="col-md-4">
                            {% if 'delete_staffemailsender' in self.forms %}
                            {% setFieldValue self.forms.delete_staffemailsender main=e.pk sender=a.pk %}
                            {% crispy self.forms.delete_staffemailsender %}
                            {% endif %}
                            </div>
                        </div>           
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    {% endif %}
                        
    {% if request.user.perms.view_cashingabandonvalidator %}
    
    <div class="col-md-6 card">
        <h5 class="card-header"> <a class="btn btn-light p-1 d-md-none" data-toggle="collapse" href="#card-body-fisc" >{% b_icon 'caret-down-square' 25 %}</a> Signatures attestations fiscales </h5>
            
        <div class="card-body collapse dont-collapse-sm" id="card-body-fisc">
            {% if 'add_abandonvalidator' in self.forms %}
            <a class="btn btn-secondary" data-toggle="collapse" href="#formAddAbandonV" role="button" aria-expanded="false" aria-controls="formAddAbandonV"> Ajouter une personne autorisée </a>

            <div class="collapse {% if self.forms.add_abandonvalidator.errors %}show{% endif %}" id="formAddAbandonV">
                {% crispy self.forms.add_abandonvalidator %}
            </div>
            {% endif %}
    
            {% if 'add_abandonvalidator_file' in self.forms %}
            <a class="btn btn-secondary" data-toggle="collapse" href="#formAddAbandonI" role="button" aria-expanded="false" aria-controls="formAddAbandonI"> Ajouter image signature </a>
        
            <div class="collapse {% if self.forms.add_abandonvalidator_file.errors %}show{% endif %}" id="formAddAbandonI">
                {% crispy self.forms.add_abandonvalidator_file %}
            </div>
            {% endif %}
    
            {% for v in fiscal_validators %}
            <div class="row">
                <div class="col-md-6">{{ v.person }}</div>
                <div class="col-10 col-md-5">{{ v.titre }}</div>
                <div class="col-2 col-md-1">
                {% if 'delete_cashing_abandon_validator' in self.forms %}
                {% setFieldValue self.forms.delete_cashing_abandon_validator inst=v.pk %}
                {% crispy self.forms.delete_cashing_abandon_validator %}
                {% endif %}
                </div>
            
                {% if v.has_image %}
                <div class="col-10">
                    <img src="{% url 'cashing_signature' v.person_id %}" width="70%" />
                </div>
                <div class="col-2 col-md-1">
                {% if 'delete_cashingabandonvalidator_file' in self.forms %}
                {% setFieldValue self.forms.delete_cashingabandonvalidator_file inst=v.pk %}
                {% crispy self.forms.delete_cashingabandonvalidator_file %}
                {% endif %}
                </div>                
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
    </div>                            
                                            
    {% endif %}
    
</div>

{% endblock %}

