{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Paiement {% endblock %}

{% block content %}

<h3> Paiement </h3>

<div class="row">

    <div class="card col-12"><h5 class="card-header"> Résumé du paiement </h5>
        <div class="card-body">

            <div class="row">
            <div class="offset-md-2"></div>

            <div class="col-md-8">
            <div class="row">
                <h6 class="col-4">Id: </h6>
                <div class="col-8">P{{ payment.id }}
                    {% if payment.prev_id is not None %}
                        <a class="btn btn-light" href="{% url 'payment' payment.prev_id %}">{% b_icon 'arrow-left-square-fill' %}</a>
                    {% endif %}
                    {% if payment.next_id is not None %}                    
                        <a class="btn btn-light" href="{% url 'payment' payment.next_id %}">{% b_icon 'arrow-right-square-fill'%}</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <h6 class="col-4">Montant: </h6>
                <div class="col-8">{{ payment.amount }} &euro;</div>
            </div>
            <div class="row">
                <h6 class="col-4">Méthode: </h6>
                <div class="col-8">{{ payment.method|payMethod }}</div>
            </div>
            <div class="row">
                <h6 class="col-4">Catégorie: </h6>
                <div class="col-8"><a href="{% url 'category' payment.category.id %}">{{ payment.category.name }}</a></div>
            </div>
            <div class="row">
                <h6 class="col-4">Imputation: </h6>
                <div class="col-8">{{ payment.financial.name }}</div>
            </div>
            <div class="row">
                <h6 class="col-4">Commentaire: </h6>
                <div class="col-8">{{ payment.comment|linebreaksbr }}</div>
            </div>
            <div class="row">
                <div class="col-12"><hr /></div>
            </div>
            <div class="row">
                <h6 class="col-4">Contrepartie: </h6>
                <div class="col-8"><a href="{% url 'person' payment.person.id %}">{{ payment.person }}</a></div>
            </div>
            {% if payment.event %}
            <div class="row">
                <h6 class="col-4">Événement: </h6>
                <div class="col-8"><a href="{% url 'event' payment.event.id %}">{{ payment.event.title }}</a></div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12"><hr /></div>
            </div>
            <div class="row">
                <h6 class="col-4">Encodeur: </h6>
                <div class="col-8"><a href="{% url 'person' payment.encoder.id %}">{{ payment.encoder }}</a></div>
            </div>
            <div class="row">
                <h6 class="col-4">Date: </h6>
                <div class="col-8">{{ payment.pay_done|date:'d/m/Y H:i' }}</div>
            </div>
            <div class="row">
                <h6 class="col-4">Saison: </h6>
                <div class="col-8">{{ payment.season.name }}</div>
            </div>
            {% if payment.cashing %}
            <div class="row">
                <div class="col-12"><hr /></div>
            </div>
            <div class="row">
                <h6 class="col-4">Encaissement: </h6>
                <div class="col-8"><a href="{% url 'cashing' payment.cashing.id %}">#{{ payment.cashing.id }}</a></div>
            </div>
            <div class="row">
                <h6 class="col-4">Commentaire: </h6>
                <div class="col-8">{{ payment.cashing.comment }}</div>
            </div>
             <div class="row">
                <h6 class="col-4">Demandé par: </h6>
                <div class="col-8"><a href="{% url 'person' payment.cashing.person_ask.id %}">{{ payment.cashing.person_ask }}</a></div>
            </div>
            <div class="row">
                <h6 class="col-4">Demandé le: </h6>
                <div class="col-8">{{ payment.cashing.date|date:'d/m/Y' }}</div>
            </div>
            {% if payment.cashing.date_done is not None %}
            <div class="row">
                <h6 class="col-4">Encaisseur: </h6>
                <div class="col-8"><a href="{% url 'person' payment.cashing.person.id %}">{{ payment.cashing.person }}</a></div>
            </div>
            <div class="row">
                <h6 class="col-4">Encaissé le: </h6>
                <div class="col-8">{{ payment.cashing.date_done|date:'d/m/Y' }}</div>
            </div>
            {% endif %}
            {% endif %}
            {% if payment.helloassopayment %}
            <div class="row">
                <div class="col-12"><hr /></div>
            </div>
            <div class="row">
                <h6 class="col-4">Paiement Helloasso: </h6>
                <div class="col-8">{{ payment.helloassopayment.hello_id }}</div>
            </div>
            <div class="row">
                <div class="col-8"> <button class="btn btn-secondary" data-toggle="collapse" data-target="#hello-details"> Détails </button> </div>
                <pre class="col-12 collapse" id="hello-details">{{ payment.helloassopayment.raw|jsonify }}</pre>
            </div>
            {% endif %}

            {% if payment.refund_who %}
            <div class="row">
                <div class="col-12"><hr /></div>
            </div>
            <div class="row">
                <h6 class="col-4">Date de remboursement: </h6>
                <div class="col-8">{{ payment.refund_date|date:'d/m/Y H:i' }}</div>
            </div>
            <div class="row">
                <h6 class="col-4">Remboursé par: </h6>
                <div class="col-8"><a href="{% url 'person' payment.refund_who.id %}">{{ payment.refund_who }}</a></div>
            </div>
            <div class="row">
                <h6 class="col-4">Raison:</h6>
                <div class="col-8">{{ payment.refund_reason }}</div>
            </div>
            {% endif %}
            {% if 'refund_payment' in self.forms %}
            <div class="row">
                <h6 class="col-4"></h6>
                <div class="col-8">
                {% crispy self.forms.refund_payment %}
                <div class="alert alert-warning">Le remboursement est irréversible</div>
                </div>
            </div>
            {% endif %}

            </div>
            </div>
        </div>
    </div>
    {% if 'edit_payment' in self.forms %}
    <div class="card col-12">
        <h5 class="card-header"> Édition du paiement </h5>
        <div class="card-body">
            <div class="row">
                <div class="offset-md-2"></div>
                <div class="col-md-8">
                    {% crispy self.forms.edit_payment %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
