
{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Opération bancaire {% endblock %}

{% block content %}

{% if operation %}
<h3> Opération bancaire </h3>

<div class="row">

    <div class="col-md-6 card">
        <h5 class="card-header"> Informations </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4"> Date </div>
                <div class="col-md-8"> {{ operation.date|date:'d/m/Y' }} </div>
                <div class="col-md-4"> Identifiant opération </div>
                <div class="col-md-8"> {{ operation.opid }} </div>
                <div class="col-md-4"> Montant </div>
                <div class="col-md-8"> {{ operation.amount }} </div>
                <div class="col-md-4"> Libellé </div>
                <div class="col-md-8"> {{ operation.libele }} </div>
                <div class="col-md-4"> Détail </div>
                <div class="col-md-8"> {{ operation.detail }} </div>
                {% if operation.cashing is not None %}
                <div class="col-md-4"> Encaissement </div>
                <div class="col-md-8"><a href="{% url 'cashing' operation.cashing_id %}"> Encaissement #{{ operation.cashing_id }} </a></div>
                {% endif %}
            </div>
        </div>
    </div>
        
    {% if 'operation_to_payment' in self.forms %}
    <div class="col-md-6 card">
        <h5 class="card-header"> Encoder comme paiement </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12 alert alert-info small">Un paiement et un encaissement validé seront générés avec le montant, à la date indiquée par l'opération.</div>
                {% crispy self.forms.operation_to_payment %}
            </div>
        </div>
    </div>
    {% endif %}
        
</div>

{% endif %}

{% endblock %}