
{% extends "gafc/template.html" %}

{% load gafc_tags %}

{% block pagename %} Transfert interne {% endblock %}

{% block content %}

{% if transfer %}

<h3> Transfert interne </h3>

<div class="row">
<div class="card col-12"><h5 class="card-header"> Résumé du transfert </h5>
<div class="card-body">

<div class="row">
<div class="offset-md-3"></div>
<div class="col-md-6">

<div class="row">
    <h6 class="col-6">Id: </h6>
    <div class="col-6">T{{ transfer.id }}</div>
</div>
<div class="row">
    <h6 class="col-6">Montant: </h6>
    <div class="col-6">{{ transfer.amount }} &euro;</div>
</div>
<div class="row">
    <h6 class="col-6">Méthode: </h6>
    <div class="col-6">{{ transfer.method|payMethod }} </div>
</div>
<div class="row">
    <h6 class="col-6">Commentaire: </h6>
    <div class="col-6">{{ transfer.comment }}</div>
</div>
<div class="row">
    <div class="col-12"><hr /></div>
</div>
<div class="row">
    <h6 class="col-6">Débiteur: </h6>
    <div class="col-6"><a href="{% url 'category' transfer.category_d.id %}">{{ transfer.category_d.name }}</a> / {{ transfer.financial_d.name }}</div>
</div>
<div class="row">
    <h6 class="col-6">Créditeur: </h6>
    <div class="col-6"><a href="{% url 'category' transfer.category_c.id %}">{{ transfer.category_c.name }}</a> / {{ transfer.financial_c.name }}</div>
</div>
{% if transfer.event %}
<div class="row">
    <h6 class="col-6">Événement: </h6>
    <div class="col-6"><a href="{% url 'event' transfer.event.id %}">{{ transfer.event.title }}</a></div>
</div>
{% endif %}
<div class="row">
    <div class="col-12"><hr /></div>
</div>
<div class="row">
    <h6 class="col-6">Encodeur: </h6>
    <div class="col-6"><a href="{% url 'person' transfer.person.id %}">{{ transfer.person }}</a></div>
</div>
<div class="row">
    <h6 class="col-6">Date d'encodage: </h6>
    <div class="col-6">{{ transfer.pay_done }}</div>
</div>
<div class="row">
    <h6 class="col-6">Saison: </h6>
    <div class="col-6">{{ transfer.season.name }}</div>
</div>

</div>

</div>
</div>
</div>

{% endif %}

{% endblock %}
