{% extends "gafc/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Encadrants {% endblock %}

{% block content %}
<h3> Encadrants </h3>
<div class="row">
    <div class="col-12 alert alert-info d-none d-md-flex">
        Pour chaque personne, les lignes de haut en bas pour le rôle: Pro, Encadrant, Co-encadrant.
        Premier chiffre: nombre de journées, chiffre entre parenthèses: nombre d'événements.
    </div>
    <div class="col-12 card">
        <h5 class="card-header">Encadrants {{ season.name }}</h5>
        <div class="card-body">
            {% for k,s in staffing.items %}
                {% if forloop.counter0|divisibleby:10 %}
                    <div class="row pb-2 pt-2 alert-primary d-none d-md-flex">
                        <div class="col-2"></div>
                        {% for k0,c in s.items %}
                        {% if k0 in cid_ok %}
                            <div class="col pl-0 pr-0 text-center">
                                <a class="alert-link" href="{% url 'category' c.category.id %}">{{ c.category.name }}</a>
                            </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col pl-0 pr-0 font-weight-bold text-center">Total</div>
                    </div>
                {% endif %}
                
                <div class="row {% cycle 'bg-light' '' %}">
                {% for k0,c in s.items %}
                    {% if forloop.first %}
                        <div class="col-md-2 col-12"><a href="{% url 'person' c.person.id %}">{{ c.person.first_name }} {{ c.person.last_name }}</a></div>
                    {% endif %}
                    {% if k0 in cid_ok %}
                    <div class="col-md col-12 {% if c.pr_time == 0 and c.su_time == 0 and c.co_time == 0 %}d-none d-md-flex{% endif %}">
                        <div class="row">
                            <div class="col-5 d-md-none">{{ c.category.name }} </div>
                            <div class="col-3 d-md-none">{% if c.pr_count > 0 %}Pro{% endif %}</div>
                            <div class="col-4 col-md-12 text-right">{% if c.pr_count > 0 %}{{ c.pr_time }} ({{ c.pr_count }}){% else %}<span class="d-none d-md-flex">&nbsp;</span>{% endif %}</div>
                            <div class="offset-5 d-md-none"></div>
                            <div class="col-3 d-md-none">{% if c.su_count > 0 %}Enc{% endif %}</div>
                            <div class="col-4 col-md-12 text-right">{% if c.su_count > 0 %}{{ c.su_time }} ({{ c.su_count }}){% else %}<span class="d-none d-md-flex">&nbsp;</span>{% endif %}</div>
                            <div class="offset-5 d-md-none"></div>
                            <div class="col-3 d-md-none">{% if c.co_count > 0 %}Coe{% endif %}</div>
                            <div class="col-4 col-md-12 text-right">{% if c.co_count > 0 %}{{ c.co_time }} ({{ c.co_count }}){% else %}<span class="d-none d-md-flex">&nbsp;</span>{% endif %}</div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% with s.total as c %}
                    <div class="col">
                        <div class="row">
                            <div class="col-12 text-right font-weight-bold">{% if c.pr_count > 0 %}{{ c.pr_time }} ({{ c.pr_count }}){% else %}<span class="d-none d-md-flex">&nbsp;</span>{% endif %}</div>
                            <div class="col-12 text-right font-weight-bold">{% if c.su_count > 0 %}{{ c.su_time }} ({{ c.su_count }}){% else %}<span class="d-none d-md-flex">&nbsp;</span>{% endif %}</div>
                            <div class="col-12 text-right font-weight-bold">{% if c.co_count > 0 %}{{ c.co_time }} ({{ c.co_count }}){% else %}<span class="d-none d-md-flex">&nbsp;</span>{% endif %}</div>
                        </div>
                    </div>
                {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}