{% extends "template.html" %}
{% load gafc_tags %}

{% block title %}GUCEM - {% block pagename %}Inscriptions{% endblock %}{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="navbar-brand">
        GUCEM
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="main_menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url "home" %}">Profil</a></li>
            {% if request.user.is_staff %}<li class="nav-item"><a class="nav-link" href="{% url "dashboard" %}">Tableau de bord</a></li>{% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url "list_events" %}">Événements</a></li>
            {% if request.user.global_perms.view_person or request.user.global_perms.import_person or request.user.global_perms.import_license or request.user.can_view_permission %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="main_menu_persons" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Adhérents </a>
                <div class="dropdown-menu" aria-labelledby="main_menu_persons">
                    {% if request.user.global_perms.view_person %}<a class="dropdown-item" href="{% url 'list_persons' %}">Liste des adhérents</a>{% endif %}
                    {% if request.user.global_perms.view_person %}<a class="dropdown-item" href="{% url 'staffing_all' %}">Encadrants</a>{% endif %}
                    {% if request.user.global_perms.view_sympamailinglist %}<a class="dropdown-item" href="{% url 'mailings' %}">Mailing list</a>{% endif %}
                    {% if request.user.can_view_permission %}<a class="dropdown-item" href="{% url 'permissions' %}">Gestion des accès</a>{% endif %}
                </div>
            </li>
            {% endif %}
            {% if request.user.global_perms.view_category %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="main_menu_category" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Catégories </a>
                <div class="dropdown-menu" aria-labelledby="main_menu_category">
                    {% for c in g_categories %}
                    <a class="dropdown-item" href="{% url 'category' c.id %}">{{ c.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </li>
            {% if request.user.global_perms.view_equipment %}
            <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="main_menu_equipment" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Équipements </a>
                <div class="dropdown-menu" aria-labelledby="main_menu_category">
                    <a class="dropdown-item" href="{% url 'list_equipment' %}"> Liste des équipements </a>
                    <a class="dropdown-item" href="{% url 'calendar_equipment' %}"> Calendrier de réservation </a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="main_menu_persons" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Finances </a>
                <div class="dropdown-menu" aria-labelledby="main_menu_persons">
                    {% if request.user.global_perms.view_cashing %}<a class="dropdown-item" href="{% url "financial" %}"> Encaissements </a>{% endif %}
                    {% if request.user.global_perms.change_accountoperation %}<a class="dropdown-item" href="{% url "accountoperations" %}"> Banque: operations </a>{% endif %}
                    {% if request.user.global_perms.change_accountoperation %}<a class="dropdown-item" href="{% url "accountbalance" %}"> Banque: soldes </a>{% endif %}
                    {% if request.user.global_perms.view_financialcategory %}
                    <a class="dropdown-item" href="{% url "fincat" %}"> Imputations </a>
                    <a class="dropdown-item" href="{% url "fin_balance" %}"> Bilan </a>
                    {% if request.user.global_perms.view_forseenbalance %}<a class="dropdown-item" href="{% url "fin_forseenbalances" %}"> Budgets prévisionnels </a>{% endif %}                    
                    {% endif %}
                    {% if request.user.global_perms.view_helloassopayment %}<a class="dropdown-item" href="{% url "helloasso_payments" %}"> Paiements helloasso </a>{% endif %}
                    <a class="dropdown-item" href="{% url "financial_refund" %}">Notes de frais</a>
                </div>
            </li>
            {% if request.user.is_staff %}<li class="nav-item"><a class="nav-link" href="{% url "settings" %}"> Configuration </a></li>{% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url "logout" %}"> Logout </a></li>
        </ul>
    </div>


    {% if request.user.is_staff %}
    <form method="POST" action="{% url 'set_season' %}?next={{request.path}}" class="form-inline">
        <input type="hidden" name="whattodo" value="set_season" />
        {% csrf_token %}
        <div class="form-group">
            <label for="season" class="text-light">{{ g_season_form.season.label }} : </label>{{ g_season_form.season }} {{ g_season_form.season.error }}
        </div>
    </form>
    {% endif %}
</nav>
{% endif %}

{% if g_warn_licenses %}
<div class="alert alert-warning">
Attention, le fichier des licences date du <b>{{ g_licensefile_date|date:'d/m/Y' }}</b>. Veuillez mettre à jour <a href="{% url 'import_members' %}">ici</a>.
</div>
{% endif %}

{% comment %}        
{% if not request.user.is_anonymous and not request.user.is_caci_valid %}

<!-- div class="alert alert-danger">Vous n'avez pas fourni de certificat médical. Veuillez en apporter un à la permanence afin de pouvoir participer aux activités du club. Le certificat médical doit obligatoirement porter la mention: "Non contre-indication à la pratique des sports de montagnes."</div -->
        
{% if request.user.caci_tol_days > 0 %}

<!-- div class="alert alert-warning">Il vous reste {{ request.user.caci_tol_days }} jours pour fournir votre certificat médial à la permanence du club.</div -->    
        
{% endif %}
{% endif %}

{% endcomment %}

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="container">
{% block content %}{% endblock %}
</div>

{% endblock %}
