{% extends "gafc/template.html" %}

{% load gafc_tags %}
{% load crispy_forms_tags %}

{% block pagename %} Test {% endblock %}


{% block content %}

{% if form %}
<div class="row">
    <div class="col-12 card">
        <h5 class="card-header"> Test form </h5>
        <div class="card-body">
           {% crispy form %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}