
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #EEEEEE;
    margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.strike {
    text-decoration: line-through;
}

.tt-menu {
    background-color: #FFF;
    border: 1px solid;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;

}

.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #FFF;
}

.twitter-typeahead {
    width: 100%;
    display:block !important;
}

.text-vertical {
    /* writing-mode: sideways-lr; */
    transform: rotate(-90deg);
}


@media(min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px !important;
    }
}

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
