{% extends "keys/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} {{ group.id|stringformat:'03d' }} - {{ group.name }} {% endblock %}

{% block content %}

<div class="row">
    <div class="card col-md-7">
        <h5 class="card-header"> Trousseau {{ group.id|stringformat:'03d' }} </h5>
        <div class="card-body">
            {% crispy self.forms.keygroup_form_save %}
        </div>
    </div>
    <div class="card col-md-5">
        <h5 class="card-header"> Utilisateurs </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12"><a href="#form_usage" data-toggle="collapse" class="btn btn-secondary">Ajouter utilisateur</a></div>
                <div class="col-12 collapse" id="form_usage" >
                    {% crispy self.forms.keyloan_form_save %}
                </div>
            </div>
            {% for l in group.keyloan_set.all %}
            <div class="row">
                <div class="col-10">
                    <a href="{% url 'person' l.person_id %}">{{ l.person }}</a> ({{ l.date_in|date:'d/m/Y' }} -> {{ l.date_out|date:'d/m/Y' }})
                </div>
                <div class="col-2">
                {% if l.date_out is None %}
                {% setFieldValue self.forms.keyloan_finish_form_save loan=l.pk %}
                {% crispy self.forms.keyloan_finish_form_save %}
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}