{% extends "keys/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} Clés {% endblock %}

{% block content %}
<h3> Gestion des clés </h3>

<div class="row">
    <div class="col-12">
        {% if 'key_form_save' in self.forms %}
        <a href="#form_key" data-toggle="collapse" class="btn btn-secondary">Ajouter une clé</a>
        {% endif %}
        
        {% if 'keygroup_form_save' in self.forms %}
        <a href="#form_keygroup" data-toggle="collapse" class="btn btn-secondary">Ajouter un trousseau</a>
        {% endif %}
    </div>

    <div class="collapse card col-md-6" id="form_key">
        <h5 class="card-header"> Ajouter une clé </h5>
        <div class="card-body">
        {% if 'key_form_save' in self.forms %}
        {% crispy self.forms.key_form_save %}
        {% endif %}
        </div>
    </div>

    <div class="collapse card col-md-6" id="form_keygroup">
        <h5 class="card-header"> Ajouter un trousseau </h5>
        <div class="card-body">
        {% if 'keygroup_form_save' in self.forms %}
        {% crispy self.forms.keygroup_form_save %}
        {% endif %}
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8 card">
        <h5 class="card-header"> Trousseaux </h5>
        <div class="card-body">
            {% for g in groups %}
            <div class="row {% cycle 'alert-secondary' '' %}">
                <div class="col-md-3"><a href="{% url 'keys_group' g.id %}"> {{ g.id|stringformat:'03d' }} - {{ g }}</a> </div>
                <div class="col-md-4">
                    {% for k in g.keys.all %}
                    <div class="row"><div class="col">{{ k }}</div></div>
                    {% endfor %}
                </div>
                <div class="col-md-5">
                    {% for l in g.keyloan_set.all %}
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'person' l.person.id %}">{{ l.person }}</a> ({{ l.date_in|date:'d/m/Y' }})
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card">
        <h5 class="card-header"> Clés </h5>
        <div class="card-body">
        
            {% for k in keys %}
            <div class="row">
                <div class="col"><a href="{% url 'keys_key' k.id %}"> {{ k }}</a> </div>
            </div>
            {% endfor %}
        
        </div>
    </div>
</div>


{% endblock %}