{% extends "keys/template.html" %}
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% block pagename %} {{ key.name }} {% endblock %}

{% block content %}

<div class="row">
    <div class="card col-md-8">
        <h5 class="card-header"> Clé </h5>
        <div class="card-body">
            {% crispy self.forms.key_form_save %}
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header"> Usages </h5>
        <div class="card-body">
            {% for t in key.keygroup_set.all %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'keys_group' t.id %}">{{ t.id|stringformat:'03d' }} - {{ t.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}