{% extends "template.html" %}
{% load gafc_tags %}

{% block title %}GUCEM - {% block pagename %}Clés{% endblock %}{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="navbar-brand">
        GUCEM - Clés
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="main_menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'keys_home' %}">Clés</a></li>
        </ul>
    </div>
</nav>
{% endif %}

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="container">
{% block content %}{% endblock %}
</div>

{% endblock %}
