
{% load crispy_forms_tags %}
{% load static %}
{% load gafc_tags %}

{% if 'send_email' in self.forms %}

<form method="POST" id="sendmail">
{% csrf_token %}
<input type="hidden" name="whattodo" value="send_email" />

<div class="row">
    <div class="col-xl-4">
        <div class="row">
            <h6 class="col-6">Participant</h6>
            <h6 class="col-3 p-1"> LA/AN/PR </h6>
            <h6 class="col-3 p-1">To/Cc/Bcc</h6>
        </div>
        {% for p in participations %}
            <div class="row {% if p.role != '0PA' %}bg-light{% endif %}">
                <div class="col-6">{{ p.person.first_name }} {{ p.person.last_name|upper }}</div>
                <div class="col-3 p-1">
                    {% if p.waiting %}{% b_icon 'check-square-fill' %}{% else %}{% b_icon 'square' %}{% endif %}
                    {% if p.cancelled %}{% b_icon 'check-square-fill' %}{% else %}{% b_icon 'square' %}{% endif %}
                    {% if p.event_done %}{% b_icon 'check-square-fill' %}{% else %}{% b_icon 'square' %}{% endif %}
                </div>
                <div class="col-3 p-1">
                    <input type="checkbox" name="email_to" value="{{ p.person.email }}" {% if p.person.email in self.forms.send_email.cleaned_data.email_to %}checked{% endif %}/>
                    <input type="checkbox" name="email_cc" value="{{ p.person.email }}" {% if p.person.email in self.forms.send_email.cleaned_data.email_cc %}checked{% endif %}/>
                    <input type="checkbox" name="email_bcc" value="{{ p.person.email }}" {% if p.person.email in self.forms.send_email.cleaned_data.email_bcc %}checked{% endif %}/>
                </div>
            </div>
        {% endfor %}
        {% if self.forms.send_email.email_to.errors or self.forms.send_email.email_cc.errors or self.forms.send_email.email_bcc.errors %}
        <div class="alert alert-danger">
            {{ self.forms.send_email.email_to.errors }}
            {{ self.forms.send_email.email_cc.errors }}
            {{ self.forms.send_email.email_bcc.errors }}
        </div>
        {% endif %}
        <div class='row'>
            <div class="col-12">
                <input type="text" class="textinput form-control {% if self.forms.send_email.email_to_add.errors %}is-invalid{% endif %}" placeholder='"To" supplémentaire' name="email_to_add" value="{% if self.forms.send_email.email_to_add.value %}{{ self.forms.send_email.email_to_add.value }}{% endif %}" />
                <div class="invalid-feedback">{{ self.forms.send_email.email_to_add.errors }}</div>
            </div>
        </div>
        <div class='row'>
            <div class="col-12">
                <input type="text" class="textinput form-control {% if self.forms.send_email.email_cc_add.errors %}is-invalid{% endif %}" placeholder='"Cc" supplémentaire' name="email_cc_add" value="{% if self.forms.send_email.email_cc_add.value %}{{ self.forms.send_email.email_cc_add.value }}{% endif %}" />
                <div class="invalid-feedback">{{ self.forms.send_email.email_cc_add.errors }}</div>
            </div>
        </div>
        <div class='row'>
            <div class="col-12">
                <input type="text" class="textinput form-control {% if self.forms.send_email.email_bcc_add.errors %}is-invalid{% endif %}" placeholder='"Bcc" supplémentaire' name="email_bcc_add" value="{% if self.forms.send_email.email_bcc_add.value %}{{ self.forms.send_email.email_bcc_add.value }}{% endif %}" />
                <div class="invalid-feedback">{{ self.forms.send_email.email_bcc_add.errors }}</div>
                <small id="hint_id_hidden" class="form-text text-muted">Séparés par des virgules. Pour envoyer sur la liste de diffusion: gucem-club@listes.gresille.org</small>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="row">
            <h6 class="col-md-4"> De: </h6>
            <div class="col-md-8">
                <select name="email_from" class="custom-select {% if self.forms.send_email.email_from.errors %}is-invalid{% endif %}">
                    {% for e in self.forms.send_email.fields.email_from.choices %}
                        <option value="{{e.0}}" {% if self.forms.send_email.email_from.value == e.0 %}selected{% endif %}>{{e.1}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">{{ self.forms.send_email.email_from.errors }}</div>
            </div>
        </div>
        <div class="row">
            <h6 class="col-md-4"> Répondre à: </h6>
            <div class="col-md-8">
                <select name="email_replyto" class="custom-select {% if self.forms.send_email.email_replyto.errors %}is-invalid{% endif %}">
                    {% for e in self.forms.send_email.fields.email_replyto.choices %}
                        <option value="{{e.0}}" {% if self.forms.send_email.email_replyto.value == e.0 %}selected{% endif %}>{{e.1}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">{{ self.forms.send_email.email_replyto.errors }}</div>
            </div>
        </div>
        <div class="row">
            <h6 class="col-md-4"> Titre du mail: </h6>
            <div class="col-md-8">
                <input type="text" class="textinput form-control {% if self.forms.send_email.email_title.errors %}is-invalid{% endif %}" name="email_title" value="{% if self.forms.send_email.email_title.value %}{{ self.forms.send_email.email_title.value }}{% endif %}" />
                <div class="invalid-feedback">{{ self.forms.send_email.email_title.errors }}</div>
            </div>
        </div>
        <div class="row">
            <h6 class="col-12">Contenu:</h6>
            <div class="col-12">
                <textarea class="textinput form-control text-monospace {% if self.forms.send_email.email_content.errors %}is-invalid{% endif %}" name="email_content" style="" rows="8">{% if self.forms.send_email.email_content.value %}{{ self.forms.send_email.email_content.value }}{% endif %}</textarea>
                <small class="mb-3 text-muted">Supporte le formattage <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="text-muted"><b>markdown</b></a></small>
                <div class="invalid-feedback">{{ self.forms.send_email.email_content.errors }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"><input type="checkbox" name="email_html" id="email_html" {% if self.forms.send_email.cleaned_data.email_html %}checked{% endif %}/> <label for="email_html">envoyer un mail HTML</label> </div>
            <div class="col-6 col-md-4">
                <input type="submit" class="btn btn-primary" value="Envoyer!">
            </div>
            <div class="col-6 col-md-4">
                <span class="btn btn-secondary" data-toggle="collapse" data-target="#email_vars"> Voir les variables </span>
            </div>
            <div class="col-12 collapse" id="email_vars">
                <ul>
                {% verbatim %}
                <li>{{ event.title }} : Titre de l'événement </li>
                <li>{{ event.description }} : Description de l'événement </li>
                <li>{{ event.begin }} : Object date de début (utiliser le filtre date pour formatter) </li>
                <li>{{ event.finish }} : Object date de fin (utiliser le filtre date pour formatter) </li>
                <li>{{ event.type }} : Type d'événement </li>
                <li>{{ event.place }} : Lieu de l'événement </li>
                <li>{{ event.category }} : Catégorie de l'évenement </li>
                <li>{{ event.cost }} : Coût de base de l'événement </li>
                <li>{{ event.season }} : Saison de l'événement </li>
                <li>{{ event.helloasso_link }} : Lien de paiement Helloasso </li>
                <li>{{ participation_link }} : Lien vers le formulaire de participation </li>
                <li>{{ admin_link }} : Lien vers la page d'administration (cette page)</li>
                {% endverbatim %}
                <div class="alert alert-info">
                    Les <a href="https://docs.djangoproject.com/fr/3.0/ref/templates/builtins/" class="text-info">filtres de django</a> sont utilisable dans les emails
                </div>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12"> <hr /> </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="input-group">
                    <select class="custom-select" id="email_load_select">
                        {% for k,e in admin_mail.items %}
                        <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                        {% for k in emails_custom %}
                        <option value="{{k.id}}">{{k.title}}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <input type="button" id="email_load_btn" value="Charger" class="btn btn-primary" />
                        <input type="button" id="email_del_btn" value="Supprimer" disabled class="btn btn-danger rounded-right" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <input type="button" class="btn btn-primary" id="email_preview" value="Prévisualiser" />
            </div>
            <div class="col-lg-4 btn-group">
                <input type="hidden" id="email-id" />
                <input type="button" class="btn btn-primary rounded-left" id="email_save_new_btn" value="Enregister nouveau" />
                <input type="button" class="btn btn-primary rounded-right" id="email_save_btn" disabled value="Enregistrer"/>
            </div>
            <div class="col-12" id="email_preview_area">
            
            </div>
        </div>
    </div>
</div>

</form>

<script type="text/javascript">

$(function() {

    $('#email_load_btn').click(function() {
        $.ajax({
            url: '{% url 'cbk_event' %}',
            method: 'POST',
            dataType: 'json',
            data: {
                'what': 'load',
                'event_id': '{{ e.id }}',
                'id': $('#email_load_select').val()
            },
            success: function(data, code, xhr) {
                $('textarea[name=email_content]').val(data.content)
                $('input[name=email_title]').val(data.title)
                $('#email-id').val(data.id)
                
                if(data.admin) {
                    $('#email_save_btn').prop('disabled', true)
                    $('#email_del_btn').prop('disabled', true)
                } else {
                    $('#email_save_btn').prop('disabled', false) 
                    $('#email_del_btn').prop('disabled', false)               
                }
            }
        })
    })
    
    $('#email_preview').click(function() {
        $.ajax({
            url: '{% url 'cbk_event' %}',
            method: 'POST',
            dataType: 'json',
            data: {
                'what': 'preview',
                'content': $('textarea[name=email_content]').val(), 
                'event_id': '{{ e.id }}',
                'title': $('input[name=email_title]').val()
            },
            success: function(data, code, xhr) {
            
                content = '<h4>Titre: '+data.title+'</h4>'

                if($('#email_html').prop('checked')) {
                    content += data.content_html
                } else {
                    content += '<pre style="word-break: normal; white-space: pre-wrap; ">'+data.content_md+'</pre>'                
                }
                //alert($('#email_html').prop('checked'))
            
                $('#email_preview_area').html(content)
            },
            error: function(data, code, xhr) {
            
                if(data.status == 400) {
                    content = "<div class='alert alert-danger'>"+data.responseJSON.error+"</div>"
                } else {
                    content = "<div class='alert alert-danger'> Erreur: "+data.responseText+"</div>"
                }
                
                $('#email_preview_area').html(content)
            }
        })
    })
    
    $('#email_save_new_btn').click(function() {
        $.ajax({
            url: '{% url 'cbk_event' %}',
            method: 'POST',
            dataType: 'json',
            data: {
                'what': 'save_new',
                'title': $('input[name=email_title]').val(),
                'event_id': '{{ e.id }}',
                'content': $('textarea[name=email_content]').val()
            },
            success: function(data, code, xhr) {
                alert('Enregistré!')
            }
        })
    })
    
    $('#email_save_btn').click(function() {
        $.ajax({
            url: '{% url 'cbk_event' %}',
            method: 'POST',
            dataType: 'json',
            data: {
                'what': 'save',
                'id' : $('#email-id').val(),
                'title': $('input[name=email_title]').val(),
                'event_id': '{{ e.id }}',
                'content': $('textarea[name=email_content]').val()
            },
            success: function(data, code, xhr) {
                alert('Enregistré!')
            }
        })
    })
    
    $('#email_del_btn').click(function() {
        $.ajax({
            url: '{% url 'cbk_event' %}',
            method: 'POST',
            dataType: 'json',
            data: {
                'what': 'delete',
                'event_id': '{{ e.id }}',
                'id' : $('#email_load_select').val()
            },
            success: function(data, code, xhr) {
                alert('Supprimé!')
                v = $('#email_load_select').val()
                $('#email_load_select option[value='+v+']').remove()
            }
        })
    })
})

</script>

{% endif %}
