
{% load crispy_forms_tags %}
{% load gafc_tags %}

<div class="row">
    <div class="col-lg-6">
        {% if request.user.perms.view_payment %}
        {% if payments.count > 0 %}
        <div class="row d-none d-md-flex">
            <h6 class="col-2 col-md-2 pl-md-1 pr-md-1"> Id </h6>
            <h6 class="col-6 col-md-4"> Contrepartie </h6>
            <h6 class="col-4 col-md-2 text-nowrap"> Catégorie </h6>
            <h6 class="col-6 col-md-2 text-nowrap"> Méthode </h6>
            <h6 class="col-6 col-md-2 text-nowrap"> Montant </h6>
        </div>
        {% for p in payments %}
        <div class="row pb-1 pt-1 {% if p.refund_date %}strike alert-danger{% else %}{% cycle 'bg-light' ''%}{% endif %}">
            <div class="col-2 col-md-2 pl-md-1 pr-md-1 text-nowrap"><a href="{% url 'payment' p.id %}">#P{{ p.id }}</a></div>
            <div class="col-6 col-md-4"><a href="{% url 'person' p.person.id %}">{{ p.person.first_name|capfirst }} {{p.person.last_name|upper}}</a></div>
            <div class="col-4 col-md-2 text-nowrap"><a href="{% url 'category' p.category.id %}">{{ p.category }}</a></div>
            <div class="col-6 col-md-2 text-nowrap">{{ p.method|payMethod }}</div>
            <div class="col-6 col-md-2 text-nowrap text-right">{{ p.amount|floatformat:2 }}</div>
        </div>
        {% endfor %}
        <div class="row"><div class="col-12"><hr /></div></div>    
        {% for tt in totaux.items %}
            {% for t in tt.1.items %}
                {% if t.0 == 'cat' %}
                {% else %}
                {% ifchanged tt.1.cat.id %}<div class="row d-md-none"><div class="col-12"><hr /></div></div>{% endifchanged %}
                <div class="row">
                    <div class="col-12 col-md-6"> {% ifchanged tt.1.cat.id %}<a href="{% url 'category' tt.1.cat.id %}">{{tt.1.cat.name}}</a>{% endifchanged %} </div>
                    <div class="col-6 col-md-3 text-nowrap">{{ t.0|payMethod }}</div>
                    <div class="col-2 col-md-1 text-nowrap">{{ t.1.N }}</div>
                    <div class="col-4 col-md-2 text-nowrap text-right">{{ t.1.t|floatformat:2 }}</div>
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}  
        
        {% endif %}

        <div class="row">
            <div class="col-12 alert alert-info small">
            Allez sur la fiche du paiement (clic sur référence du paiement) pour effectuer un remboursement.
            </div>        
        </div>
        
        {% if 'add_payment' in self.forms %}
        <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#formPaymentContent" aria-expanded="false" aria-controls="formPaymentContent"> Ajouter un paiement </button>
        
        <div class="collapse {% if form_payment.errors %}show{% endif %}" id="formPaymentContent" aria-labelledby="formPaymentHeader">
            <div class="card-body">{% crispy self.forms.add_payment %} 
            {{ form_payment.errors }}
            </div>       
        </div>
        {% endif %}
        {% if 'convert_hello' in self.forms %}
        <div class='row mt-3'><h6 class="text-center col-12">Paiements Helloasso en attente</h6></div>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="whattodo" value="convert_hello" />
            {% for p in hello_payments %}
            <div class='row'>
                <div class="col-8">{{ p.name }}</div>
                <div class="col-4 text-right">{{ p.amount }} &euro;</div>
                
                <div class="input-group mb-3 col-12">
        
                    <div class="input-group">
                        <input type="text" class="form-control gafc-typeahead-search rounded-left" typeahead-source="{% url 'persons_json' %}" placeholder="Adhérent" typeahead-callback="$('[name=payment][ref={{ p.id }}]').prop('checked',true)" typeahead-callback-invalid="$('[name=payment][ref={{ p.id }}]').prop('checked',false)"/>
                        <div class="input-group-append">
                            <span class="btn btn-danger pl-0 pr-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
                        <div class="input-group-text">
                            <input type="checkbox" value="{{ p.id }}" ref="{{ p.id }}" name="payment" />
                        </div>
                        </div>
                    <input type="hidden" class="gafc-typeahead-value" name="hello-person-{{ p.id }}" value="{{ p.default_person.id }}"/>
                    </div>
                </div>
                <div class="input-group mb-3 col-12">
                    <select ref="{{ p.id }}" class="custom-select category_list" name="hello-category-{{ p.id }}" data-linked-account="hello-account-{{ p.id }}">
                        {% for c in g_categories %}
                        {% if c.id == e.category.id or c.is_global %}
                        <option value="{{ c.id }}" {% if c.id == e.category.id %}selected{% endif %}>{{ c.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <select ref="{{ p.id }}" class="custom-select account_list" name="hello-account-{{ p.id }}">
                        <option value="" selected>---</option>
                        {% for v in treeval %}
                            <optgroup label="{{v.0}}">
                            {% for o in v.1 %}
                                <option value="{{ o.0 }}">{{ o.1 }}</option>
                            {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="offset-md-6"></div>
                <div class="col-md-6">
                    <input type="submit" value="Enregistrer" class="btn btn-primary" />
                </div>
            </div>
        </form>
        {% endif %}
        {% endif %}
    </div>

    <div class="col-lg-6">
        {% if request.user.perms.view_internalpayment %}
        {% if transfers.count > 0 %}
        <div class="row d-none d-md-flex">
            <h6 class="col-2 col-md-2"> Id </h6>
            <h6 class="col-5 col-md-3"> Débiteur </h6>
            <h6 class="col-5 col-md-3"> Créditeur </h6>
            <h6 class="col-6 col-md-2 text-nowrap"> Méthode </h6>
            <h6 class="col-6 col-md-2"> Montant </h6>
        </div>
        {% for p in transfers %}
        <div class="row d-md-none"><div class="col-12"><hr /></div></div>
        <div class="row {% cycle 'bg-light' ''%}">
            <div class="col-2 col-md-2"><a href="{% url 'transfer' p.id %}">#T{{ p.id }}</a></div>
            <div class="col-5 col-md-3"><a href="{% url 'category' p.category_d.id %}">{{ p.category_d }}</a></div>
            <div class="col-5 col-md-3"><span class="d-md-none">-> </span><a href="{% url 'category' p.category_c.id %}">{{ p.category_c }}</a></div>
            <div class="col-6 col-md-2 text-wrapword">{{ p.method|payMethod }}</div>
            <div class="col-6 col-md-2">{{ p.amount|floatformat:2 }} &euro;</div>
        </div>
        {% endfor %}
        <div class="row d-md-none"><div class="col-12"><hr /></div></div>
        {% endif %}
        
        {% if 'add_transfer' in self.forms %}
        <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#formTransferContent" aria-expanded="false" aria-controls="formTransferContent"> Ajouter un transfert </button>

        <div class="collapse {% if self.forms.add_transfer.errors %}show{% endif %}" id="formTransferContent" aria-labelledby="formTransferHeader">
            <div class="card-body">{% crispy self.forms.add_transfer %} </div>    
        </div>
        {% endif %}
        {% endif %}
    </div>
</div> <!-- row -->

