
{% load crispy_forms_tags %}
{% load gafc_tags %}

    {% if 'save_event' in self.forms %}
    {% crispy self.forms.save_event %}
    {% else %}
    <div class="form-group row">
        <div class="col-sm-4"> Titre </div>
        <div class="col-sm-8"> {{ e.title }} </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Catégorie </div>
        <div class="col-sm-8"> {{ e.category.name }} </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Type </div>
        <div class="col-sm-8"> {{ e.eventtype|eventType }} </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Coût </div>
        <div class="col-sm-8"> {{ e.cost }} </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Description </div>
        <div class="col-sm-8"> {{ e.description|parse_markdown }} </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Lieu </div>
        <div class="col-sm-8"> {{ e.place }} </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Début </div>
        <div class="col-sm-8"> {{ e.begin|date:'d/m/Y H:i' }} </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Fin </div>
        <div class="col-sm-8"> {{ e.finish|date:'d/m/Y H:i' }} </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Saison </div>
        <div class="col-sm-8"> {{ e.season.name }} </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Lien de paiement Helloasso </div>
        <div class="col-sm-8"> <a href="{{ e.helloassoLink }}" target='_blank'>{{ e.helloassoLink }}</a> </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"> Visibilité </div>
        <div class="col-sm-8"> {{ e.visibility|eventVisibility }} </div>
    </div>
    <div class="row">
        <div class="col-sm-4"> Rendre publique après validation </div>
        <div class="col-sm-8"> {% if e.public_after_va %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}</div>
    </div>
    <div class="row">
        <div class="col-sm-4"> Formulaire d'inscription </div>
        <div class="col-sm-8"> {% if e.link %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}</div>
    </div>
    <div class="row">
        <div class="col-sm-4"> Licence valide uniquement </div>
        <div class="col-sm-8"> {% if e.onlyvalid %} {% b_icon 'check-square-fill' %} {% else %} {% b_icon 'square' %} {% endif %}</div>
    </div>
    {% endif %}
    <div class="form-group row">
        <div class="col-sm-4"> Encadrement </div>
        <div class="col-sm-8"> {{ e.duration }} jours </div>
    </div>
{% if e.link %}
    <div class="form-group row">
        <div class="col-sm-4"> Lien d'inscription </div>
        <div class="col-sm-8"> <a href="{% abs_url 'event_participation' e.id %}">{% abs_url 'event_participation' e.id %}</a> </div>
    </div>
{% endif %}

{% if 'delete_event' in self.forms %}
    {% crispy self.forms.delete_event %}
{% endif %}

{% comment %}<div class="alert alert-info small">
Cocher la case "Formulaire d'inscription" laisse la possibilité à tout utilisateur⋅trice enregistré de s'inscrire à l'événement. L'utilisateur⋅trice sera alors mis sur liste d'attente. Tant que les inscriptions sont ouvertes et que l'utilisateur⋅trice est en liste d'attente, il⋅elle a la possibilité de modifier/annuler lui⋅elle-même son inscription.</div>
<div class="alert alert-info small">
La case "Licence valide uniquement" n'autorise que les adhérents avec une licence valide à demander leur inscription. Cela ne s'applique pas à la saisie sur le formulaire ci-dessous.
</div>{% endcomment %}

