
{% load crispy_forms_tags %}
{% load static %}
{% load gafc_tags %}

<div class="card-body collapse dont-collapse-sm" id="card-body-part">

{% if request.user.perms.add_participation %}
<div class="row">
    <div class="col-md-6">
        {% if e.current_state == 'OP' %}
        
        <div class="input-group">
            <input type="text" class="form-control gafc-typeahead-search rounded-left" typeahead-source="{% url 'persons_json' %}" typeahead-callback="add_person(obj)" id="typeahead_add_person" placeholder="Ajouter un participant"/>
            <div class="input-group-append">
                <span class="btn btn-danger rounded-right pl-0 pr-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
            </div>
            <input type="hidden" name="add_adherent_id" class="gafc-typeahead-value"/>
        </div>
        
        {% else %}
            Mettre l'état sur "{{ 'OP'|eventState }}" pour ajouter des participants
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if 'person_license_save' in self.forms and e.current_state == 'OP' %}
        <a class="btn btn-secondary" data-toggle="collapse" href="#formAddPerson" role="button" aria-expanded="false" aria-controls="formAddPerson"> Nouvel adhérent </a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'event_licenses' request.event.pk %}">Créer les licences découvertes</a>
        {% if 'person_license_save' in self.forms and e.current_state == 'OP' %}
        <div class="collapse {% if self.forms.person_license_save.errors %}show{% endif %}" id="formAddPerson">
        {% crispy self.forms.person_license_save %}
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

<div id="formset_participation">

<div class="main_participation_table">
    <div class="row headline">
        <div class="col-lg-4">
            <div class="row">
                <h6 class='col-8 d-none d-lg-block text-center'> Participant </h6>
                <h6 class="col-4 d-none d-lg-block text-center"> Rôle </h6>
            </div>
        </div>
        <div class="col-lg-7 col-md-10">
            <div class="row" id="metadata-head-h1">
                <h6 class="col d-none d-md-block text-break text-center p-1"> Liste d'attente </h6>
                <h6 class="col d-none d-md-block text-break text-center p-1"> Annulé </h6>
                <h6 class="col d-none d-md-block text-break text-center p-1"> Présent </h6>
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 d-none d-md-block"></h6>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="row btn-group-toggle" data-toggle="buttons">
                <label class="col-4 btn btn-secondary active sort_input_label">
                    <input type="checkbox" class="sort_part" name="Date" checked/> Date {% b_icon 'sort-down' %}
                </label>
                <label class="col-4 btn btn-secondary sort_input_label active">
                    <input type="checkbox" class="sort_part" name="Licence" checked /> Licence {% b_icon 'sort-down' %}
                </label>
                <label class="col-4 btn btn-secondary active sort_input_label">
                    <input type="checkbox" class="sort_part" name="Role" checked/> Rôle {% b_icon 'sort-down' %}
                </label>
            </div>
        </div>
        <div class="col-lg-7 col-md-10">
            <div class="row btn-group-toggle" data-toggle="buttons" id="metadata-head-h2">
                <label class="col pl-0 pr-0 btn btn-secondary active sort_input_label">
                    <input type="checkbox" class="sort_part" name="Waiting" checked/> Tri {% b_icon 'sort-down' %}
                </label>
                <label class="col pl-0 pr-0 btn btn-secondary sort_input_label">
                    <input type="checkbox" class="sort_part" name="Cancelled" checked/> Tri {% b_icon 'sort-down' %}
                </label>
                <label class="col pl-0 pr-0 btn btn-secondary sort_input_label">
                    <input type="checkbox" class="sort_part" name="Done" /> Tri {% b_icon 'sort-down' %}
                </label>
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 d-none d-md-block"></h6>
    </div>
    
    {% if request.user.perms.change_event %}
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <h6 class='col-8 d-none d-lg-block'> </h6>
                <h6 class="col-4 d-none d-lg-block"> </h6>
            </div>
        </div>
        <div class="col-lg-7 col-md-10">
            <div class="row" id="metadata-head-h3">
                <h6 class="col d-none d-md-block text-break p-1"> </h6>
                <h6 class="col d-none d-md-block text-break p-1"> </h6>
                <h6 class="col d-none d-md-block text-break p-1"> </h6>
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 d-none d-md-block"></h6>
    </div>
    {% endif %}
    
    <div id="participation_table">
        
        <div class="row participation_line_skel d-none">

            <div class="col-12 d-block d-lg-none"><hr /></div>
            <div class="col-lg-4">
                <div class="row">
                    <div class='col-8 p-1'>
                        <span class="p_counter"></span>
                        <span class="line-forbidden badge-isvalid badge badge-danger d-none pl-1 pr-1">{% b_icon 'x' 18 %}</span>
                        <span class="line-invalid badge-isvalid badge badge-warning d-none pl-1 pr-1">{% b_icon 'exclamation' 18 %}</span>
                        <span class="line-valid badge-isvalid badge badge-success d-none pl-1 pr-1">{% b_icon 'check' 18 %}</span>
                        <a href="" class="person_name"></a>
                        <span class="badge badge-comments"></span>
                    </div>
                    <div class="col-4 p-0">
                        <select meta_id="role" class="form-control p-1 meta_input">
                            <option value="0PA" selected="">Participant</option>
                            <option value="1CO">Co-encadrant</option>
                            <option value="2SU">Encadrant</option>
                            <option value="3PR">Professionnel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-10">
                <div class="row metadata">
                    <div class="col-6 d-md-none" meta_id="waiting">Liste d'attente: </div>
                    <div class="col-6 col-md align-middle text-center p-0" meta_id="waiting">
                        <input type="checkbox" class="meta_input" meta_id="waiting" />
                    </div>
                    
                    <div class="col-6 d-md-none" meta_id="done">Annulé: </div>
                    <div class="col-6 col-md align-middle text-center p-0" meta_id="cancelled">
                        <input type="checkbox" class="meta_input" meta_id="cancelled" />
                    </div>
                    
                    <div class="col-6 d-md-none" meta_id="done">Présent: </div>
                    <div class="col-6 col-md align-middle text-center p-0" meta_id="done">
                        <input type="checkbox" class="meta_input" meta_id="done" />
                    </div>
                    
                    <div class="col-6 d-md-none d-none" meta_id="dummy"></div>
                    <div class="col-6 col-md align-middle text-center d-none" meta_id="dummy">
                    </div>
                </div>
                <div class="row st_meta">
                    <div class='col-6 col-md-4 d-none meta_title'></div>
                    <div class='col-6 col-md-8 p-0 d-none meta_field'><input type='text' class='meta_input form-control' /></div>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 text-nowrap text-center text-md-right p-0">
                <div class="row">
                    <div class="col-8 p-0">
                        <span class="line_total text-primary"></span><br />
                        <span class="pay_total text-success"></span>
                    </div>
                    <div class="col-4 p-0">
                        {% if e.current_state == 'OP' and request.user.perms.delete_participation %}
                            <span class="btn btn-danger btn_delete p-0">
                                <span class="d-none d-md-inline">{% b_icon 'x' 32 %}</span><span class="d-md-none p-2">Supprimer</span>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-12 collapse informations">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h6 class="col-4"> Licence </h6>
                            <div class="col-8 lineinfo-license"></div>
                        </div>
                        
                        <div class="row line-role-info">
                            <h6 class="col-4"> Rôle </h6>
                            <div class="col-8 lineinfo-role"></div>
                        </div>
                        <!--
                        <div class="row">
                            <h6 class="col-4"> Date de naissance </h6>
                            <div class="col-8 lineinfo-birthdate"></div>
                        </div>-->
                        <div class="row">
                            <h6 class="col-4"> En cas d'urgence </h6>
                            <div class="col-8 lineinfo-emg"></div>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-first">
                        <!--
                        <div class="row">
                            <h6 class="col-4"> Adresse </h6>
                            <div class="col-8 lineinfo-address"></div>
                        </div>-->
                        <div class="row">
                            <h6 class="col-4"> E-mail </h6>
                            <div class="col-8 lineinfo-email"></div>
                        </div>
                        <div class="row">
                            <h6 class="col-4"> Téléphone </h6>
                            <div class="col-8 lineinfo-tel"></div>
                        </div>
                        <div class="row">
                            <h6 class="col-4"> Certificat médical </h6>
                            <div class="col-8 lineinfo-caci"></div>
                        </div>
                    </div>
                </div>
            </div><!-- informations -->
            
            <div class="w-100"></div>
            <div class="col-12 collapse comments">
                <div class="row">
                    <div class="col-md-6 alert comment_skel d-none">
                        <div class="row">
                            <div class="col-6 commentline-who"><a href=""></a></div>
                            <div class="col-6 text-right commentline-date"></div>
                            <div class="col-12 commentline-msg"></div>
                        </div>
                    </div>
                </div>
            </div><!-- comments -->
        </div> <!-- participation_line_skel -->
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class='col-7 d-none d-lg-block'> </div>
                <div class="col-5 d-none d-lg-block"> </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-10">
            <div class="row" id="metadata-bottom-b1">
                <div class="col p-1 d-none d-md-block text-break metasum text-center" meta_id="waiting"> </div>
                <div class="col p-1 d-none d-md-block text-break metasum text-center" meta_id="cancelled"> </div>
                <div class="col p-1 d-none d-md-block text-break metasum text-center" meta_id="done"> </div>
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 d-none d-md-block p-0"></h6>
    </div>
    <div class="row"><div class="col-12"><hr /></div></div>
</div>
</div>
        

    <div class="row">
        <div class="col">
        {% if request.user.perms.change_event %}
            <a class="btn btn-secondary" data-toggle="collapse" href="#formAddColumn" role="button" aria-expanded="false" aria-controls="formAddColumn"> Gestion des colonnes </a>

            <div class="collapse {% if form_event_meta.errors %}show{% endif %}" id="formAddColumn">
                <div id="form-columns">
                    <div class="row d-none d-md-flex">
                        <div class="col-md-2">Nom</div>
                        <div class="col-md-2">Type</div>
                        <div class="col-md-2">Coût</div>
                        <div class="col-md-3">Description</div>
                        <div class="col-md-3">Choix (séparé par ,)</div>
                    </div>
                    <div class="row d-none form-column" id="default-form-column">
                        <div class="col-md-2 form-column-name"></div>
                        <div class="col-md-2 form-column-type"></div>
                        <div class="col-md-2 form-column-cost"><input type="number" min="0.00" step="0.01" class="form-control" name="col-cost"/></div>
                        <div class="col-md-3 form-column-description"><input type="text" placeholder="Description" class="form-control" name="col-description" /></div>
                        <div class="col-md-2 form-column-choices"><input type="text" placeholder="Choix" class="form-control" name="col-choices" /></div>
                        <div class="col-md-1">
                            <span class="btn btn-success p-0">{% b_icon 'check' 30 %}</span>
                            <span class="btn btn-danger p-0">{% b_icon 'x' 30 %}</span>
                        </div>
                    </div>
                </div>
                <div class="row" id="form-add-column-line">
                    <div class="col-md-2">
                        <input type="text" placeholder="Nom" name="col-name" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <select name="col-datatype" class="form-control custom-select" >
                            <option value="ST">Texte</option>
                            <option value="BO">Boolean</option>
                            <option value="IN">Nombre entier</option>
                            <option value="FL">Nombre décimal</option>
                            <option value="UN">Choix unique</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="number" min="0.00" step="0.01" placeholder="Coût" name="col-cost"  class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="Description" name="col-description"  class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" placeholder="Choix" name="col-choices" class="form-control" />
                    </div>
                    <div class="col-md-1 btn btn-primary" id="add-form-column-btn">Ajouter</div>
                </div>
                    
                <div class="row"><div class="col">Charger / Enregistrer un modèle de tableau</div></div>
                        
                <div class="row">
                    <div class="col-md-4 col-8">
                        <select id="load-cols-title" class="form-control custom-select">
                        {% for m in metamodels %}
                            <option value="{{m.name}}">{{m.name}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 col-4"><div class="btn btn-primary" id="btn-load-cols">Charger</div></div>
                    
                    <div class="col-md-4 col-8"><input type="text" class="form-control" id="save-cols-title" placeholder="Enregistrer sous" /></div>
                    <div class="col-md-2 col-4">
                        <div class="btn btn-primary" id="btn-save-cols">Enregistrer</div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
</div><!-- row -->

 <div class="row">
    <div class="col-md-6">
        Utilisateurs connectés:
        <ul id="list_of_connected">
        
        </ul>
        <div id="show_errors">
        
        </div>
    </div>
</div>



<script type="text/javascript" language="javascript">


var avail_meta = [
    {% for em in avail_eventMeta %}
        {id: "{{ em.pk }}", name: "{{ em.name|escapejs }}", dname:"{{ em.name|escapejs }} ({{ em.datatype|datatype }})", datatype: "{{ em.datatype }}", description: "{{ em.last_emd.description|escapejs }}", cost: "{{ em.last_emd.cost }}", availables: "{{ em.last_emd.availables|escapejs }}"},
    {% endfor %}
];

var metaFields = {

}

var em_search = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('dname'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  identify: function(obj) { return obj.id; },
  local: avail_meta
});
    
function add_person(obj) {
    chatSocket.send(JSON.stringify({
        'type': 'add_participant',
        'id': obj.value,
    }))

    $('#typeahead_add_person').typeahead('val','').removeClass(['is-valid','is-invalid'])
}


$(function() {

    $('#error_1_id_name').css({'display': 'block'})
    
    eventMetaNameField = $('#formAddColumn input[name=col-name]')
    
    eventMetaNameField.wrap('<span class="twitter-typeahead" style="position: relative; "></span>')
    eventMetaNameField.addClass('typeahead')
    
    eventMetaNameField.typeahead({
        hint: false,
        highlight: true,
        minLength: 1
    },
    {
        name: 'eventMeta',
        display: 'dname',
        source: em_search
    }).bind('typeahead:select', function(ev, em) {
        $('#form-add-column-line select[name=col-datatype]').val(em.datatype)
        $('#form-add-column-line input[name=col-description]').val(em.description)
        if(em.cost != '') $('#form-add-column-line input[name=col-cost]').val(em.cost)
        $('#form-add-column-line input[name=col-availables]').val(em.availables)
        eventMetaNameField.typeahead('val', em.name)
    });
    
    $('.sort_input_label input').click( function() { orderLines() } )
    
    //setEventsToParticipationTable()
    updateSums()
        
    $('#add-form-column-btn').click(function() {
        chatSocket.send(JSON.stringify({
                            'type': 'add_eventMetaData',
                            'name': $('#form-add-column-line [name=col-name]').val(),
                            'datatype': $('#form-add-column-line [name=col-datatype]').val(),
                            'cost': $('#form-add-column-line [name=col-cost]').val(),
                            'description': $('#form-add-column-line [name=col-description]').val(),
                            'choices': $('#form-add-column-line [name=col-choices]').val()
                        }))
    
        $('#form-add-column-line').find('input').each(function() {
            $(this).val('')
        })
    })
    
    
    $('#btn-save-cols').click(function() {
        chatSocket.send(JSON.stringify({
                            'type': 'add_MetaModel',
                            'name': $('#save-cols-title').val()
        }))
    
        $('#save-cols-title').val('')
    })
    
    $('#btn-load-cols').click(function() {
        chatSocket.send(JSON.stringify({
                            'type': 'load_MetaModel',
                            'name': $('#load-cols-title').val()
                        }))
    })
                            
});

function kompareWaiting(a,b) {

    if(!$('.sort_part[name=Waiting]').prop('checked')) return 0

    wa1 = a.find('input[meta_id=waiting]').prop('checked')
    wa2 = b.find('input[meta_id=waiting]').prop('checked')
    
    if(wa1 == wa2) return 0
    if(wa1) return 1
    return -1
}

function komparePresent(a,b) {
    if(!$('.sort_part[name=Done]').prop('checked')) return 0
    
    wa1 = a.find('input[meta_id=done]').prop('checked')
    wa2 = b.find('input[meta_id=done]').prop('checked')
    
    if(wa1 == wa2) return 0
    if(wa1) return -1
    return 1
}

function kompareCancelled(a,b) {
    if(!$('.sort_part[name=Cancelled]').prop('checked')) return 0
    
    wa1 = a.find('input[meta_id=cancelled]').prop('checked')
    wa2 = b.find('input[meta_id=cancelled]').prop('checked')
    
    if(wa1 == wa2) return 0
    if(wa1) return 1
    return -1
}

function kompareRole(a,b) {
    if(!$('.sort_part[name=Role]').prop('checked')) return 0
    
    ro1 = a.find('select[meta_id=role]').val()
    ro2 = b.find('select[meta_id=role]').val()
    
    if(ro1 == ro2) return 0
    
    order = ['3PR','2SU','1CO','0PA']
            
    for(var i in order) {
        r = order[i]
        if(ro1 == r) return -1
        if(ro2 == r) return 1
    }
    
}

function kompareParticipationId(a,b) {
    if(!$('.sort_part[name=Date]').prop('checked')) return 0
    
    return a.attr('ref') - b.attr('ref')
}

function kompareLicense(a,b) {
    
    if(!$('.sort_part[name=Licence]').prop('checked')) return 0
    
    s1 = 0
    s2 = 0
    
    if(a.attr('valid_license') == 'true') s1 += 1
    if(a.attr('club_license') == 'true') s1 += 1
    if(a.attr('caci-invalid') == 'true') s1 -= 10
    
    if(b.attr('valid_license') == 'true') s2 += 1
    if(b.attr('club_license') == 'true') s2 += 1
    if(b.attr('caci-invalid') == 'true') s2 -= 10
    
    return s2 - s1    
}

function orderLines() {
    lines = $('.participation_line')
    
    lines.sort(function(a,b) {
        a = $(a)
        b = $(b)
        
        fnc = [kompareWaiting, kompareCancelled, komparePresent, kompareRole, kompareLicense, kompareParticipationId]
        
        for(var i in fnc) {
            r = fnc[i](a,b)
            if(r != 0) return r
        }
        
        return 0
    })
    
    $('#participation_table').append(lines)
    
    number_line()
}

function number_line() {
    role = ''
    i=1
    j=1
    
    $('.participation_line').each(function() {
        v_role = $(this).find('select[meta_id=role]').val()            
            
        if(v_role != role) {
            role = v_role
            j = 1
        }
        
        $(this).find('.p_counter').text(i+++' ('+j+++').')
    })
}

function datatypeToHtml(dt) {
    if(dt == 'BO') return '<input type="checkbox" class="meta_input"'
    else if(dt == 'IN') return '<input type="number" value="0" class="meta_input form-control"'
    else if(dt == 'FL') return '<input type="number" step="0.05" value="0" class="meta_input form-control"'
    else return '<input type="text" class="meta_input form-control"'
}

function genMetaDataField(m) {
    ret = ''

    if(m.datatype != 'UN') {
        ret += "<div class='col-6 d-md-none' meta_id='"+m.id+"'>"+m.name+"</div><div class='col-6 col-md align-middle text-center p-0' meta_id='"+m.id+"'>"+datatypeToHtml(m.datatype)+" title='"+m.description+"' aria-label='"+m.description+"' meta_id='"+m.id+"' /></div>"
    } else {
        ret += "<div class='col-6 d-md-none' meta_id='"+m.id+"'>"+m.name+"</div><div class='col-6 col-md align-middle text-center p-0' meta_id='"+m.id+"'><select meta_id='"+m.id+"' title='"+m.description+"' aria-label='"+m.description+"' class='form-control meta_input' />"

        for(var a in m.availables) {
            ret += "<option value='"+m.availables[a][0]+"'>"+m.availables[a][1]+"</option>"
        }
        ret += "</select></div>"
    }
    
    return ret;
}


function updateSums() {
    sums_meta = {
        'waiting': {
            'N': 0,
            't': 0.,
            'type': 'BO',
            'cost': 0.
        },
        'cancelled': {
            'N': 0,
            't': 0.,
            'type': 'BO',
            'cost': 0.
        },
        'done': {
            'N': 0,
            't': 0.,
            'type': 'BO',
            'cost': 0.
        }
    }
    
    for(var m in metaFields) {
        sums_meta[m] = {
            'N': 0,
            't': 0.,
            'type': metaFields[m].datatype,
            'cost': metaFields[m].cost
        }
    }
    
    $('.participation_line').each(function() {
        tot = parseFloat("{{ e.cost }}".replace(',','.'))
        idp = $(this).attr('idp')
        v_role = $(this).find('select[meta_id=role]').val()
        v_wait = $(this).find('input[meta_id=waiting]').prop('checked')
        v_cancel = $(this).find('input[meta_id=cancelled]').prop('checked')
        
        $(this).removeClass(['alert-info','alert-secondary','alert-primary', 'alert-danger'])
        
        if(v_role == '3PR') {
            $(this).addClass('alert-secondary')
        } else if(v_role == '2SU') {
            $(this).addClass('alert-primary')
        } else if(v_role == '1CO') {
            $(this).addClass('alert-info')
        }
            
        if(v_cancel) {
            $(this).removeClass(['bg-light','alert-secondary','alert-primary']).addClass('alert-danger')
        }
        
        
        if(v_wait) {
            sums_meta['waiting']['N']++
            $(this).css({'opacity': 0.4})
            $('.email_line[ref='+$(this).attr('ref')+']').hide()
        } else {
            $(this).css({'opacity': 1})
            $('.email_line[ref='+$(this).attr('ref')+']').show()
        }
        
        $(this).find('input').each(function() {
            if(!$(this)[0].hasAttribute('meta_id'))
                return
                
            m = sums_meta[$(this).attr('meta_id')]
            
            switch(m.type) {
                case 'BO':
                    v = $(this).prop('checked')
                    if(v) {
                        if(!v_wait) {
                            m.N++
                            m.t += m.cost
                        }
                        tot += m.cost
                    }
                    break
                case 'IN':
                case 'FL':
                    v = parseFloat($(this).val())
                    if(!v_wait) {
                        m.N += v
                        m.t += m.cost*v
                    }
                    tot += m.cost*v
                    break
            }
            {% if not request.user.perms.change_participation %}
                $(this).attr('disabled','disabled')
            {% endif %}
            
        })
        
        {% if not request.user.perms.change_participation %}
            $(this).find('select').each(function() {
                $(this).attr('disabled','disabled')
            })
        {% endif %}
        
        $(this).find('.line_total')
            .text(tot.toFixed(2)+' ')
            .attr('total',tot)
            .attr('idp',idp)
    })
    
    for(var k in sums_meta) {
        tt = ''
        if(sums_meta[k].cost != 0.) { tt = ' ('+sums_meta[k].t.toFixed(2)+')' }
        $('.metasum[meta_id='+k+']').text(sums_meta[k].N+tt)
    }
    
    orderLines()
}

function addParticipationLine(d) {
    line = $('.participation_line_skel').clone()
    line.addClass('participation_line')
        .removeClass(['d-none', 'participation_line_skel'])
        .attr({'ref': d.id, 'idp': d.idp, 'valid_license': d.valid_license, 'club_license': d.club_license, 'caci-invalid': false})
        
    line.find('.person_name').text(d.name).attr('href',"{% url 'person_js' %}".replace('var_person_id',d.idp))
    //line.find('.lineinfo-address').html(d.address)
    line.find('.lineinfo-email').text(d.email)
    line.find('.lineinfo-tel').text(d.phone)
    line.find('.lineinfo-license').html(d.licenses)
    line.find('.lineinfo-caci').html(d.caci)
    line.find('.lineinfo-emg').text(d.emg_contact+": "+d.emg_phone)
    //line.find('.lineinfo-birthdate').text(d.birthdate)
    line.find('.pay_total').text('+ '+d.pay_done.toFixed(2))
    
    if(d.valid_license) {
        if(d.club_license) {
            line.find('.lineinfo-license').addClass('text-success').removeClass(['text-warning', 'text-primary'])
        } else {
            line.find('.lineinfo-license').addClass('text-primary').removeClass(['text-warning', 'text-success'])
        }
    } else {
        line.find('.lineinfo-license').removeClass(['text-success', 'text-primary']).addClass('text-warning')
    }
    
    if(d.valid_license && d.club_license) {
        if(d.caci_valid) {
            line.find('.lineinfo-caci').addClass('text-success').removeClass('text-danger')
        } else {
            line.find('.lineinfo-caci').removeClass('text-success').addClass('text-danger')        
        }
    }
    
    line.find('.badge-comments').text(d.comment_count).addClass(d.badge_class)
    
    cmt_container = line.find('.comments > .row')
    fk = line.find('.comments .comment_skel')
    
    for(var c in d.comments) {
        c = d.comments[c]
        C = fk.clone()
        C.removeClass(['d-none', 'comment_skel']).addClass('comment')
        C.find('.commentline-who a').text(c.who).attr('href', "{% url 'person_js' %}".replace('var_person_id', c.who_id))
        C.find('.commentline-date').text(c.date)
        C.find('.commentline-msg').html(c.text)
        
        if(c.level == "IN") {
            C.addClass('alert-info')
        } else if (c.level == "WA") {
            C.addClass('alert-warning')
        } else if (c.level == "IM") {
            C.addClass('alert-danger')
        }
        
        cmt_container.append(C)
    }
    
    line.find('.btn_delete').click(function(evt) {
        chatSocket.send(JSON.stringify({
            'type': 'delete_participation',
            'ref': $(this).parents('.participation_line').attr('ref') 
        }))
        //evt.stopPropagation();
    })
    
    line.find('.line_total').css({'cursor':'pointer'}).click(function(evt) {
    
        pline = $(this).parents('.participation_line')
    
        $('#formPaymentContent [name=amount]').val($(this).attr('total'))
        $('#formPaymentContent [name=person_search]').typeahead('val', $('.participation_line[ref='+pline.attr('ref')+'] .person_name').text())
        $('#formPaymentContent input[name=person_search]').removeClass('is-invalid').addClass('is-valid')
        $('#formPaymentContent input[type=submit]').val('Encoder un paiement de '+$('.participation_line[ref='+pline.attr('ref')+'] .person_name').text())
        $('#formPaymentContent [name=person]').val(pline.attr('idp'))
        $('#formPaymentContent [name=category]').val({{ e.category.id }})
        $('#formPaymentContent').collapse('show')
        
         $([document.documentElement, document.body]).animate({
            scrollTop: $("#formPaymentContent").offset().top
        }, 500);
        
        //evt.stopPropagation();
    })
    
    line.find('.badge-isvalid').css({'cursor':'pointer'}).click(function() {
        $(this).parents('.participation_line').children('.collapse.informations').each(function() { $(this).collapse('toggle') })
    })
    
    line.find('.badge-comments').css({'cursor':'pointer'}).click(function() {
        $(this).parents('.participation_line').children('.collapse.comments').each(function() { $(this).collapse('toggle') })
    })
    
    line.find('input.meta_input, select.meta_input').change(function() { onMetaChanged($(this)) })
    //line.find('.btn_delete_meta').click(function() { onMetaDelete($(this).attr('meta_id')) })
    
    $('#participation_table').append(line)
}

function onMetaChanged(elm) {
    val = (elm.attr('type') == 'checkbox') ? elm.prop('checked') : elm.val()
        
    chatSocket.send(JSON.stringify({
        'type': 'update_meta',
        'meta': elm.attr('meta_id'),
        'value': val,
        'ref': elm.parents('.participation_line').attr('ref')
    }))
}

function onMetaDelete(meta_id) {
    chatSocket.send(JSON.stringify({
        'type': 'delete_eventMetaData',
        'id': meta_id
    }))
}

const chatSocket = new WebSocket(
    ((window.location.protocol == 'http:') ? 'ws' : 'wss')+'://'+window.location.host+'/ws/event/{{ e.id }}/'
);

/***************************************
 * HEARTBEAT
 ***************************************/

var heartbeat_msg = 'heartbeat', heartbeat_interval = null, missed_heartbeats = 0;

chatSocket.onopen = function(evt) {
    if (heartbeat_interval === null) {
        missed_heartbeats = 0;
        heartbeat_interval = setInterval(function() {
            try {
                missed_heartbeats++;
                if (missed_heartbeats >= 10)
                    throw new Error("Too many missed heartbeats.");
                chatSocket.send(JSON.stringify({'type': heartbeat_msg}));
            } catch(e) {
                clearInterval(heartbeat_interval);
                heartbeat_interval = null;
                console.warn("Closing connection. Reason: " + e.message);
                chatSocket.close();
            }
        }, 10000);
    }
}



chatSocket.onmessage = function(e) {

    d = JSON.parse(e.data)
    processJsonMessage(d)
    //console.log(d)

}
    
function processJsonMessage(d) {
   
    if (d.type === heartbeat_msg) {
        // reset the counter for missed heartbeats
        missed_heartbeats = 0;
        return;
    }
    
    $('#show_errors').html('')
        
    if(d.type == 'bulk') {
        d.data.forEach(processJsonMessage)
        return;
    }
    
    if(d.type == 'connect' ) {
        $('ul#list_of_connected').append('<li ref=\''+d.id+'\'>'+d.name+'</li>')
    }
    
    if(d.type == 'disconnect') {
        $('ul#list_of_connected li[ref='+d.id+']:first').remove()
    }
    
    if(d.type == 'add_participation') {
        addParticipationLine(d)
    }
    
    if(d.type == 'update_meta') {
        d.data.forEach( (v) => {
        
            field = $('#formset_participation .participation_line[ref='+v.ref+'] input[meta_id='+v.meta+'], #formset_participation .participation_line[ref='+v.ref+'] select[meta_id='+v.meta+']')
            if(field[0].hasAttribute('type') && field.attr('type') == 'checkbox')
                field.prop('checked',v.value)
            else
                field.val(v.value)
                
            if(v.meta == 'role') {
                if(v.role_ok) {
                    $('.participation_line[ref='+v.ref+'] .lineinfo-role').removeClass('text-warning').addClass('text-success').text('Valide')
                } else {
                    $('.participation_line[ref='+v.ref+'] .lineinfo-role').addClass('text-warning').removeClass('text-success').text('Invalide. Rôles valides: '+v.avail_role)
                }
                
                all_valid = v.role_ok & $('.participation_line[ref='+v.ref+']').attr('valid_license').toLowerCase() == 'true'
                
                if($('.participation_line[ref='+v.ref+']').attr('caci-invalid').toLowerCase() == 'true') {
                    $('.participation_line[ref='+v.ref+'] .line-forbidden').removeClass('d-none')
                    $('.participation_line[ref='+v.ref+'] .line-invalid').addClass('d-none')
                    $('.participation_line[ref='+v.ref+'] .line-valid').addClass('d-none')
                } else {
                    if(all_valid) {
                        $('.participation_line[ref='+v.ref+'] .line-valid').removeClass('d-none')
                        $('.participation_line[ref='+v.ref+'] .line-invalid').addClass('d-none')
                        $('.participation_line[ref='+v.ref+'] .line-forbidden').addClass('d-none')
                        
                        if($('.participation_line[ref='+v.ref+']').attr('club_license').toLowerCase() == 'true') {
                            $('.participation_line[ref='+v.ref+'] .line-valid').addClass('badge-success').removeClass('badge-primary')                 
                        } else {
                            $('.participation_line[ref='+v.ref+'] .line-valid').addClass('badge-primary').removeClass('badge-success')                   
                        }
                        
                    } else {
                        $('.participation_line[ref='+v.ref+'] .line-invalid').removeClass('d-none')
                        $('.participation_line[ref='+v.ref+'] .line-valid').addClass('d-none') 
                        $('.participation_line[ref='+v.ref+'] .line-forbidden').addClass('d-none')
                    }
                }
            }
        })
        
        updateSums()
    }
    
    if(d.type == 'delete_participation') {
        $('.row.participation_line[ref='+d.id+']').remove()
        $('#formPaymentContent select[name=person] option[value='+d.idp+']').remove()
        $('.email_line[ref='+d.id+']').remove()
        updateSums()
    }
    
    if(d.type == 'delete_eventMetaData') {
        $('h6[meta_id='+d.id+']').remove()
        $('div[meta_id='+d.id+']').remove()
        $('div.form-column[ref='+d.id+']').remove()
        delete(metaFields[d.id])
    }
    
    if(d.type == 'add_eventMetaData') {
    
        if(d.id in metaFields) {
    
            $('#metadata-head-h2 [meta_id='+d.id+']').text((d.cost == 0) ? '' : d.cost.toFixed(2))
                
            metaFields[d.id].cost = d.cost
            metaFields[d.id].description = d.description,
            metaFields[d.id].availables = d.availables
    
            if(metaFields[d.id].datatype == 'UN') {
                $('select[meta_id='+d.id+']').title = d.description
    
                ret = ""
                for(var a in d.availables) {
                    ret += "<option value='"+d.availables[a][0]+"'>"+d.availables[a][1]+"</option>"
                }
        
                $('select[meta_id='+d.id+']').html(ret)
            } else {
                $('input[meta_id='+d.id+']').title = d.description
            }
                    
            $('.form-column[ref='+d.id+'] .form-column-cost input').val(d.cost)
            $('.form-column[ref='+d.id+'] .form-column-description input').val(d.description)
            $('.form-column[ref='+d.id+'] .form-column-choices input').val(d.choices)
    
            updateSums()
        
        } else {
    
            if(d.datatype == "ST") {
                $('.row.st_meta').each(function() {
                
                    title = $(this).find('.meta_title').clone().removeClass(['d-none','meta_title']).attr('meta_id', d.id).append(d.name)
                    field = $(this).find('.meta_field').clone().removeClass(['d-none','meta_field']).attr('meta_id', d.id)
                    
                    field.find('input').attr('meta_id', d.id)
                    title.find('.btn_delete_meta').attr('meta_id', d.id)
                
                    $(this).append(title).append(field)
                })
            } else {
                $('.row.metadata').each(function() { $(this).append(genMetaDataField(d)) } )
                
                $('#metadata-head-h1').append(' <h6 class="col d-none d-md-block text-break text-center p-1" meta_id="'+d.id+'">'+d.name+'</h6>')
                $('#metadata-head-h2').append(' <h6 class="col d-none d-md-block text-break text-center p-1" meta_id="'+d.id+'">'+((d.cost == 0) ? '' : d.cost.toFixed(2))+'</h6>')
                $('#metadata-head-h3').append(' <div class="col d-none d-md-block text-center p-1" meta_id="'+d.id+'"></div>')
                $('#metadata-bottom-b1').append('<div class="col d-none d-md-block text-break text-center metasum p-1" meta_id="'+d.id+'">0</div>')
            }
            
            line = $('#default-form-column').clone()
            line.attr('id','')
            line.removeClass('d-none')
            line.attr('ref', d.id)
        
            line.find('.form-column-name').text(d.name)
            line.find('.form-column-type').text(d.datatype)
            line.find('.form-column-cost input').val(d.cost)
            line.find('.form-column-description input').val(d.description)
            line.find('.form-column-choices input').val(d.choices)
        
            line.find('.btn-danger').click(function() {
                onMetaDelete($(this).parents('.form-column').attr('ref'))
            })
                
            line.find('.btn-success').click(function() {
                
                myline = $(this).parents('.form-column')
                
                chatSocket.send(JSON.stringify({
                                'type': 'change_eventMetaData',
                                'id': myline.attr('ref'),
                                'cost': myline.find('[name=col-cost]').val(),
                                'description': myline.find('[name=col-description]').val(),
                                'choices': myline.find('[name=col-choices]').val()
                            }))              
            })
            
            $('#form-columns').append(line)
            
            $('input.meta_input[meta_id='+d.id+'], select.meta_input[meta_id='+d.id+']').change(function() { onMetaChanged($(this)) })
            //$('.btn_delete_meta[meta_id='+d.id+']').click(function() { onMetaDelete($(this).attr('meta_id')) })
            
            
            
            metaFields[d.id] = {
                'id'  : d.id,
                'datatype': d.datatype,
                'name': d.name,
                'cost': d.cost,
                'description': d.descrition,
                'availables': d.availables
            }
            
            
        }
    }
    
    if(d.type == 'error') {
        $('#show_errors').html('<div class="alert alert-danger">'+d.msg+'</div>')
    }
};

chatSocket.onclose = function(e) {
    $('ul#list_of_connected').html('')
    $('#show_errors').html('<div class="alert alert-danger">Connection au serveur perdue. Rechargez la page.</div>')
};


</script>

