
{% load crispy_forms_tags %}
{% load static %}
{% load gafc_tags %}

{% if request.user.perms.add_participation %}
<div class="row">
    <div class="col-md-8">
        {% if e.current_state == 'OP' %}

            <form method='POST' action='{% url 'event' e.id %}' id="form_add_part">
                <input type='hidden' name='whattodo' value='add_participant' />
                {% csrf_token %}

                <div class="input-group">
                    <input type="text" class="form-control gafc-typeahead-search rounded-left" typeahead-source="{% url 'persons_json' %}" typeahead-callback="$('#form_add_part').submit()" />
                    <div class="input-group-append">
                        <span class="btn btn-danger rounded-right pl-0 pr-0 gafc-typeahead-clean">{% b_icon 'x' 18 %}</span>
                    </div>
                <input type="hidden" name="person_id" class="gafc-typeahead-value"/>
                </div>
            </form>
        
        {% else %}
            Mettre l'état sur "{{ 'OP'|eventState }}" pour ajouter des participants
        {% endif %}
    </div>
</div>
{% endif %}

{% if not is_async %}
    <form  method='POST' id="formset_participation">
    <input type='hidden' name='whattodo' value='save_metas' />
    {% csrf_token %}
{% else %}
<div id="formset_participation">
{% endif %}

<div class="main_participation_table">
    <div class="row headline">
        <div class="col-lg-4">
            <div class="row">
                <h6 class='col-7 d-none d-lg-block'> Participant </h6>
                <h6 class="col-5 d-none d-lg-block"> Rôle </h6>
            </div>
        </div>
        <div class="col-lg-7 col-md-10 pl-1 pr-1">
            <div class="row metadata-head-h1">
                <h6 class="col pl-1 pr-0 d-none d-md-block text-break"> Liste d'attente </h6>
                <h6 class="col pl-1 pr-0 d-none d-md-block text-break"> Présent </h6>
        
                {% for m in forms.metas %}
                <h6 class="col pl-1 pr-0 d-none d-md-block text-break" meta_id="{{ m.id }}">{{ m.meta.name }}</h6>
                {% endfor %}
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 pl-1 pr-0 d-none d-md-block"></h6>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <h6 class='col-7 d-none d-lg-block'> </h6>
                <h6 class="col-5 d-none d-lg-block"> </h6>
            </div>
        </div>
        <div class="col-lg-7 col-md-10 pl-1 pr-1">
            <div class="row metadata-head-h2">
                <h6 class="col pl-1 pr-0 d-none d-md-block text-break"> </h6>
                <h6 class="col pl-1 pr-0 d-none d-md-block text-break"> </h6>
        
                {% for m in forms.metas %}
                <h6 class="col pl-1 pr-0 d-none d-md-block " meta_id="{{ m.id }}">{% if m.cost != 0 %}{{ m.cost }}{% endif %}</h6>
                {% endfor %}
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 pl-1 pr-0 d-none d-md-block"></h6>
    </div>
    
    {% if request.user.perms.change_event %}
    <div class="row">
        <div class="col-lg-4 pl-1">
            <div class="row">
                <h6 class='col-7 d-none d-lg-block'> </h6>
                <h6 class="col-5 d-none d-lg-block"> </h6>
            </div>
        </div>
        <div class="col-lg-7 col-md-10 pl-1 pr-1">
            <div class="row metadata-head-h3">
                <h6 class="col p-0 d-none d-md-block text-break"> </h6>
                <h6 class="col p-0 d-none d-md-block text-break"> </h6>
        
                {% for m in forms.metas %}
                <h6 class="col p-0 text-center d-none d-md-block" meta_id="{{ m.id }}">
                {% if is_async %}<span class="btn btn-danger p-1 btn_delete_meta" meta_id="{{ m.id }}">{% b_icon 'x' 22 %}</span>
                {% else %}<a class="btn btn-danger p-1 btn_delete_meta" meta_id="{{ m.id }}" href={% url 'event_del_meta' e.id m.id %}>{% b_icon 'x' 22 %}</a>{% endif %}</h6>
                {% endfor %}
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 pl-1 pr-0 d-none d-md-block"></h6>
    </div>
    {% endif %}
    
    <div id="participation_table" class="col-12">
{% for p,mf in forms %}

<div class="row participation_line" ref="{{ p.id }}" idp="{{ p.person.id }}" valid_license="{{ p.has_valid_license }}">

    <div class="col-12 d-block d-lg-none"><hr /></div>
    <div class="col-lg-4 pl-1">
        <div class="row">
            <div class='col-7'>
                <span class="p_counter"></span>
                <a href="{% url 'person' p.person.id %}" class="person_name" ref="{{ p.person.id }}">{{ p.person.first_name|capfirst }} {{ p.person.last_name|upper }}</a>
                <span class="line-invalid badge-isvalid badge badge-warning {% if p.has_valid_license and p.is_role_valid %} d-none {% endif %}">{% b_icon 'exclamation' %}</span>
                <span class="line-valid badge-isvalid badge badge-success {% if not p.has_valid_license or not p.is_role_valid %} d-none {% endif %}">{% b_icon 'check' %}</span>
                <span class="badge badge-comments {{ p.badge_class }}">{{ p.person_comments.count }}</span>
            </div>
    {% for f in mf %}
        {% if forloop.counter == 1 %}
            <div class="col-5">{{f.errors}}{{f}}</div>
            </div><!-- inner row -->
        </div><!-- col-lg-4 -->
        <div class="col-lg-7 col-md-10 pl-1 pr-1">
            <div class="row metadata">
        {% else %}
        <div class="col-6 d-md-none" meta_id="{{ f.field.widget.attrs.meta_id }}">{{ f.label }}</div>
        <div class="col-6 col-md align-middle text-center pl-1 pr-0" meta_id="{{ f.field.widget.attrs.meta_id }}">{{f.errors}}{{f}}</div>
        {% endif %}
    {% endfor %}
        </div><!-- inner row -->
    </div><!-- col-lg-7 -->
    <div class="col-lg-1 col-md-2 p-0 text-nowrap text-center text-md-right"><span class="line_total text-primary"></span>
    {% if e.current_state == 'OP' and request.user.perms.delete_participation %}
        {% if is_async %}
        <span class="btn btn-danger p-1 btn_delete">
        {% else %}
        <a href="{% url "event_del_part" e.id p.id %}" class="btn btn-danger p-1 btn_delete">    
        {% endif %}
            <span class="d-none d-md-inline">{% b_icon 'x' 22 %}</span><span class="d-md-none">Supprimer</span>
        {% if is_async %}
        </span>
        {% else %}
        </a>
        {% endif %}
    {% endif %}
    </div>
    <div class="w-100"></div>
    <div class="col-12 collapse informations">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h6 class="col-4"> Licence </h6>
                {% if p.has_valid_license %}
                <div class="col-8 text-success">
                    {% for l in p.valid_license %}
                        {{ l.federation.acronym }} {{ l.number }} <br />
                    {% endfor %}
                </div>
                {% else %}
                    <div class="col-8 text-warning">Aucune licence valide trouvée</div>
                {% endif %}
            </div>
            
            <div class="row line-role-info">
                <h6 class="col-4"> Rôle </h6>
                {% if p.is_role_valid %}
                    <div class="col-8 validation_info text-success"> Valide </div>
                {% else %}
                    <div class="col-8 validation_info text-warning"> Invalide. Rôles valides: 
                    {% for r in p.available_roles %}
                        {{ r|eventRole }}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <h6 class="col-4"> En cas d'urgence </h6>
                <div class="col-8">{% if request.user.perms.view_person %} {{ p.person.emg_contact }} : {{ p.person.emg_phone }} {% else %} *** {% endif %}</div>
            </div>
        </div>
        <div class="col-md-6 order-md-first">
            <div class="row">
                <h6 class="col-4"> E-mail </h6>
                <div class="col-8">{% if request.user.perms.view_person %} {{ p.person.email }} {% else %} *** {% endif %}</div>
            </div>
            <div class="row">
                <h6 class="col-4"> Téléphone </h6>
                <div class="col-8">{% if request.user.perms.view_person %} {{ p.person.phone }} {% else %} *** {% endif %}</div>
            </div>
            <div class="row">
                <h6 class="col-4"> Certificat médical </h6>
                <div class="col-8 lineinfo-caci">{% if request.user.perms.view_person %}{{ p.person.caci }}{% else %}***{% endif %}</div>
            </div>
        </div>
    </div>
    </div><!-- informations -->
    
    <div class="w-100"></div>
    <div class="col-12 collapse comments">
        <div class="row">
        {% for c in p.person_comments %}
            {% if c.who.id == request.user.id or request.user.perms.view_personcomment %}
            <div class="col-md-6 alert {% if c.level == "IM" %} alert-danger {% elif c.level == "WA" %} alert-warning {% else %} alert-info {% endif %}">
                <div class="row">
                    <div class="col-6"><a href="{% url 'person' c.who.id %}">{{ c.who }}</a></div>
                    <div class="col-6 text-right">{{ c.date|date:'d/m/Y' }}</div>
                    <div class="col-12">{{ c.text|linebreaksbr }}</div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div><!-- comments -->
</div> <!-- participation_line -->
{% endfor %}
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class='col-7 d-none d-lg-block'> </div>
                <div class="col-5 d-none d-lg-block"> </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-10 pl-1 pr-1">
            <div class="row" id="metadata-bottom-b1">
                <div class="col pl-1 pr-1 d-none d-md-block text-break metasum text-center" meta_id="waiting"> </div>
                <div class="col pl-1 pr-1 d-none d-md-block text-break metasum text-center" meta_id="done"> </div>
        
                {% for m in forms.metas %}
                <div class="col pl-1 pr-1 d-none d-md-block metasum text-center" meta_id="{{ m.id }}">{% if m.cost != 0 %}{{ m.cost }}{% endif %}</div>
                {% endfor %}
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 d-none d-md-block p-0"></h6>
    </div>
    <div class="row"><div class="col-12"><hr /></div></div>
    {% if not is_async %}<div class="col-12 text-center"><input class="btn btn-primary" type='submit' value='Enregistrer' /></div>{% endif %}
</div>
{% if not is_async%}
</form>
{% else %}
</div>
{% endif %}



<script type="text/javascript" language="javascript">

var avail_meta = [
    {% for em in avail_eventMeta %}
        {id: "{{ em.pk }}", name: "{{ em.name }}", dname:"{{ em.name }} ({{ em.datatype|datatype }})", datatype: "{{ em.datatype }}", description: "{{ em.last_emd.description }}", availables: "{{ em.last_emd.availables }}"},
    {% endfor %}
];


var em_search = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('dname'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  identify: function(obj) { return obj.id; },
  local: avail_meta
});


$(function() {

    $('#error_1_id_name').css({'display': 'block'})   
    
    eventMetaNameField = $('#formAddColumn input[name=name]')
    
    eventMetaNameField.wrap('<span class="twitter-typeahead" style="position: relative; "></span>')
    eventMetaNameField.addClass('typeahead')
    
    eventMetaNameField.typeahead({
        hint: false,
        highlight: true,
        minLength: 1
    },
    {
        name: 'eventMeta',
        display: 'dname',
        source: em_search
    }).bind('typeahead:select', function(ev, em) {
        $('#formAddColumn select[name=datatype]').val(em.datatype)
        $('#formAddColumn input[name=description]').val(em.description)
        $('#formAddColumn input[name=availables]').val(em.availables)
        eventMetaNameField.typeahead('val', em.name)
    });
    
    setEventsToParticipationTable()
    updateSums()
});

function setEventsToParticipationTable() {
    
    $('#formset_participation input,#formset_participation select').change(function() {
        updateSums()
    })
    
    $('.line_total').css({'cursor':'pointer'}).click(function(evt) {
        $('#formPaymentContent [name=amount]').val($(this).attr('total'))
        $('#formPaymentContent [name=person_search]').val($('.person_name[ref='+$(this).attr('idp')+']').text())
        $('#formPaymentContent input[name=person_search]').removeClass('is-invalid').addClass('is-valid')
        $('#formPaymentContent input[type=submit]').val('Encoder un paiement de '+$('.person_name[ref='+$(this).attr('idp')+']').text())
        $('#formPaymentContent [name=person]').val($(this).attr('idp'))
        $('#formPaymentContent [name=category]').val({{ e.category.id }})
        $('#formPaymentContent').collapse('show')
        
         $([document.documentElement, document.body]).animate({
            scrollTop: $("#formPaymentContent").offset().top
        }, 500);
        
        //evt.stopPropagation();
    })
    
    $('.participation_line .badge-isvalid').css({'cursor':'pointer'}).click(function() {
        $(this).parents('.participation_line').children('.collapse.informations').each(function() { $(this).collapse('toggle') })
    })
    
    $('.participation_line .badge-comments').css({'cursor':'pointer'}).click(function() {
        $(this).parents('.participation_line').children('.collapse.comments').each(function() { $(this).collapse('toggle') })
    })
}

var metaFields = {
    {% for m in forms.metas %}
    '{{ m.id }}': {
        'id'  :  {{ m.id }},
        'datatype': "{{ m.meta.datatype }}",
        'name': "{{ m.meta.name }}",
        'cost': parseFloat("{{ m.cost|floatformat:2 }}".replace(',','.')),
        'description': "{{ m.description }}",
        'availables': [
            {% for c in m.available_choices %}
                ['{{ c.0 }}', '{{ c.1 }}'],
            {% endfor %}
        ]
    },
    {% endfor %}
}

function updateSums() {
    sums_meta = {
        'waiting': {
            'N': 0,
            't': 0.,
            'type': 'BO',
            'cost': 0.
        },
        'done': {
            'N': 0,
            't': 0.,
            'type': 'BO',
            'cost': 0.
        }
    }
    
    for(var m in metaFields) {
        sums_meta[m] = {
            'N': 0,
            't': 0.,
            'type': metaFields[m].datatype,
            'cost': metaFields[m].cost
        }
    }
    
    role = ''
    i=1
    j=1
    
    $('.participation_line').each(function() {
        tot = parseFloat("{{ e.cost }}".replace(',','.'))
        idp = $(this).attr('idp')
        v_role = $(this).find('select[meta_id=role]').val()
        v_wait = $(this).find('input[meta_id=waiting]').prop('checked')
        
        $(this).removeClass(['bg-light'])
        
        if(v_role != '0PA') {
            $(this).addClass('bg-light')
        }
        
        if(v_wait) {
            sums_meta['waiting']['N']++
            $(this).css({'opacity': 0.4})
            $('.email_line[ref='+$(this).attr('ref')+']').hide()
        } else {
            $(this).css({'opacity': 1})
            $('.email_line[ref='+$(this).attr('ref')+']').show()
        }
        
        $(this).find('input').each(function() {
            m = sums_meta[$(this).attr('meta_id')]
            
            switch(m.type) {
                case 'BO':
                    v = $(this).prop('checked')
                    if(v) {
                        if(!v_wait) {
                            m.N++
                            m.t += m.cost
                        }
                        tot += m.cost
                    }
                    break
                case 'IN':
                case 'FL':
                    v = parseFloat($(this).val())
                    if(!v_wait) {
                        m.N += v
                        m.t += m.cost*v
                    }
                    tot += m.cost*v
                    break
            }
            
            {% if not request.user.perms.change_participation %}
                $(this).attr('disabled','disabled')
            {% endif %}
        })
        
        {% if not request.user.perms.change_participation %}
            $(this).find('select').each(function() {
                $(this).attr('disabled','disabled')
            })
        {% endif %}
        
        $(this).find('.line_total')
            .text(tot.toFixed(2)+' ')
            .attr('total',tot)
            .attr('idp',idp)
            
            
        if(v_role != role) {
            role = v_role
            j = 1
        }
        
        $(this).find('.p_counter').text(i+++' ('+j+++').')
    })
    
    for(var k in sums_meta) {
        tt = ''
        if(sums_meta[k].cost != 0.) { tt = ' ('+sums_meta[k].t.toFixed(2)+')' }
        $('.metasum[meta_id='+k+']').text(sums_meta[k].N+tt)
    }
}

</script>
