
{% load static %}
{% load gafc_tags %}

<div id="formset_participation">

<div class="main_participation_table">
    <div class="row headline">
        <div class="col-lg-4">
            <div class="row">
                <h6 class='col-8 d-none d-lg-block p-1'> Participant </h6>
                <h6 class="col-4 d-none d-lg-block p-1"> Rôle </h6>
            </div>
        </div>
        <div class="col-lg-7 col-md-10">
            <div class="row" id="metadata-head-h1">
                <h6 class="col d-none d-md-block text-break text-center p-1"> Liste d'attente </h6>
                <h6 class="col d-none d-md-block text-break text-center p-1"> Annulé </h6>
                <h6 class="col d-none d-md-block text-break text-center p-1"> Présent </h6>
                {% for m in e.eventmetadata_set.all %}
                    {% if m.meta.datatype != 'ST' %}
                    <h6 class="col d-none d-md-block text-break text-center p-1"> {{ m.meta.name }} </h6>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 d-none d-md-block"></h6>
    </div>
    <div class="row headline">
        <div class="col-lg-4">
            <div class="row">
                <h6 class='col-8 d-none d-lg-block text-center p-1'> </h6>
                <h6 class="col-4 d-none d-lg-block text-center p-0"> </h6>
            </div>
        </div>
        <div class="col-lg-7 col-md-10">
            <div class="row" id="metadata-head-h1">
                <h6 class="col d-none d-md-block text-break text-center p-1">  </h6>
                <h6 class="col d-none d-md-block text-break text-center p-1">  </h6>
                <h6 class="col d-none d-md-block text-break text-center p-1">  </h6>
                {% for m in e.eventmetadata_set.all %}
                    {% if m.meta.datatype != 'ST' %}
                    <h6 class="col d-none d-md-block text-break text-center p-1"> {% if m.cost %}{{ m.cost }}&euro;{% endif %} </h6>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 d-none d-md-block"></h6>
    </div>

{% for p in participations %}

        <div class="row participation_line {% if p.cancelled %} alert-danger {% else %} {% if p.role == '3PR' %} alert-secondary {% elif p.role == '2SU' %} alert-primary {% elif  p.role == '1CO'%} alert-info {% endif %}{% endif %} " {% if p.waiting %}style=" opacity: 0.4; "{% endif %} >

            <div class="col-12 d-block d-lg-none"><hr /></div>
            <div class="col-lg-4">
                <div class="row">
                    <div class='col-8 p-1'>
                        <span class="p_counter">{{ forloop.counter }}.</span>
                        
                        {% comment %}{% if not p.caci_valid %}{% endcomment %}
                        {% if 0 %}
                        <span class="line-forbidden badge badge-danger" data-toggle="collapse" data-target="#infos-line-{{ forloop.counter0 }}">{% b_icon 'x' 18 %}</span>
                        {% else %}
                        {% if p.has_valid_license and p.is_role_valid %}
                        <span class="line-valid badge {% if p.has_club_license %}badge-success{% else %}badge-primary{% endif %}" data-toggle="collapse" data-target="#infos-line-{{ forloop.counter0 }}">{% b_icon 'check' 18 %}</span>
                        {% else %}
                        <span class="line-invalid badge badge-warning" data-toggle="collapse" data-target="#infos-line-{{ forloop.counter0 }}">{% b_icon 'exclamation' 18 %}</span>
                        {% endif %}
                        {% endif %}
                        <a href="{% url 'person' p.person.id %}" class="person_name">{{ p.person }}</a>
                        <span class="badge {{ p.badge_class }}" data-toggle="collapse" data-target="#comments-line-{{ forloop.counter0 }}">{{ p.person_comments.count }}</span>
                    </div>
                    <div class="col-4 p-1">
                        {{ p.role|eventRole }}
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-10">
                <div class="row metadata">
                    <div class="col-6 d-md-none" meta_id="waiting">Liste d'attente: </div>
                    <div class="col-6 col-md align-middle text-center p-1" meta_id="waiting">
                        {% if p.waiting %}{% b_icon 'check-square-fill' %}{% else %}{% b_icon 'square' %}{% endif %}
                    </div>
                    
                    <div class="col-6 d-md-none" meta_id="done">Annulé: </div>
                    <div class="col-6 col-md align-middle text-center p-1" meta_id="cancelled">
                        {% if p.cancelled %}{% b_icon 'check-square-fill' %}{% else %}{% b_icon 'square' %}{% endif %}
                    </div>
                    
                    <div class="col-6 d-md-none" meta_id="done">Présent: </div>
                    <div class="col-6 col-md align-middle text-center p-1" meta_id="done">
                        {% if p.event_done %}{% b_icon 'check-square-fill' %}{% else %}{% b_icon 'square' %}{% endif %}
                    </div>
                    
                    {% for m in p.metadata_txt %}
                    {% if m.1 != 'ST' %}
                    <div class="col-6 d-md-none"></div>
                    <div class="col-6 col-md align-middle text-center p-1">
                    {% if m.1 == 'BO' %}
                    {% if m.2 == 'OUI' %}{% b_icon 'check-square-fill' %}{% else %}{% b_icon 'square' %}{% endif %}
                    {% else %}
                    {{ m.2 }}
                    {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row st_meta">
                    {% for m in p.metadata_txt %}
                    {% if m.1 == 'ST' %}
                    <h6 class='col-6 col-md-4'>{{m.0}}: </h6>
                    <div class='col-6 col-md-8 p-0'>{{m.2}}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-1 col-md-2 text-nowrap text-center text-md-right p-0">
                <span class="line_total text-primary">{{ p.pay_done|floatformat:2 }}</span>
            </div>
            <div class="w-100"></div>
            <div class="col-12 collapse informations" id="infos-line-{{ forloop.counter0 }}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h6 class="col-4"> Licence </h6>
                            <div class="col-8 {% if p.has_club_license %}text-success{% elif p.has_valid_license %}text-primary{% else %}text-warning{% endif %}">
                                {% for l in p.valid_license %}
                                    {{ l.federation.acronym }} {{ l.number }}<br />
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="row line-role-info">
                            <h6 class="col-4"> Rôle </h6>
                            <div class="col-8 lineinfo-role {% if p.is_role_valid %}text-success{% else %}text-warning{% endif %}">
                                {% if p.is_role_valid %}Valide{% else %}Invalide{% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <h6 class="col-4"> En cas d'urgence </h6>
                            <div class="col-8 lineinfo-emg">{% if request.user.perms.view_person %}{{ p.person.emg_contact }}: {{ p.person.emg_phone }}{% else %}***{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-first">
                        <div class="row">
                            <h6 class="col-4"> E-mail </h6>
                            <div class="col-8 lineinfo-email">{% if request.user.perms.view_person %}{{ p.person.email }}{% else %}***{% endif %}</div>
                        </div>
                        <div class="row">
                            <h6 class="col-4"> Téléphone </h6>
                            <div class="col-8 lineinfo-tel">{% if request.user.perms.view_person %}{{ p.person.phone }}{% else %}***{% endif %}</div>
                        </div>
                        <div class="row">
                            <h6 class="col-4"> Certificat médical </h6>
                            <div class="col-8 lineinfo-caci">{% if request.user.perms.view_person %}{{ p.person.caci }}{% else %}***{% endif %}</div>
                        </div>
                    </div>
                </div>
            </div><!-- informations -->
            
            <div class="w-100"></div>
            <div class="col-12 collapse comments" id="comments-line-{{ forloop.counter0 }}">
                <div class="row">
                    {% for c in p.person_comments %}
                    <div class="col-md-6 alert comment {% if c.level == 'IN' %}alert-info{% elif c.level == 'WA' %}alert-warning{% elif c.level == 'IM' %}alert-danger{% endif %}">
                        <div class="row">
                            <div class="col-6 commentline-who"><a href="{% url 'person' c.who.id %}">{{ c.who }}</a></div>
                            <div class="col-6 text-right commentline-date">{{ c.date|date:'d/m/Y' }}</div>
                            <div class="col-12 commentline-msg">{{ c.text|linebreaks }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div><!-- comments -->
        </div> <!-- participation_line_skel -->

{% endfor %}

    <div class="row"><div class="col-12"><hr /></div></div>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class='col-7 d-none d-lg-block p-1'> </div>
                <div class="col-5 d-none d-lg-block p-1"> </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-10">
            <div class="row">
                {% for d in sums_by_meta.items %}
                <div class="col p-1 d-none d-md-block text-break text-center">{{ d.1.N }}{% if d.1.cost != 0 %} ({{ d.1.t|floatformat:2 }}){% endif %}</div>
                {% endfor %}
        
                {% for m in forms.metas %}
                <div class="col p-1 d-none d-md-block metasum text-center" meta_id="{{ m.id }}">{% if m.cost != 0 %}{{ m.cost }}{% endif %}</div>
                {% endfor %}
            </div>
        </div>
        <h6 class="col-lg-1 col-md-2 d-none d-md-block p-0"></h6>
    </div>
    
</div>

