
{% load crispy_forms_tags %}
{% load gafc_tags %}

{% if e.eventreport %}

<div class="row">

<div class="card col-12"><h5 class="card-header"> Conditions de la sortie </h5>
<div class="card-body">
    <div class="row">
        <div class="offset-3 d-none d-md-flex"></div>
        <h6 class="col-5 col-md-3">Équipement utilisé</h6>
        <div class="col-7 col-md-6">{{ e.eventreport.equipment_used|linebreaksbr }}</div>
    </div>
    <div class="row">
        <div class="offset-3 d-none d-md-flex"></div>
        <h6 class="col-5 col-md-3"> Bilan de la sortie </h6>
        <div class="col-7 col-md-6">{{ e.eventreport.general_comment|linebreaksbr }}</div>
    </div>
    {% if e.eventreport.T_ext is not None %}
    <div class="row">
        <div class="offset-3 d-none d-md-flex"></div>
        <h6 class="col-5 col-md-3">Température extérieure</h6>
        <div class="col-7 col-md-6">{{ e.eventreport.T_ext|temperatureRange }}</div>
    </div>
    {% endif %}
    {% if e.eventreport.T_int is not None %}
    <div class="row">
        <div class="offset-3 d-none d-md-flex"></div>
        <h6 class="col-5 col-md-3">Température intérieure</h6>
        <div class="col-7 col-md-6">{{ e.eventreport.T_int|temperatureRange }}</div>
    </div>
    {% endif %}
    {% if e.eventreport.rain is not None %}
    <div class="row">
        <div class="offset-3 d-none d-md-flex"></div>
        <h6 class="col-5 col-md-3">Pluie</h6>
        <div class="col-7 col-md-6">{{ e.eventreport.rain|rainRange }}</div>
    </div>
    {% endif %}
    {% if e.eventreport.flow is not None %}
    <div class="row">
        <div class="offset-3 d-none d-md-flex"></div>
        <h6 class="col-5 col-md-3">Débit</h6>
        <div class="col-7 col-md-6">{{ e.eventreport.flow|flowRange }}</div>
    </div>
    {% endif %}
    {% if e.eventreport.T_water is not None %}
    <div class="row">
        <div class="offset-3 d-none d-md-flex"></div>
        <h6 class="col-5 col-md-3">Température de l'eau</h6>
        <div class="col-7 col-md-6">{{ e.eventreport.T_water|temperatureRange }}</div>
    </div>
    {% endif %}
    {% if e.eventreport.snow_quality is not None %}
    <div class="row">
        <div class="offset-3 d-none d-md-flex"></div>
        <h6 class="col-5 col-md-3">Qualité de la neige</h6>
        <div class="col-7 col-md-6">{{ e.eventreport.snow_quality|snowRange }}</div>
    </div>
    {% endif %}
</div>
</div> <!-- card -->

</div> <!-- row -->

{% endif %}
