{% load gafc_tags %}
{% load crispy_forms_tags %}


<div class="row">
    <h6 class="col-4 col-md-3"> Date </h6>
    <h6 class="col-8 col-md-4"> État </h6>
    <h6 class="col-5 d-none d-md-block"> Qui </h6>
</div>
<div class="row"><div class="col"><hr /></div></div>
{% for s in e.eventstate_set.all %}
<div class="row">
    <div class="col-md-3 col-4">{{s.date|date:"d/m/Y H:i"}}</div>
    <div class="col-md-4 col-8">{{s.state|eventState}}</div>
    <div class="col-md-5"><a href="{% url 'person' s.person.id %}">{{s.person.first_name|capfirst}} {{s.person.last_name|upper}}</a></div>
    <div class="col-12">{{s.comment}}</div>
</div>
<div class="row"><div class="col"><hr /></div></div>
{% endfor %}

{% if 'add_state' in self.forms %}
<div class="row">
<a class="btn btn-secondary" data-toggle="collapse" href="#formAddState" role="button" aria-expanded="false" aria-controls="formAddState"> Ajouter un état </a>
<div class="collapse {% if form_state.errors %}show{% endif %}" id="formAddState">
    {% crispy self.forms.add_state %}
</div>
</div>
{% endif %}

{% if 'delete_event_validation' in self.forms %}
    {% crispy self.forms.delete_event_validation %}
{% endif %}

{% if 'event_duplicate' in self.forms %}
{% crispy self.forms.event_duplicate %}
{% endif %}
