{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="HandheldFriendly" content="true" />
        
        <!-- CSS only -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- JS, Popper.js, and jQuery -->
        <!--
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        
        <!-- SPECIFIC CSS RULES -->
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        
        <!-- SPECIFIC JS -->
        <script type="text/javascript" src="{% static "js/typeahead.bundle.js" %}"></script>
        
    </head>
    <body>
        <main class="container" role="main">
        
        <nav class="site-header">
            <div class="container">
                <header class="page-header">
                {% if request.user.is_authenticated %}
                    Connecté comme {{ request.user.first_name }} {{ request.user.last_name|upper }}
                {% endif %}
                <a class="btn btn-light" href="{% url 'home' %}">Intranet</a>
                <a class="btn btn-light" href="{% url 'vehicle_home' %}">Minibus</a>
                {% if request.user.fullperms.formation.view_valorisation %}
                <a class="btn btn-light" href="{% url 'formation_accounts' %}">Formations</a>
                {% endif %}
                {%  if request.user.fullperms.keys.view_key %}
                <a class="btn btn-light" href="{% url  'keys_home'%}"> Clés </a>
                {% endif %}
                {% if request.user.is_authenticated %}
                <a class="btn btn-light" href="/wiki"> Giki </a>
                {% endif %}
                {% if request.user.is_staff %}
                <a class="btn btn-light" href="https://extranet-clubalpin.com/" target="_blank">Extranet Admin FFCAM</a>
                {% endif %}
                <a class="btn btn-light" href="https://extranet-clubalpin.com/monespace/?section=monespace" target="_blank">Extranet Perso FFCAM</a>
                </header>
            </div>
        </nav>
        
        {% block body %}{% endblock %}
        </main>
    
        <footer class="footer font-small">
            <div class="container text-center">
                <span class="text-center py-3">© 2020 - 2022 Copyright:
                    <a href="https://www.gucem.fr/"> GUCEM</a> - <a href="https://www.williamchevremont.be/">William Chèvremont</a> - Licence GPLv3
                </span>
            </div>
        </footer>
    </body>
    
    <script type="text/javascript" language="javascript" src="{% static 'js/gafc-typeahead.js' %}"></script>

    <script type="text/javascript">


var allowed_fincat = {
{% for c in g_categories %}
{{ c.id }}: [
    {% for f in c.allowed_fincat.all %}
    {{ f.id }},
    {% endfor %}
],
{% endfor %}
}

var default_fincat = {
{% for c in g_categories %}
{{ c.id }}: '{{ c.default_fincat.id }}',
{% endfor %}
}

function displayTree(elm) {

    if(elm.length == 0) return

    elm.removeClass('d-none')
    
    if(elm[0].hasAttribute('toplevel')) {
        displayTree($('optgroup[ref='+elm.attr('toplevel')+']'))
    }
}

function filterAccounts(category, account) {
    cid = category.val()
    account.find('option').addClass('d-none')
    account.find('optgroup').addClass('d-none')
    
    if(cid in allowed_fincat) {
        allowed = allowed_fincat[cid]
        
        allowed.forEach(function(v) {
            displayTree(account.find('option[value='+v+']').removeClass('d-none').parent())
        });
    }
    
    account.find('option[value=""]').removeClass('d-none')
    account.val(default_fincat[category.val()])
}

$(function() {
    
    $('select[data-linked-account]').each(function() {
        select = $(this).parents('div.card-body').find('select[name='+$(this).attr('data-linked-account')+']')
        ref = 1
        
        tree = []
        
        select.children('optgroup').each(function() {
            pre = $(this).attr('label').split(' ')[0]
            lvl = pre.length/3
            
            tree[lvl] = ref
            
            $(this).attr('level', lvl)
            $(this).attr('ref', ref++)
            
            if(lvl > 0) {
                $(this).attr('toplevel', tree[lvl-1])
            }
        });
        
        filterAccounts($(this), select)
        
        $(this).change(function() {
            select = $(this).parents('div.card-body').find('select[name='+$(this).attr('data-linked-account')+']')
            filterAccounts($(this), select)
        })
    });
    
    $('select[data-initial-force]').each(function() {
        $(this).val($(this).attr('data-initial-force'))
    });

});

</script>
    
</html>
